.themes {
  padding-top: 80px;
  background-color: #fff;
}

.themes-list {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #d6d9dc;
  margin-top: 35px;
}

.theme {
  width: 50%;
  border-right: 1px solid #d6d9dc;
  border-bottom: 1px solid #d6d9dc;
  display: block;
  overflow: hidden;
  position: relative;

  &__box {
    padding: 50px 49px;
    display: flex;
    align-items: center;
    align-content: center;
  }

  &__icon {
    margin-right: 49px;
    flex-basis: 130px;
  }

  &__info {
    flex: 1 100%;
  }

  &__label {
    margin-bottom: 14px;
  }

  &:nth-last-of-type(-n+2) {
    border-bottom: 0;
  }
}

.theme-footer {
  display: flex;
  align-items: center;
  align-content: center;

  &__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    align-content: center;
    color: #000;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    span {
      margin-left: 11px;
    }
  }
}
