<div class="container">
  <div class="themes outline">
    <div class="box-header">
      <h2>Тематики занятий</h2>
      <p>Это практикующие профессионалы представляющие компании-лидеры в своей отрасли</p>
    </div><!-- /.box-header -->

    <div class="themes-list">

      <div class="theme">
        <div class="theme__box">
          <div class="theme__icon">
            <div class="theme__icon-box">
              <span><i class="ico ico-site-create"></i></span>
            </div>
          </div>
          <div class="theme__info">

            <div class="theme__label">
              <div class="horizontal-label">Для старта</div><!-- /.horizontal-label -->
            </div><!-- /.theme__label -->
            <div class="theme__header">
              <h2>Как создать сайт</h2>
            </div><!-- /.theme__header -->

            <div class="theme__desc">
              <p>Расскажем о тонкостях дизайна и юзабилити, как выбрать CMS, научим HTML и CSS, как правильно обращаться с кодом</p>
            </div><!-- /.theme__desc -->

            <div class="theme__footer theme-footer">
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-microphone" aria-hidden=”true”></i>
                  <span>3 семинара</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-webcam" aria-hidden=”true”></i>
                  <span>1 вебинар</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
            </div><!-- /.theme__footer -->

          </div><!-- /.theme__info -->
        </div><!-- /.theme__box -->
      </div><!-- /.theme -->

      <div class="theme">
        <div class="theme__box">
          <div class="theme__icon">
            <div class="theme__icon-box">
              <span><i class="ico ico-content"></i></span>
            </div>
          </div>
          <div class="theme__info">

            <div class="theme__label">
              <div class="horizontal-label">Для наполнения</div><!-- /.horizontal-label -->
            </div><!-- /.theme__label -->
            <div class="theme__header">
              <h2>Как работать с контентом</h2>
            </div><!-- /.theme__header -->

            <div class="theme__desc">
              <p>Расскажем о тонкостях дизайна и юзабилити, как выбрать CMS, научим HTML и CSS, как правильно обращаться с кодом</p>
            </div><!-- /.theme__desc -->

            <div class="theme__footer theme-footer">
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-microphone" aria-hidden=”true”></i>
                  <span>3 семинара</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-webcam" aria-hidden=”true”></i>
                  <span>1 вебинар</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
            </div><!-- /.theme__footer -->

          </div><!-- /.theme__info -->
        </div><!-- /.theme__box -->
      </div><!-- /.theme -->

      <div class="theme">
        <div class="theme__box">
          <div class="theme__icon">
            <div class="theme__icon-box">
              <span><i class="ico ico-analytics"></i></span>
            </div>
          </div>
          <div class="theme__info">

            <div class="theme__label">
              <div class="horizontal-label">Для стратегии</div><!-- /.horizontal-label -->
            </div><!-- /.theme__label -->
            <div class="theme__header">
              <h2>Веб-аналитика</h2>
            </div><!-- /.theme__header -->

            <div class="theme__desc">
              <p>Расскажем о тонкостях дизайна и юзабилити, как выбрать CMS, научим HTML и CSS, как правильно обращаться с кодом</p>
            </div><!-- /.theme__desc -->

            <div class="theme__footer theme-footer">
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-microphone" aria-hidden=”true”></i>
                  <span>3 семинара</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-webcam" aria-hidden=”true”></i>
                  <span>1 вебинар</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
            </div><!-- /.theme__footer -->

          </div><!-- /.theme__info -->
        </div><!-- /.theme__box -->
      </div><!-- /.theme -->

      <div class="theme">
        <div class="theme__box">
          <div class="theme__icon">
            <div class="theme__icon-box">
              <span><i class="ico ico-optimization"></i></span>
            </div>
          </div>
          <div class="theme__info">

            <div class="theme__label">
              <div class="horizontal-label">Для эффективной работы</div><!-- /.horizontal-label -->
            </div><!-- /.theme__label -->
            <div class="theme__header">
              <h2>Оптимизация сайта</h2>
            </div><!-- /.theme__header -->

            <div class="theme__desc">
              <p>Расскажем о тонкостях дизайна и юзабилити, как выбрать CMS, научим HTML и CSS, как правильно обращаться с кодом</p>
            </div><!-- /.theme__desc -->

            <div class="theme__footer theme-footer">
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-microphone" aria-hidden=”true”></i>
                  <span>3 семинара</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-webcam" aria-hidden=”true”></i>
                  <span>1 вебинар</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
            </div><!-- /.theme__footer -->

          </div><!-- /.theme__info -->
        </div><!-- /.theme__box -->
      </div><!-- /.theme -->

      <div class="theme">
        <div class="theme__box">
          <div class="theme__icon">
            <div class="theme__icon-box">
              <span><i class="ico ico-seo"></i></span>
            </div>
          </div>
          <div class="theme__info">

            <div class="theme__label">
              <div class="horizontal-label">Для поднятия позиций</div><!-- /.horizontal-label -->
            </div><!-- /.theme__label -->
            <div class="theme__header">
              <h2>Поисковое продвижение</h2>
            </div><!-- /.theme__header -->

            <div class="theme__desc">
              <p>Расскажем о тонкостях дизайна и юзабилити, как выбрать CMS, научим HTML и CSS, как правильно обращаться с кодом</p>
            </div><!-- /.theme__desc -->

            <div class="theme__footer theme-footer">
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-microphone" aria-hidden=”true”></i>
                  <span>3 семинара</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-webcam" aria-hidden=”true”></i>
                  <span>1 вебинар</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-pencil" aria-hidden=”true”></i>
                  <span>1 курс</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
            </div><!-- /.theme__footer -->

          </div><!-- /.theme__info -->
        </div><!-- /.theme__box -->
      </div><!-- /.theme -->

      <div class="theme">
        <div class="theme__box">
          <div class="theme__icon">
            <div class="theme__icon-box">
              <span><i class="ico ico-context-adv"></i></span>
            </div>
          </div>
          <div class="theme__info">

            <div class="theme__label">
              <div class="horizontal-label">Для моментального привлечения</div><!-- /.horizontal-label -->
            </div><!-- /.theme__label -->
            <div class="theme__header">
              <h2>Контекстная реклама</h2>
            </div><!-- /.theme__header -->

            <div class="theme__desc">
              <p>Расскажем о тонкостях дизайна и юзабилити, как выбрать CMS, научим HTML и CSS, как правильно обращаться с кодом</p>
            </div><!-- /.theme__desc -->

            <div class="theme__footer theme-footer">
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-microphone" aria-hidden=”true”></i>
                  <span>3 семинара</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-webcam" aria-hidden=”true”></i>
                  <span>1 вебинар</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
            </div><!-- /.theme__footer -->

          </div><!-- /.theme__info -->
        </div><!-- /.theme__box -->
      </div><!-- /.theme -->

      <div class="theme">
        <div class="theme__box">
          <div class="theme__icon">
            <div class="theme__icon-box">
              <span><i class="ico ico-smm"></i></span>
            </div>
          </div>
          <div class="theme__info">

            <div class="theme__label">
              <div class="horizontal-label">Для расширения аудитории</div><!-- /.horizontal-label -->
            </div><!-- /.theme__label -->
            <div class="theme__header">
              <h2>Продвижение в соц.сетях</h2>
            </div><!-- /.theme__header -->

            <div class="theme__desc">
              <p>Расскажем о тонкостях дизайна и юзабилити, как выбрать CMS, научим HTML и CSS, как правильно обращаться с кодом</p>
            </div><!-- /.theme__desc -->

            <div class="theme__footer theme-footer">
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-microphone" aria-hidden=”true”></i>
                  <span>3 семинара</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-webcam" aria-hidden=”true”></i>
                  <span>1 вебинар</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
            </div><!-- /.theme__footer -->

          </div><!-- /.theme__info -->
        </div><!-- /.theme__box -->
      </div><!-- /.theme -->

      <div class="theme">
        <div class="theme__box">
          <div class="theme__icon">
            <div class="theme__icon-box">
              <span><i class="ico ico-online-marketing"></i></span>
            </div>
          </div>
          <div class="theme__info">

            <div class="theme__label">
              <div class="horizontal-label">Для работы с аудиторией</div><!-- /.horizontal-label -->
            </div><!-- /.theme__label -->
            <div class="theme__header">
              <h2>Интернет-маркетинг</h2>
            </div><!-- /.theme__header -->

            <div class="theme__desc">
              <p>Расскажем о тонкостях дизайна и юзабилити, как выбрать CMS, научим HTML и CSS, как правильно обращаться с кодом</p>
            </div><!-- /.theme__desc -->

            <div class="theme__footer theme-footer">
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-microphone" aria-hidden=”true”></i>
                  <span>3 семинара</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
              <div class="theme-footer__item">
                <div class="theme-footer__count">
                  <i class="ico ico-webcam" aria-hidden=”true”></i>
                  <span>1 вебинар</span>
                </div><!-- /.theme-footer__count -->
              </div><!-- /.theme-footer__item -->
            </div><!-- /.theme__footer -->

          </div><!-- /.theme__info -->
        </div><!-- /.theme__box -->
      </div><!-- /.theme -->

    </div><!-- /.themes-list -->

  </div><!-- /.theme -->
</div><!-- /.container -->
