.footer {
  padding-top: 48px;

  &__item {
    min-width: 320px;

    &--first {
      padding-left: 45px;
    }

    &--second {
      padding-left: 27px;
    }

    &--three {
      padding-left: 7px;
      min-width: 300px;
    }

    &--four {
      padding-left: 8px;
    }
  }

  .company-info {
    padding-bottom: 39px;
  }

  .company-links {
    border-top: 1px solid rgb(214, 217, 220);
    padding: 35px 0 35px 0;

    &-box {
      padding-left: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copy__item {
      margin-right: 25px;
      display: inline-block;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }
    }

    &__apps {
      margin-right: 40px;

      .apps__download {

        &-link {
          margin-right: 16px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .address {
    font-style: normal;
    margin-bottom: 21px;

    p {
      line-height: 30px;
    }
  }

  h4 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 14px;
  }

  .logo-footer {
    margin-bottom: 16px;
  }

  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      margin-bottom: 20px;
    }
  }

  .tel-link {
    color: rgb(0, 0, 0);
  }
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &__item {
    vertical-align: middle;
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 2px;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    transition: all .3s ease;

    &--vk {
      background-color: #45668e;

      span {
        display: block;
        @include size(21px, 12px);
        background-image: svg-load('social/vk.svg', fill=#ffffff);
        position: relative;
        top: 14px;
        left: 8px;
      }
    }

    &--facebook {
      background-color: #3b5998;

      span {
        display: block;
        @include size(10px, 20px);
        background-image: svg-load('social/facebook.svg', fill=#ffffff);
        position: relative;
        top: 10px;
        left: 14px;
      }
    }

    &--youtube {
      background-color: #cd201f;

      span {
        display: block;
        @include size(20px, 14px);
        background-image: svg-load('social/youtube.svg', fill=#ffffff);
        position: relative;
        top: 12px;
        left: 10px;
      }
    }

    &--twitter {
      background-color: #1da1f2;

      span {
        display: block;
        @include size(20px, 16px);
        background-image: svg-load('social/twitter.svg', fill=#ffffff);
        position: relative;
        top: 11px;
        left: 10px;
      }
    }

    &--instagram {
      background-color: #e1306c;

      span {
        display: block;
        @include size(22px);
        background-image: svg-load('social/instagram.svg', fill=#ffffff);
        position: relative;
        top: 9px;
        left: 9px;
      }
    }

    &:hover {
      opacity: .89;
    }
  }
}
