.footer {
  padding-top: 39px;

  &__item {
    padding-left: 40px;
  }

  .company-info {
    padding-bottom: 39px;
  }

  .company-links {
    border-top: 1px solid rgb(214, 217, 220);
    padding: 29px 0 29px 0;

    &-box {
      padding-left: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copy__item {
      margin-right: 41px;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  address {
    font-style: normal;
    line-height: 30px;
  }

  h4 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 16px;
  }

  .logo-footer {
    margin-bottom: 20px;
  }

  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      margin-bottom: 15px;
    }
  }
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &__item {
    vertical-align: middle;
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 2px;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;

    &--vk {
      background-color: #45668e;
    }

    &--facebook {
      background-color: #3b5998;
    }

    &--youtube {
      background-color: #cd201f;
    }

    &--twitter {
      background-color: #1da1f2;
    }

    &--instagram {
      background-color: #e1306c;
    }
  }
}
