.footer {
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  &__item {
    min-width: 320px;

    @media #{$sm} {
      min-width: 100%;
    }

    &--first {
      padding-left: 47px;

      @media #{$sm} {
        padding-left: 0;
        display: none;
        visibility: hidden;
      }
    }

    &--second {
      padding-left: 27px;

      @media #{$sm} {
        padding-left: 0;
        display: none;
        visibility: hidden;
      }
    }

    &--three {
      padding-left: 7px;
      min-width: 300px;

      @media #{$sm} {
        padding-left: 0;
        min-width: 100%;
        display: none;
        visibility: hidden;
      }
    }

    &--four {
      padding-left: 10px;
      margin-top: 7px;

      @media #{$sm} {
        padding-left: 0;
        margin-top: 0;
      }
    }
  }

  .company-info {
    padding-bottom: 39px;
  }

  .company-links {
    border-top: 1px solid rgb(214, 217, 220);
    padding: 20px 0 20px 0;

    &-box {
      padding-left: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copy__text {
      color: #787a80;
      font-family: Arial;
      font-size: 15px;
      font-weight: 400;
    }

    .copy__item {
      margin-right: 36px;
      display: inline-block;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }
    }

    &__apps {
      margin-right: 40px;

      .apps__download {

        &-link {
          margin-right: 16px;

          &:last-child {
            margin-right: 0;
          }

          img {
            vertical-align: bottom;
          }
        }
      }
    }
  }

  .address {
    margin-bottom: 34px;

    &-box {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
    }

    &__item {
      margin-bottom: 15px;

      &:last-child {
        margin-top: 20px;
        margin-bottom: 0;
      }
    }

    &__icon {
      flex-basis: 20px;

      &-box {
        position: relative;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__desc {
      flex: 1 100%;
      margin-left: 20px;
      line-height: 20px;

      &--text {
        color: rgb(0, 0, 0);
        margin-bottom: 5px;
      }

      &--info {
        color: #787a80;
        margin-bottom: 5px;
      }

      .metro-line {
        display: inline-block;
        border-radius: 50%;
        background-color: #fff;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        margin-right: 10px;

        &.lyublinskaya {
          background-color: #9c3;
        }

        &.kalininskaya {
          background-color: #f6dd34;
        }

        &.tagansko-krasnopresnenskaya {
          background-color: #92007b;
        }
      }
    }
  }

  h4 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .logo-footer {
    margin-bottom: 16px;
  }

  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      margin-bottom: 15px;
    }

    &__link {
      color: #000;
      font-family: Arial;
      font-size: 15px;
      font-weight: 400;
      line-height: 15px;
    }
  }
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &-box {
    position: relative;
    left: -2px;
  }

  &__item {
    vertical-align: middle;
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 2px;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    transition: all .3s ease;

    &--vk {
      background-color: #45668e;

      span {
        display: block;
        @include size(21px, 12px);
        background-image: svg-load('social/vk.svg', fill=#ffffff);
        position: relative;
        top: 14px;
        left: 9px;
      }
    }

    &--facebook {
      background-color: #3b5998;

      span {
        display: block;
        @include size(10px, 20px);
        background-image: svg-load('social/facebook.svg', fill=#ffffff);
        position: relative;
        top: 10px;
        left: 14px;
      }
    }

    &--youtube {
      background-color: #cd201f;

      span {
        display: block;
        @include size(20px, 14px);
        background-image: svg-load('social/youtube.svg', fill=#ffffff);
        position: relative;
        top: 12px;
        left: 10px;
      }
    }

    &--twitter {
      background-color: #1da1f2;

      span {
        display: block;
        @include size(20px, 16px);
        background-image: svg-load('social/twitter.svg', fill=#ffffff);
        position: relative;
        top: 11px;
        left: 10px;
      }
    }

    &--instagram {
      background-color: #e1306c;

      span {
        display: block;
        @include size(22px);
        background-image: svg-load('social/instagram.svg', fill=#ffffff);
        position: relative;
        top: 9px;
        left: 9px;
      }
    }

    &:hover {
      opacity: .89;
    }
  }
}

