<div class="search-wrap">
  <div class="search">
    <div class="form-group">
      <label for="search" class="form-control-label hide">Поиск по сайту</label>
      <div class="form-group status-left">
        <div class="form-control-feedback">
          <span><i class="ico ico-loupe" aria-hidden=”true”></i></span>
        </div><!-- /.form-group-status-type -->
        <input id="search" type="text" class="form-control" placeholder="Поиск">
      </div><!-- /.form-group-status -->
    </div><!-- /.form-group -->
  </div><!-- /.search -->
</div><!-- /.search-wrap -->
