<!-- в случае тестирования разбейте стекло комментариев
  <div class="px2px"></div>
-->
<div class="container">
  <header class="header outline">
    <div class="header__box">
      <div class="logo header__logo">
        <a href="index.html" title="Вернуться на главную страницу CyberMarketing">
          <span class="logo-box"><i class="ico ico-logo"></i></span>
        </a>
      </div><!-- /.header__logo -->
      <div class="search header__search">

        <div class="search__box">
          <div class="form-group">
            <label for="search" class="form-control-label hide">Поиск по сайту</label>
            <div class="form-group-status">
              <div class="form-group-status-type">
                <span><i class="ico ico-loupe"></i></span>
              </div><!-- /.form-group-status-type -->
              <input id="search" type="text" class="form-control" placeholder="Что хотите найти?">
            </div><!-- /.form-group-status -->
          </div><!-- /.form-group -->
        </div><!-- /.search__box -->

      </div><!-- /.header__search -->
      <div class="contacts header__contacts">
        <div class="contacts__tel">
          <a href="tel:+74956628758" class="contacts__link">+7 (495) 662-87-58</a>
        </div>
        <div class="contacts__mail">
          <a href="mailto:info@cybermarketing.ru" class="contacts__link">info@cybermarketing.ru</a>
        </div>
      </div><!-- /.header__contacts -->

      <div class="user header__user">
        <div class="user-box">
          <div class="user__notify"><i class="ico ico-bell"></i><span class="label"></span></div>
          <div class="user__avatar"><span><img src="assets/images/chak-norris.png" alt=""></span></div>
        </div>
      </div><!-- /.header__user -->
    </div><!-- /.header__box -->
  </header>
</div><!-- /.container -->
