<ul class="content-menu">
  <li class="content-menu__item"><a href="#" class="content-menu__link">Об институте</a></li>
  <li class="content-menu__item active"><a href="#" class="content-menu__link">Учебная программa</a></li>
  <li class="content-menu__item"><a href="#" class="content-menu__link">Документы для поступлениa</a></li>
  <li class="content-menu__item"><a href="#" class="content-menu__link">Диплоa</a></li>
  <li class="content-menu__item"><a href="#" class="content-menu__link">Лицензиa</a></li>
  <li class="content-menu__item"><a href="#" class="content-menu__link">Преподавателa</a></li>
  <li class="content-menu__item"><a href="#" class="content-menu__link">Отзывa</a></li>
  <li class="content-menu__item"><a href="#" class="content-menu__link">Вопрос-отвеa</a></li>
</ul>
