<div class="container">
  <div class="page page-sidebar outline">

    <div class="page__content content">

      <div class="content__full">
        <div class="content__full-box">
          @@if (video === true) {
            <div class="video-container">
              <iframe width="100%" height="510" src="https://www.youtube.com/embed/SXUMtDYLKxs?&theme=light" frameborder="0" allowfullscreen></iframe>
            </div>
          }
          @@if (img === true) {<img src="/assets/images/lessong.png" alt="Методы сбора и анализа данных" width="899" height="510" style="min-height: 510px;" class="emerge" data-spin="true">}
          @@if (endvideo === true) {
            <div class="lesson-end">

              <div class="lesson-end__content">
                <h2 class="h2">Вы закончили урок</h2>
                <p>Для закрепления полученых знаний и их оценки, необходимо пройти тестирование. <br>Тест сдаётся один раз, в случае плохой оценки вы можете перездать его по окончании курса.<br>При покидании или закрытия страницы мы подсчитаем балы только на отвеченные вопросы. <br>На исправление ошибок даётся три попытки на весь курс. Успеха!<br> Подробную информацию вы найдёте в <a href="">правилах для студента</a></p>

                <div class="time-to-test">
                  <div class="time-to-test__name"><span>Время на прохождение</span></div>
                  <div class="course-time">
                    <div class="course-time__icon"><i class="ico ico-watch" aria-hidden=”true”></i></div><!-- /.course-time__icon -->
                    <div class="course-time-t"><strong>15</strong> минут</div><!-- /.course-time-t -->
                  </div><!-- /.course-time -->
                </div>
                <a href="" class="btn btn-green">Пройти тест</a>

              </div>

              <div class="lesson-end__footer">
                <a href="#" class="reload-link"><span>Посмотреть урок ещё раз</span></a>
              </div>
            </div>
          }
        </div><!-- /.content__full-box -->
      </div><!-- /.content__full -->
      <div class="content__full">

        <div class="info-list">
          <div class="info__item">
            <div class="info__box">
              <div class="info-name"><span>Прошли урок за всё время</span></div><!-- /.info-name -->
              <div class="info-content">

                <div class="info-content__box">

                  <div class="info-people-list">
                    <div class="info-people"><span class="info-people__img"><img src="/assets/images/u1.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                    <div class="info-people"><span class="info-people__img"><img src="/assets/images/u2.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                    <div class="info-people"><span class="info-people__img"><img src="/assets/images/u3.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                  </div><!-- /.info-people-list -->

                  <div class="info-bubble">
                    <div class="info-bubble__box">+ 4&nbsp;235</div>
                  </div><!-- /.info-bubble -->

                </div><!-- /.info-content__box -->

              </div><!-- /.info-content -->
            </div><!-- /.info__box -->
          </div><!-- /.info__item -->

          <div class="info__item">
            <div class="info__box">
              <div class="info-name"><span>Прошли урок сегодня</span></div><!-- /.info-name -->
              <div class="info-content">

                <div class="info-content__box">

                  <div class="info-people-list">
                    <div class="info-people"><span class="info-people__img"><img src="/assets/images/u4.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                    <div class="info-people"><span class="info-people__img"><img src="/assets/images/u5.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                    <div class="info-people"><span class="info-people__img"><img src="/assets/images/u6.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                  </div><!-- /.info-people-list -->

                  <div class="info-bubble">
                    <div class="info-bubble__box">+ 135</div>
                  </div><!-- /.info-bubble -->

                </div><!-- /.info-content__box -->

              </div><!-- /.info-content -->
            </div><!-- /.info__box -->
          </div><!-- /.info__item -->

          <div class="info__item">
            <div class="info__box">
              <div class="info-name"><span>Средняя оценка</span></div><!-- /.info-name -->
              <div class="info-content">

                <div class="info-bubble">
                  <div class="info-bubble__box"><i class="ico ico-star white" aria-hidden=”true”></i>4.6</div>
                </div><!-- /.info-bubble -->

              </div><!-- /.info-content -->
            </div><!-- /.info__box -->
          </div><!-- /.info__item -->
        </div><!-- /.info-list -->

      </div><!-- /.content__full -->

      <div class="content__box">
        <h3>Ответы на вопросы студентов</h3>

        <div class="comments">

          <div class="comments__item">
            <div class="comment">
              <div class="comment__box">

                <div class="comment__user">
                  <div class="comment__user-photka">
                    <span><img src="/assets/images/valentina.png" alt="Валентина" height="40" width="40"></span>
                  </div><!-- /.comment__user-photka -->
                  <div class="comment__user-name"><span>Валентина</span></div><!-- /.comment__user-name -->
                </div><!-- /.comment__user -->

                <div class="comment__descr">
                  <div class="comment__descr--text">Какое приблизительно время уходит на индексацию ссылок яндексом?</div>
                  <div class="comment__more"><a href="#" class="more-link _more-comment"><span>Показать ответ</span></a></div><!-- /.comment__more -->
                </div><!-- /.comment__descr -->
              </div><!-- /.comment__box -->

              <div class="comment__answer _comment__answer">

                <div class="comment__user">
                  <div class="comment__user-photka">
                    <span><img src="/assets/images/dmitry-klimchukov.png" alt="Валентина" height="40" width="40"></span>
                  </div><!-- /.comment__user-photka -->
                  <div class="comment__user-name"><span>Дмитрий</span></div><!-- /.comment__user-name -->
                </div><!-- /.comment__user -->

                <div class="comment__descr">
                  <div class="comment__descr--text">Какое приблизительно время уходит на индексацию ссылок яндексом?</div>
                </div><!-- /.comment__descr -->
              </div><!-- /.comment__answer -->

            </div><!-- /.comment -->
          </div><!-- /.comments__item -->

          <div class="comments__item">
            <div class="comment">
              <div class="comment__box">

                <div class="comment__user">
                  <div class="comment__user-photka">
                    <span><img src="/assets/images/evgeniy.png" alt="Евгений" height="40" width="40"></span>
                  </div><!-- /.comment__user-photka -->
                  <div class="comment__user-name"><span>Евгений</span></div><!-- /.comment__user-name -->
                </div><!-- /.comment__user -->

                <div class="comment__descr">
                  <div class="comment__descr--text">Будет ли система продолжать покупать ссылки по достижению установленного ТОПа в одной из поисковых систем? Будет ли система продолжать покупать ссылки по достижению установленного ТОПа в одной из поисковых систем?</div>
                  <div class="comment__more"><a href="#" class="more-link _more-comment"><span>Показать ответ</span></a></div><!-- /.comment__more -->
                </div><!-- /.comment__descr -->
              </div><!-- /.comment__box -->

              <div class="comment__answer _comment__answer">

                <div class="comment__user">
                  <div class="comment__user-photka">
                    <span><img src="/assets/images/dmitry-klimchukov.png" alt="Валентина" height="40" width="40"></span>
                  </div><!-- /.comment__user-photka -->
                  <div class="comment__user-name"><span>Дмитрий</span></div><!-- /.comment__user-name -->
                </div><!-- /.comment__user -->

                <div class="comment__descr">
                  <div class="comment__descr--text">Какое приблизительно время уходит на индексацию ссылок яндексом?</div>
                </div><!-- /.comment__descr -->
              </div><!-- /.comment__answer -->

            </div><!-- /.comment -->
          </div><!-- /.comments__item -->

        </div><!-- /.comments -->

        <h3>Задайте свой вопрос</h3>

        <div class="comments comments-form">
          <form action="" class="form">
            <div class="form-group last">
              <textarea name="" id="commentnew" cols="30" rows="5" class="form-control" placeholder="Задайте ваш вопрос"></textarea>
            </div><!-- /.form-group -->
            <div class="form-actions">
              <button class="btn btn-green" id="submit" disabled>Отправить</button>

              <div class="form-add-file">
                <label class="custom-file">
                  <input type="file" name="file" id="file" class="custom-file-input" data-multiple-caption="{count} файла будет загружено" multiple>
                  <span class="custom-file-control"><span>Прикрепить фаил</span></span>
                </label>
              </div><!-- /.form-add-file -->

            </div><!-- /.form-actions -->
          </form>
        </div><!-- /.comments-form -->

      </div><!-- /.content__box -->

    </div><!-- /.page__content -->

    <div class="page__aside aside">

      <div class="aside__box">

        @@include('blocks/content/aside.html', { "lesson": true, "course": false })

      </div><!-- /.aside__box -->

    </div><!-- /.page__aside -->

  </div><!-- /.page -->
</div><!-- /.container -->
