<div class="container">
  <div class="page page-sidebar page-content outline">

    <div class="page__aside aside aside-left">

        @@include('blocks/content/aside-left.html')

    </div><!-- /.page__aside -->

    <div class="page__content content">

      <div class="content__box">
        <h2>Институт</h2>
        <h4>Программа семинара</h4>
        <p>Контекстная реклама (Яндекс.Директ, Google AdWords и т.п.) — самый быстрый способ привлечения целевой аудитории на сайт. Люди видят контекстные объявления в ответ на свои запросы к Яндексу и Google(вместе с результатами поиска). Также объявления показываются на сайтах, входящих в партнерские сети поисковиков.</p>

      </div><!-- /.content__box -->

    </div><!-- /.page__content -->

  </div><!-- /.page -->
</div><!-- /.container -->
