<div class="container">
  <div class="page page-sidebar page-seminar outline">

    <div class="page__content content">
      <div class="ribbon">
        <div class="ribbon__text"><span>новинка</span></div>
      </div>
      <div class="content__box content__box--pb">
        <h2>Программа семинара</h2>
        <p>Контекстная реклама (Яндекс.Директ, Google AdWords и т.п.) — самый быстрый способ привлечения целевой аудитории на сайт. Люди видят контекстные объявления в ответ на свои запросы к Яндексу и Google(вместе с результатами поиска). Также объявления показываются на сайтах, входящих в партнерские сети поисковиков.</p>
        <ol class="number-list">
          <li class="number-list__item">Что такое контекстная реклама</li>
          <li class="number-list__item">Обзор сервисов контекстной рекламы</li>
          <li class="number-list__item">Как делать контекстную рекламу:
            <ul class="list">
              <li class="list__item">планирование</li>
              <li class="list__item">подбор слов</li>
              <li class="list__item">виды таргетинга</li>
              <li class="list__item">подготовка целевой страницы</li>
              <li class="list__item">медиапланирование</li>
              <li class="list__item">составление рекламных объявлений</li>
              <li class="list__item">ведение кампаний</li>
            </ul>
          </li>
        </ol>

        <div class="likely">
          <div class="twitter">Твитнуть</div>
          <div class="facebook">Поделиться</div>
          <div class="gplus">Плюсануть</div>
          <div class="vkontakte">Поделиться</div>
          <div class="telegram">Отправить</div>
          <div class="odnoklassniki">Класснуть</div>
          <div class="linkedin">Линкануть</div>
        </div>
      </div>

      <div class="content__full">

        <div class="info-list">
          <div class="info__item">
            <div class="info__box">
              <div class="info-name"><span>Записались на семинар</span></div><!-- /.info-name -->
              <div class="info-content">

                <div class="info-content__box">

                  <div class="info-people-list">
                    <div class="info-people"><span class="info-people__img"><img src="../assets/images/u1.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                    <div class="info-people"><span class="info-people__img"><img src="../assets/images/u2.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                    <div class="info-people"><span class="info-people__img"><img src="../assets/images/u3.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                  </div><!-- /.info-people-list -->

                  <div class="info-bubble">
                    <div class="info-bubble__box">+ 3</div>
                  </div><!-- /.info-bubble -->

                </div><!-- /.info-content__box -->

              </div><!-- /.info-content -->
            </div><!-- /.info__box -->
          </div><!-- /.info__item -->

          <div class="info__item">
            <div class="info__box">
              <div class="info-name"><span>Посетили семинар ранее</span></div><!-- /.info-name -->
              <div class="info-content">

                <div class="info-content__box">

                  <div class="info-people-list">
                    <div class="info-people"><span class="info-people__img"><img src="../assets/images/u4.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                    <div class="info-people"><span class="info-people__img"><img src="../assets/images/u5.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                    <div class="info-people"><span class="info-people__img"><img src="../assets/images/u6.png" alt="Тот, кто прошёл урок" height="40" width="40"></span></div><!-- /.info-people -->
                  </div><!-- /.info-people-list -->

                  <div class="info-bubble">
                    <div class="info-bubble__box">+ 135</div>
                  </div><!-- /.info-bubble -->

                </div><!-- /.info-content__box -->

              </div><!-- /.info-content -->
            </div><!-- /.info__box -->
          </div><!-- /.info__item -->

          <div class="info__item">
            <div class="info__box">
              <div class="info-name"><span>Проводился</span></div><!-- /.info-name -->
              <div class="info-content">

                <div class="info-bubble">
                  <div class="info-bubble__box">
                    <div class="info-bubble-text">3 раза</div><!-- /.info-bubble-text -->
                  </div><!-- /.info-bubble__box -->
                </div><!-- /.info-bubble -->

              </div><!-- /.info-content -->
            </div><!-- /.info__box -->
          </div><!-- /.info__item -->
        </div><!-- /.info-list -->

      </div><!-- /.content__full -->

      <div class="content__box">
        <h3>Отзывы слушателей</h3>


      </div><!-- /.content__box -->

    </div><!-- /.page__content -->

    <div class="page__aside aside">

      <div class="aside__box">

        @@include('blocks/content/aside-seminar.html')

      </div><!-- /.aside__box -->

    </div><!-- /.page__aside -->

  </div><!-- /.page -->
</div><!-- /.container -->
