.header-wrap {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #d6d9dc;
}

.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  &_info {
    display: flex;
    align-items: center;
    align-content: center;
  }

  &_menu-icon {
    margin-right: 22px;
  }

  &_title {
    color: #000;
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    @include truncate(230px);
  }
}

.user {
  text-align: right;

  &-box {
    display: flex;
    align-items: center;
    align-content: center;
  }

  &_pic {
    margin-left: 20px;

    span {
      display: block;
      background-color: #f7f7f8;
      border-radius: 50%;
      width: 30px;
      height: 30px;

      img {
        vertical-align: bottom;
      }
    }
  }

  &_notify {
    position: relative;
    top: 2px;

    .label {
      display: block;
      border-radius: 50%;
      width: 11px;
      height: 11px;
      border: 2px solid #ffffff;
      background-color: #00b402;
      position: absolute;
      top: -3px;
      right: -3px;
      text-indent: -9999px;
    }
  }
}
