<div class="header-wrap">
  <div class="header">
    <div class="header_info">
      <div class="header_menu-icon">
        <i class="ico ico-hamburger"></i>
      </div><!-- /.header_menu-icon -->
      <div class="header_title">
        <span class="title">Институт</span>
      </div><!-- /.header_logo-->
    </div><!-- /.header_info -->
    <div class="header_user">
      <div class="user-box">
        <div class="user_notify">
          <a href=""><i class="ico ico-bell" aria-hidden=”true”></i><span class="label"></span></a>
        </div><!-- /.user_notify -->
        <div class="user_pic">
          <a href=""><span><img src="../assets/images/chak-norris.png" alt="Имя пользователя" width="30" height="30"></span></a>
        </div><!-- /.user_pic -->
      </div>
    </div><!-- /.header_user -->
  </div><!-- /.header -->
</div><!-- /.header-wrap -->
