<div class="header-wrap">
  <div class="header">
    <div class="header_info">
      <div class="header_menu-icon">
        <i class="ico ico-cross"></i>
      </div><!-- /.header_menu-icon -->
      <div class="header_title">
        <span class="title">Институт</span>
      </div><!-- /.header_logo-->
    </div><!-- /.header_info -->
    <div class="header_user">
      <a href="auth.thml" class="btn btn-green btn-mini">Вход</a>
    </div><!-- /.header_user -->
  </div><!-- /.header -->
</div><!-- /.header-wrap -->
