<div class="container">

  <div class="towers outline">
    <div class="tower-list">

      <div class="tower">
        <div class="tower__box">
          <div class="tower__label">
            <div class="horizontal-label">Для энтузиастов</div><!-- /.horizontal-label -->
          </div><!-- /.tower__label -->
          <div class="tower__head"><h2>Online-институт</h2></div><!-- /.tower__head -->
          <div class="tower__icon"><span><i class="ico ico-institute"></i></span></div><!-- /.tower__icon -->
          <div class="tower__desc"><p>Обучение проводится в формате видеоуроков с online тестированием. По окончании курса, вы получите диплом государственного образца По окончании курса, вы получите По окончании курса, вы получите</p></div><!-- /.tower__desc -->
          <div class="tower__action"><a href="" class="btn btn-outline">Подробнее</a></div><!-- /.tower__action -->
        </div><!-- /.tower__box -->
      </div><!-- /.tower -->

      <div class="tower">
        <div class="tower__box">
          <div class="tower__label">
            <div class="horizontal-label">Для исследователей</div><!-- /.horizontal-label -->
          </div><!-- /.tower__label -->
          <div class="tower__head"><h2>Новые знания</h2></div><!-- /.tower__head -->
          <div class="tower__icon"><span><i class="ico ico-books"></i></span></div><!-- /.tower__icon -->
          <div class="tower__desc"><p>Поможем повысить квалификацию или найти решение конкретной задачи по привлечению клиентов из интернта</p></div><!-- /.tower__desc -->
          <div class="tower__action"><a href="" class="btn btn-outline">Подробнее</a></div><!-- /.tower__action -->
        </div><!-- /.tower__box -->
      </div><!-- /.tower -->

      <div class="tower">
        <div class="tower__box">
          <div class="tower__label">
            <div class="horizontal-label">Для профессионалов</div><!-- /.horizontal-label -->
          </div><!-- /.tower__label -->
          <div class="tower__head"><h2>Прокачка</h2></div><!-- /.tower__head -->
          <div class="tower__icon"><span><i class="ico ico-brain"></i></span></div><!-- /.tower__icon -->
          <div class="tower__desc"><p>Поможем повысить квалификацию или найти решение конкретной задачи/</p></div><!-- /.tower__desc -->
          <div class="tower__action"><a href="" class="btn btn-outline">Подробнее</a></div><!-- /.tower__action -->
        </div><!-- /.tower__box -->
      </div><!-- /.tower -->

      <div class="tower">
        <div class="tower__box">
          <div class="tower__label">
            <div class="horizontal-label">Для предпринимателей</div><!-- /.horizontal-label -->
          </div><!-- /.tower__label -->
          <div class="tower__head"><h2>Решение задач</h2></div><!-- /.tower__head -->
          <div class="tower__icon"><i class="ico ico-flag"></i></div><!-- /.tower__icon -->
          <div class="tower__desc"><p>Научим новым методам привлечения клиентов из интернета, разбирая задачи на примерах из вашего бизнеса</p></div><!-- /.tower__desc -->
          <div class="tower__action"><a href="" class="btn btn-outline">Подробнее</a></div><!-- /.tower__action -->
        </div><!-- /.tower__box -->
      </div><!-- /.tower -->

    </div><!-- /.tower-list -->
  </div><!-- /.towers -->

</div><!-- /.container -->
