.slider-nav {
  border-left: 1px solid rgb(214, 217, 220);
  border-right: 1px solid rgb(214, 217, 220);
  background-color: #fff;

  &__box {
    padding: 25px 25px 45px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  &__link {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;

    &:hover {

      .ico-nav-right {
        background-image: svg-load('nav-right.svg', fill=#21aa00);
      }

      .ico-nav-left {
        background-image: svg-load('nav-left.svg', fill=#21aa00);
      }
    }
  }
}

.dot-list {
  display: flex;
  align-items: center;
  align-content: center;
}

.dot {
  border-radius: 50%;
  display: block;
  vertical-align: middle;
  text-indent: -9999px;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {

    span {
      background-color: #21aa00;
      transition: all .2s ease;
    }
  }

  span {
    width: 10px;
    height: 10px;
    display: block;
    background-color: #d6d9dc;
    border-radius: 50%;
  }

  &:last-child {
    margin-right: 0;
  }

  &-active span {
    background-color: #21aa00;
  }
}
