<div class="container">
  <div class="slider-nav">
    <div class="slider-nav__box">
      <div class="slider-nav__left left">1</div><!-- /.left -->

      <div class="slider-nav__dots dots">
        <div class="dot-list">
          <div class="dot"><span>1</span></div>
          <div class="dot dot-active"><span>2</span></div>
          <div class="dot"><span>3</span></div>
          <div class="dot"><span>4</span></div>
          <div class="dot"><span>5</span></div>
        </div><!-- /.dot-list -->
      </div><!-- /.dots -->

      <div class="slider-nav__right right">2</div><!-- /.right -->
    </div><!-- /.slider-nav__box -->
  </div><!-- /.slider-nav -->
</div><!-- /.container -->
