<div class="container">
  <div class="about outline">

    <div class="about-list">

      <div class="about__item">
        <div class="about__box">
          <div class="about__icon">
            <div class="about__icon-box">
              <span><i class="ico ico-microphone green"></i></span>
            </div>
          </div><!-- /.about__icon -->
          <div class="about__label">
            <div class="horizontal-label">Для offline обучения</div>
          </div><!-- /.about__label -->
          <div class="about__name">
            <h2>Бесплатные семинары</h2>
          </div><!-- /.about__name -->
          <div class="about__desc">
            <p>Занятия проводятся в небольших группах с преподавателями-практиками на которых разбираем задачи на примерах из вашего бизнесаразбираем задачи на примерах из вашего бизнеса</p>
          </div><!-- /.about__desc -->
          <div class="about__actions">
            <a href="" class="btn btn-outline">12 семинаров</a>
          </div><!-- /.about__actions -->
        </div><!-- /.about__box -->
      </div><!-- /.about__item -->

      <div class="about__item">
        <div class="about__box">
          <div class="about__icon">
            <div class="about__icon-box">
              <span><i class="ico ico-webcam green"></i></span>
            </div>
          </div><!-- /.about__icon -->
          <div class="about__label">
            <div class="horizontal-label">Для online обучения</div>
          </div><!-- /.about__label -->
          <div class="about__name">
            <h2>Бесплатные вебинары</h2>
          </div><!-- /.about__name -->
          <div class="about__desc">
            <p>Занятия проводятся в небольших группах с преподавателями-практиками на которых разбираем задачи на примерах из вашего бизнеса</p>
          </div><!-- /.about__desc -->
          <div class="about__actions">
            <a href="" class="btn btn-outline">8 вебинаров</a>
          </div><!-- /.about__actions -->
        </div><!-- /.about__box -->
      </div><!-- /.about__item -->

      <div class="about__item">
        <div class="about__box">
          <div class="about__icon">
            <div class="about__icon-box">
              <span><i class="ico ico-pencil green"></i></span>
            </div>
          </div><!-- /.about__icon -->
          <div class="about__label">
            <div class="horizontal-label">Для обучения на практике</div>
          </div><!-- /.about__label -->
          <div class="about__name">
            <h2>Интенсивные курсы</h2>
          </div><!-- /.about__name -->
          <div class="about__desc">
            <p>Занятия проводятся в небольших группах с преподавателями-практиками на которых разбираем задачи на примерах из вашего бизнеса</p>
          </div><!-- /.about__desc -->
          <div class="about__actions">
            <a href="" class="btn btn-outline">3 курса</a>
          </div><!-- /.about__actions -->
        </div><!-- /.about__box -->
      </div><!-- /.about__item -->

    </div><!-- /.about-list -->

  </div><!-- /.about -->
</div><!-- /.container -->
