<div class="container">
  <div class="about institute outline">

    <div class="about-list">

      <div class="about__item">
        <div class="about__box">
          <div class="about__label">
            <div class="horizontal-label">Для комфорта</div>
          </div><!-- /.about__label -->
          <div class="about__name">
            <h2>Учитесь когда удобно</h2>
          </div><!-- /.about__name -->
          <div class="about__desc">
            <p>Формат видео-уроков подходит для занятых людей. Учащиеся просматривают уроки с любого устройства, когда им удобно например, за завтраком или в метро</p>
          </div><!-- /.about__desc -->
        </div><!-- /.about__box -->
      </div><!-- /.about__item -->

      <div class="about__item">
        <div class="about__box">
          <div class="about__label">
            <div class="horizontal-label">Для практики</div>
          </div><!-- /.about__label -->
          <div class="about__name">
            <h2>Задания на реальных проектах</h2>
          </div><!-- /.about__name -->
          <div class="about__desc">
            <p>Разбираем примеры бизнес-процессов действующих организаций. Курсовые работы состоят из заданий с которыми вероятно столкнетесь на будущем рабочем месте</p>
          </div><!-- /.about__desc -->
        </div><!-- /.about__box -->
      </div><!-- /.about__item -->

      <div class="about__item">
        <div class="about__box">
          <div class="about__label">
            <div class="horizontal-label">Для карьеры</div>
          </div><!-- /.about__label -->
          <div class="about__name">
            <h2>Актуальная профессия</h2>
          </div><!-- /.about__name -->
          <div class="about__desc">
            <p>Интернет - новый канал привлечения клиентов. Бизнес заинтересован в компетентных сотрудников и создает спрос на интернет-маркетологов</p>
          </div><!-- /.about__desc -->
        </div><!-- /.about__box -->
      </div><!-- /.about__item -->

    </div><!-- /.about-list -->

  </div><!-- /.about -->
</div><!-- /.container -->
