button[disabled=disabled],
button:disabled,
.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  //pointer-events: none;
  color: rgb(173, 177, 185);
  background-color: rgb(247, 247, 248);
  border-color: rgb(214, 218, 221);
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 13px 26px 12px 26px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all .2s ease;
  vertical-align: middle;
  position: relative;
  overflow: hidden;

  &-green {
    background-color: #21aa00;
    border: none;
    padding: 14px 27px 13px 27px;

    &:hover,
    &.hover {
      background-color: rgb(49, 197, 9);
      border-color: transparent;
      color: #fff;
    }

    &:focus,
    &.focus {
      background-color: rgb(30, 155, 0);
      border-color: rgb(30, 155, 0);
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }

    .mee-ink {
      background-color: rgba(49, 197, 9, 1);
    }
  }

  &-outline {
    border-color: rgb(173, 177, 185);
    color: rgb(0, 0, 0);

    &:hover,
    &.hover {
      border-color: rgb(120, 122, 128);
      color: rgb(0, 0, 0);
    }

    &:focus,
    &.focus {
      background-color: rgb(247, 247, 248);
      border-color: rgb(120, 122, 128);
      color: rgb(0, 0, 0);
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(173, 177, 185);
      background-color: rgb(247, 247, 248);
      border-color: rgb(214, 218, 221);
    }

    .mee-ink {
      animation-timing-function: ease-out;
      background: rgba(255, 255, 255, .85);
    }
  }
}

.more-link {
  position: relative;
  transition: .3s ease;
  padding-right: 21px;
  color: #21aa00;

  span {
    border-bottom: 1px solid transparent;
    transition: .3s ease;
  }

  &:hover {

    span {
      border-bottom-color: rgb(33, 170, 0);
      transition: .3s ease;
    }
  }

  &:after {
    @include pseudo;
    @include size(10px, 10px);
    top: 4px;
    right: 0;
    background-image: svg-load('arrow.svg', fill=#21aa00);
  }

  &--expand {
    &:after {
      transform: rotate(180deg);
    }
  }
}

.reload-link {
  position: relative;
  transition: .3s ease;
  padding-left: 40px;
  color: #21aa00;

  span {
    border-bottom: 1px solid transparent;
    transition: .3s ease;
  }

  &:hover {

    span {
      border-bottom-color: rgb(33, 170, 0);
      transition: .3s ease;
    }
  }

  &:after {
    @include pseudo;
    @include size(20px);
    top: -2px;
    left: 0;
    background-image: svg-load('reload.svg', fill=#21aa00);
  }
}

.loading {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  color: #adb1b9;
  margin-top: 10px;
  margin-bottom: 10px;

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 9px;
  }

  &__text {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
}
