.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 13px 26px 12px 26px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all .3s ease;
  vertical-align: middle;

  &-green {
    background-color: #21aa00;
  }

  &-outline {
    border: 1px solid rgb(173, 177, 185);
    padding: 11px 18px 11px 13px;
    color: rgb(0, 0, 0);
  }

  &:hover {
    color: #fff;
  }

  &:focus {
    background-color: rgb(242, 245, 245);
  }
}

button[disabled=disabled],
button:disabled,
.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: rgb(173, 177, 185);
  background-color: rgb(247, 247, 248);
  border-color: rgb(214, 218, 221);
}

.more-link {
  position: relative;
  transition: .3s ease;
  padding-right: 20px;

  &:after {
    @include pseudo;
    @include size(10px, 10px);
    top: 5px;
    right: 0;
    background-image: svg-load('arrow.svg', fill=#21aa00);
  }
}
