* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
}

html,
.root {
  font-size: 15px;
  line-height: 25px;
}

body {
  font-family: $GeneralFontFamily;
  background-color: $BodyBackground;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  @include antialias;
  @include text-size-adjust(100%);
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.outline {
  border-left: 1px solid rgb(214, 217, 220);
  border-right: 1px solid rgb(214, 217, 220);
  border-bottom: 1px solid rgb(214, 217, 220);
}

.hide {
  @include hidden;
}

.container {
  min-width: 1280px;
}

.ui-page {

  pre > code {
    font-size: 12px;
    line-height: 15px;
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
  }

  .ui-demo {

    &-element {
      margin-bottom: 15px;
    }
  }
}
