.ico {
  position: relative;
  display: inline-block;
  transition: all .3s ease;

  &-check {
    @include size(20px, 14px);
    background-image: svg-load('check.svg', fill=#00b402);
  }

  &-loupe {
    @include size(20px);
    background-image: svg-load('loupe.svg', fill=#adb1b9);
  }

  &-bell {
    @include size(18px, 20px);
    background-image: svg-load('bell.svg', fill=#adb1b9);
  }

  &-watch {
    @include size(20px);
    background-image: svg-load('watch.svg', fill=#adb1b9);
  }

  &-pause {
    @include size(18px);
    background-image: svg-load('pause.svg', fill=#00b402);
  }

  &-chevron {
    @include size(10px, 7px);
    background-image: svg-load('chevron.svg', fill=#00b402);

    &.gray {
      background-image: svg-load('chevron.svg', fill=rgb(173, 177, 185));
    }

    &.left {
      transform: rotate(90deg);
    }

    &.right {
      transform: rotate(-90deg);
    }
  }

  &-star {
    @include size(20px);
    background-image: svg-load('star.svg', fill=#adb1b9);
  }

  &-play-in-circle {
    @include size(20px);
    background-image: svg-load('play-in-circle.svg', fill=#adb1b9);
  }

  &-article {
    @include size(16px, 20px);
    background-image: svg-load('article.svg', fill=#adb1b9);
  }

  &-book {
    @include size(16px, 20px);
    background-image: svg-load('book.svg', fill=#adb1b9);
  }
}
