<div class="container">
  <div class="menu outline">
    <ul class="menu top-menu">
      <li class="menu__item menu__item--active"><a href="" class="menu__link">Институт</a></li>
      <li class="menu__item"><a href="" class="menu__link">Интенсивные курсы</a></li>
      <li class="menu__item"><a href="" class="menu__link">Конференции</a></li>
      <li class="menu__item"><a href="" class="menu__link">Семинары</a></li>
      <li class="menu__item"><a href="" class="menu__link">Вебинары</a></li>
      <li class="menu__item"><a href="" class="menu__link">Видео</a></li>
      <li class="menu__item"><a href="" class="menu__link">Учебные материалы</a></li>
      <li class="menu__item"><a href="" class="menu__link">Контакты</a></li>
    </ul>
  </div><!-- /.menu -->
</div><!-- /.container -->
