<div class="subnav-wrap">
  <div class="subnav">

    <div class="list-icon">

      <div class="list-icon__item">
        <a href="">
          <div class="list-icon__box">
            <div class="list-icon__icon">
              <div class="list-icon__icon-box">
                <i class="ico ico-chevron left"></i>
              </div><!-- /.list-icon__icon-box -->
            </div><!-- /.list-icon__icon -->
            <div class="list-icon__desc">
              Всё расписание
            </div><!-- /.list-icon__desc -->
          </div><!-- /.list-icon__box -->
        </a>
      </div><!-- /.list-icon__item -->

    </div><!-- /.list-icon -->

  </div><!-- /.subnav -->
</div><!-- /.subnav-wrap -->
