.subnav-wrap {
  background-color: #f7f7f8;
  border-bottom: 1px solid #d6d9dc;
}

.subnav {
  padding: 15px 10px 14px 20px;

  .list-icon {

    a {
      display: block;
      color: #21aa00;
    }
  }
}
