<div class="test-page">
  <div class="test-page__header">
    <div class="logo">
      <a href="index.html" title="Вернуться на главную страницу CyberMarketing">
        <span class="logo-box"><i class="ico ico-logo"></i></span>
      </a>
    </div><!-- /.logo -->
  </div><!-- /.test-page__header -->
  <div class="test-page__body">
    <div class="test-content">

      <div class="test-header">
        <div class="test-progress"><span>Вопрос 5 из 12</span></div><!-- /.test-progress -->
        <div class="test-time">
          <div class="time">
            <div class="time-watch"><span>12:32</span></div><!-- /.time-watch -->
            <div class="time-icon"><span><i class="ico ico-spinner"></i></span></div><!-- /.time-icon -->
          </div><!-- /.time -->
        </div><!-- /.test-time -->
      </div><!-- /.text-header -->

      <form action="" class="form form-test">
        <p>Сфера деятельности фирмы, включающая принятие решений о товарной номенклатуре, товарном ассортименте, использовании марочного названия, сервисном обслуживании, разработке нового товара и др., называется:</p>
      </form>

      <div class="test-actions">
        <button class="btn btn-green" id="submit" disabled>Отправить</button>
      </div><!-- /.test-actions -->

    </div><!-- /.test-content -->
  </div><!-- /.test-page__body -->
  <div class="test-page__notify"></div><!-- /.test-page__notify -->
</div><!-- /.test-page -->
