<div class="list-icon list-icon--big">

  <div class="list-icon__item list-icon__item--speaker">
    <div class="list-icon__box">
      <div class="list-icon__icon">
                <span class="speaker-photka-big">
                  <img src="assets/images/dmitry-klimchukov-60x60.png" alt="Дмитрий Климчуков" width="60" height="60">
                </span>
      </div><!-- /.list-icon__icon -->
      <div class="list-icon__desc">
        <div class="list-icon__desc--text">Дмитрий Климчуков</div>
        <div class="list-icon__desc--info">Генеральный директор агентства Click.ru</div>
      </div><!-- /.list-icon__desc -->
    </div><!-- /.list-icon__box -->
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <div class="list-icon__box">
      <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-presentation"></i>
                </span>
      </div><!-- /.list-icon__icon -->
      <div class="list-icon__desc">
        <a href="">Презентацию по уроку: «Стратегический маркетинг»</a>
      </div><!-- /.list-icon__desc -->
    </div><!-- /.list-icon__box -->
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <div class="list-icon__box">
      <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-manual"></i>
                </span>
      </div><!-- /.list-icon__icon -->
      <div class="list-icon__desc">
        <a href="">Методичка по курсу: «Маркетинг и реклама: введение»</a>
      </div><!-- /.list-icon__desc -->
    </div><!-- /.list-icon__box -->
  </div><!-- /.list-icon__item -->

</div><!-- /.list-icon -->

<h3>Дополнительные материалы</h3>

<div class="list-icon">

  <div class="list-icon__item">
    <div class="list-icon__box">
      <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-play-in-circle"></i>
                </span>
      </div><!-- /.list-icon__icon -->
      <div class="list-icon__desc">
        <a href="">Конверсия. Секреты продвижения в высококонкурентных тематиках при ограниченном бюджете</a>
      </div><!-- /.list-icon__desc -->
    </div><!-- /.list-icon__box -->
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <div class="list-icon__box">
      <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-play-in-circle"></i>
                </span>
      </div><!-- /.list-icon__icon -->
      <div class="list-icon__desc">
        <a href="">Как сократить в 2-5 раз стоимость клиента в таргетированной рекламе</a>
      </div><!-- /.list-icon__desc -->
    </div><!-- /.list-icon__box -->
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <div class="list-icon__box">
      <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-article"></i>
                </span>
      </div><!-- /.list-icon__icon -->
      <div class="list-icon__desc">
        <a href="">Как сократить в 2-5 раз стоимость клиента в таргетированной рекламе</a>
      </div><!-- /.list-icon__desc -->
    </div><!-- /.list-icon__box -->
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <div class="list-icon__box">
      <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-article"></i>
                </span>
      </div><!-- /.list-icon__icon -->
      <div class="list-icon__desc">
        <a href="">4 способа проверить сайт на фильтры поисковых систем</a>
      </div><!-- /.list-icon__desc -->
    </div><!-- /.list-icon__box -->
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <div class="list-icon__box">
      <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-book"></i>
                </span>
      </div><!-- /.list-icon__icon -->
      <div class="list-icon__desc">
        <div class="list-icon__desc--text">Маркетинг-менеджмент</div>
        <div class="list-icon__desc--info">Филип Котлер, Кевин Лейн Келлер</div>
      </div><!-- /.list-icon__desc -->
    </div><!-- /.list-icon__box -->
  </div><!-- /.list-icon__item -->

</div><!-- /.list-icon -->
