<div class="list-icon list-icon--big">

  <div class="list-icon__item list-icon__item--speaker">
    <div class="list-icon__box">
      <div class="list-icon__icon">
        <div class="speaker-photka-big">
          <img src="assets/images/dmitry-klimchukov-60x60.png" alt="Дмитрий Климчуков" width="60" height="60">
        </div>
      </div><!-- /.list-icon__icon -->
      <div class="list-icon__desc">
        <div class="list-icon__desc--text">Дмитрий Климчуков</div>
        <div class="list-icon__desc--info">Генеральный директор агентства Click.ru</div>
      </div><!-- /.list-icon__desc -->
    </div><!-- /.list-icon__box -->
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <a href="#">
      <div class="list-icon__box">
        <div class="list-icon__icon">
          <div class="list-icon__icon-box">
            <i class="ico ico-presentation"></i>
          </div><!-- /.list-icon__icon-box -->
        </div><!-- /.list-icon__icon -->
        <div class="list-icon__desc">
          Презентацию по уроку: «Стратегический маркетинг»
        </div><!-- /.list-icon__desc -->
      </div><!-- /.list-icon__box -->
    </a>
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <a href="">
      <div class="list-icon__box">
        <div class="list-icon__icon">
          <div class="list-icon__icon-box">
            <i class="ico ico-manual"></i>
          </div><!-- /.list-icon__icon-box -->
        </div><!-- /.list-icon__icon -->
        <div class="list-icon__desc">
          Методичка по курсу: «Маркетинг и реклама: введение»
        </div><!-- /.list-icon__desc -->
      </div><!-- /.list-icon__box -->
    </a>
  </div><!-- /.list-icon__item -->

</div><!-- /.list-icon -->

<h3>Дополнительные материалы</h3>

<div class="list-icon">

  <div class="list-icon__item">
    <a href="">
      <div class="list-icon__box">
        <div class="list-icon__icon">
          <div class="list-icon__icon-box">
            <i class="ico ico-microphone"></i>
          </div><!-- /.list-icon__icon-box -->
        </div><!-- /.list-icon__icon -->
        <div class="list-icon__desc">
          <div class="list-icon__desc--info">Семинар, 15 мая 13:00</div>
          Как сократить в 2-5 раз стоимость клиента в таргетированной рекламе
        </div><!-- /.list-icon__desc -->
      </div><!-- /.list-icon__box -->
    </a>
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <a href="">
      <div class="list-icon__box">
        <div class="list-icon__icon">
          <div class="list-icon__icon-box">
            <i class="ico ico-play-in-circle"></i>
          </div><!-- /.list-icon__icon-box -->
        </div><!-- /.list-icon__icon -->
        <div class="list-icon__desc">
          <div class="list-icon__desc--info">Запись вебинара</div>
          Как сократить в 2-5 раз стоимость клиента в таргетированной рекламе
        </div><!-- /.list-icon__desc -->
      </div><!-- /.list-icon__box -->
    </a>
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <a href="">
      <div class="list-icon__box">
        <div class="list-icon__icon">
          <div class="list-icon__icon-box">
            <i class="ico ico-article"></i>
          </div><!-- /.list-icon__icon-box -->
        </div><!-- /.list-icon__icon -->
        <div class="list-icon__desc">
          <div class="list-icon__desc--info">Статья</div>
          4 способа проверить сайт на фильтры поисковых систем
        </div><!-- /.list-icon__desc -->
      </div><!-- /.list-icon__box -->
    </a>
  </div><!-- /.list-icon__item -->

  <div class="list-icon__item">
    <div class="list-icon__box">
      <div class="list-icon__icon">
        <div class="list-icon__icon-box">
          <i class="ico ico-book"></i>
        </div><!-- /.list-icon__icon-box -->
      </div><!-- /.list-icon__icon -->
      <div class="list-icon__desc">
        <div class="list-icon__desc--info">Книга</div>
        <div class="list-icon__desc--text">Маркетинг-менеджмент</div>
        <div class="list-icon__desc--info">Филип Котлер, Кевин Лейн Келлер</div>
      </div><!-- /.list-icon__desc -->
    </div><!-- /.list-icon__box -->
  </div><!-- /.list-icon__item -->

</div><!-- /.list-icon -->
