<div class="curriculum">

  <div class="curriculum__item curriculum--end">
    <div class="curriculum__box">
      <div class="curriculum__status">

        <div class="curriculum-status no-top">
          <div class="curriculum-status__box">
            <div class="curriculum-status__course"><span><i class="ico ico-check"></i></span></div><!-- /.curriculum-status__course -->
            <div class="curriculum-status__text">4.8</div><!-- /.curriculum-status__text -->
          </div><!-- /.curriculum-status__box -->
        </div><!-- /.curriculum-status -->

      </div><!-- /.curriculum__status -->
      <div class="curriculum__desc">Маркетинг и реклама: введение</div><!-- /.curriculum__desc -->
    </div><!-- /.curriculum__box -->
  </div><!-- /.curriculum__item -->

  <div class="curriculum__item curriculum--end">
    <div class="curriculum__box">
      <div class="curriculum__status">

        <div class="curriculum-status">
          <div class="curriculum-status__box">
            <div class="curriculum-status__course"><span><i class="ico ico-check"></i></span></div><!-- /.curriculum-status__course -->
            <div class="curriculum-status__text">4.5</div><!-- /.curriculum-status__text -->
          </div><!-- /.curriculum-status__box -->
        </div><!-- /.curriculum-status -->

      </div><!-- /.curriculum__status -->
      <div class="curriculum__desc">Правовое регулирование маркетинговой деятельности</div><!-- /.curriculum__desc -->
    </div><!-- /.curriculum__box -->
  </div><!-- /.curriculum__item -->

  <div class="curriculum__item curriculum--active">
    <div class="curriculum__box">
      <div class="curriculum__status">

        <div class="curriculum-status">
          <div class="curriculum-status__box">
            <div class="curriculum-status__course">3</div><!-- /.curriculum-status__course -->
            <div class="curriculum-status__text">курс</div><!-- /.curriculum-status__text -->
          </div><!-- /.curriculum-status__box -->
        </div><!-- /.curriculum-status -->

      </div><!-- /.curriculum__status -->
      <div class="curriculum__desc">Базовый курс интернет технологии</div><!-- /.curriculum__desc -->
    </div><!-- /.curriculum__box -->
  </div><!-- /.curriculum__item -->

  <div class="curriculum__item">
    <div class="curriculum__box">
      <div class="curriculum__status">

        <div class="curriculum-status">
          <div class="curriculum-status__box">
            <div class="curriculum-status__course">4</div><!-- /.curriculum-status__course -->
            <div class="curriculum-status__text">курс</div><!-- /.curriculum-status__text -->
          </div><!-- /.curriculum-status__box -->
        </div><!-- /.curriculum-status -->

      </div><!-- /.curriculum__status -->
      <div class="curriculum__desc">Основы юзабилити сайтов: базовый курс</div><!-- /.curriculum__desc -->
    </div><!-- /.curriculum__box -->
  </div><!-- /.curriculum__item -->

  <div class="curriculum__item">
    <div class="curriculum__box">
      <div class="curriculum__status">

        <div class="curriculum-status">
          <div class="curriculum-status__box">
            <div class="curriculum-status__course">5</div><!-- /.curriculum-status__course -->
            <div class="curriculum-status__text">курс</div><!-- /.curriculum-status__text -->
          </div><!-- /.curriculum-status__box -->
        </div><!-- /.curriculum-status -->

      </div><!-- /.curriculum__status -->
      <div class="curriculum__desc">Основы юзабилити сайтов: базовый курс</div><!-- /.curriculum__desc -->
    </div><!-- /.curriculum__box -->
  </div><!-- /.curriculum__item -->

  <div class="curriculum__item">
    <div class="curriculum__box">
      <div class="curriculum__status">

        <div class="curriculum-status">
          <div class="curriculum-status__box">
            <div class="curriculum-status__course">6</div><!-- /.curriculum-status__course -->
            <div class="curriculum-status__text">курс</div><!-- /.curriculum-status__text -->
          </div><!-- /.curriculum-status__box -->
        </div><!-- /.curriculum-status -->

      </div><!-- /.curriculum__status -->
      <div class="curriculum__desc">Основы юзабилити сайтов: базовый курс</div><!-- /.curriculum__desc -->
    </div><!-- /.curriculum__box -->
  </div><!-- /.curriculum__item -->

  <div class="curriculum__item">
    <div class="curriculum__box">
      <div class="curriculum__status">

        <div class="curriculum-status">
          <div class="curriculum-status__box">
            <div class="curriculum-status__course">7</div><!-- /.curriculum-status__course -->
            <div class="curriculum-status__text">курс</div><!-- /.curriculum-status__text -->
          </div><!-- /.curriculum-status__box -->
        </div><!-- /.curriculum-status -->

      </div><!-- /.curriculum__status -->
      <div class="curriculum__desc">Основы юзабилити сайтов: базовый курс</div><!-- /.curriculum__desc -->
    </div><!-- /.curriculum__box -->
  </div><!-- /.curriculum__item -->

  <div class="curriculum__item">
    <div class="curriculum__box">
      <div class="curriculum__status">

        <div class="curriculum-status">
          <div class="curriculum-status__box">
            <div class="curriculum-status__course">8</div><!-- /.curriculum-status__course -->
            <div class="curriculum-status__text">курс</div><!-- /.curriculum-status__text -->
          </div><!-- /.curriculum-status__box -->
        </div><!-- /.curriculum-status -->

      </div><!-- /.curriculum__status -->
      <div class="curriculum__desc">Основы юзабилити сайтов: базовый курс</div><!-- /.curriculum__desc -->
    </div><!-- /.curriculum__box -->
  </div><!-- /.curriculum__item -->

  <div class="curriculum__item">
    <div class="curriculum__box">
      <div class="curriculum__status">

        <div class="curriculum-status no-bottom">
          <div class="curriculum-status__box">
            <div class="curriculum-status__course">9</div><!-- /.curriculum-status__course -->
            <div class="curriculum-status__text">курс</div><!-- /.curriculum-status__text -->
          </div><!-- /.curriculum-status__box -->
        </div><!-- /.curriculum-status -->

      </div><!-- /.curriculum__status -->
      <div class="curriculum__desc">Основы юзабилити сайтов: базовый курс</div><!-- /.curriculum__desc -->
    </div><!-- /.curriculum__box -->
  </div><!-- /.curriculum__item -->

</div><!-- /.curriculum -->
