<div class="container">
  <div class="page page-sidebar outline">

    <div class="page__content content">

      <div class="content__full">
        <div class="content__full-box">
          <img src="assets/images/lessong.png" alt="">
        </div><!-- /.content__full-box -->
      </div><!-- /.content__full -->

      <div class="content__box">
        <h3>Ответы на вопросы студентов</h3>

        <div class="comments">

          <div class="comments__item">
            <div class="comment">
              <div class="comment__box">

                <div class="comment__user">
                  <div class="comment__user-photka">
                    <span><img src="assets/images/valentina.png" alt="Валентина" height="40" width="40"></span>
                  </div><!-- /.comment__user-photka -->
                  <div class="comment__user-name"><span>Валентина</span></div><!-- /.comment__user-name -->
                </div><!-- /.comment__user -->

                <div class="comment__descr">
                  <div class="comment__descr--text">Какое приблизительно время уходит на индексацию ссылок яндексом?</div>
                  <a href="#" class="more-link">Показать занятия</a>
                </div><!-- /.comment__descr -->
              </div><!-- /.comment__box -->
            </div><!-- /.comment -->
          </div><!-- /.comments__item -->

          <div class="comments__item">
            <div class="comment">
              <div class="comment__box">

                <div class="comment__user">
                  <div class="comment__user-photka">
                    <span><img src="assets/images/evgeniy.png" alt="Евгений" height="40" width="40"></span>
                  </div><!-- /.comment__user-photka -->
                  <div class="comment__user-name"><span>Евгений</span></div><!-- /.comment__user-name -->
                </div><!-- /.comment__user -->

                <div class="comment__descr">
                  <div class="comment__descr--text">Будет ли система продолжать покупать ссылки по достижению установленного ТОПа в одной из поисковых систем?</div>
                  <a href="#" class="more-link">Показать занятия</a>
                </div><!-- /.comment__descr -->
              </div><!-- /.comment__box -->
            </div><!-- /.comment -->
          </div><!-- /.comments__item -->

        </div><!-- /.comments -->

        <h3>Задайте свой вопрос</h3>

        <div class="comments comments-form">
          <form action="" class="form">
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Задайте ваш вопрос"></textarea>
            </div><!-- /.form-group -->
            <div class="form-group">
              <div class="form-actions">
                <button class="btn green disabled">Отправить</button>

                <div class="form-add-file">
                  <label class="custom-file">
                    <input type="file" name="file" id="file" class="custom-file-input" data-multiple-caption="{count} файла будет загружено" multiple>
                    <span class="custom-file-control"><span>Прикрепить фаил</span></span>
                  </label>
                </div><!-- /.form-add-file -->

              </div>
            </div>
          </form>
        </div><!-- /.comments-form -->

      </div><!-- /.content__box -->

    </div><!-- /.page__content -->

    <div class="page__aside aside">

      <div class="aside__box">

        <h3>Дополнительные материалы</h3>

      </div><!-- /.aside__box -->

        <div class="list-icon">

          <div class="list-icon__item">
            <div class="list-icon__box">
              <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-play-in-circle"></i>
                </span>
              </div><!-- /.list-icon__icon -->
              <div class="list-icon__desc">
                <a href="">Конверсия. Секреты продвижения в высококонкурентных тематиках при ограниченном бюджете</a>
              </div><!-- /.list-icon__desc -->
            </div><!-- /.list-icon__box -->
          </div><!-- /.list-icon__item -->

          <div class="list-icon__item">
            <div class="list-icon__box">
              <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-play-in-circle"></i>
                </span>
              </div><!-- /.list-icon__icon -->
              <div class="list-icon__desc">
                <a href="">Как сократить в 2-5 раз стоимость клиента в таргетированной рекламе</a>
              </div><!-- /.list-icon__desc -->
            </div><!-- /.list-icon__box -->
          </div><!-- /.list-icon__item -->

          <div class="list-icon__item">
            <div class="list-icon__box">
              <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-article"></i>
                </span>
              </div><!-- /.list-icon__icon -->
              <div class="list-icon__desc">
                <a href="">Как сократить в 2-5 раз стоимость клиента в таргетированной рекламе</a>
              </div><!-- /.list-icon__desc -->
            </div><!-- /.list-icon__box -->
          </div><!-- /.list-icon__item -->

          <div class="list-icon__item">
            <div class="list-icon__box">
              <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-article"></i>
                </span>
              </div><!-- /.list-icon__icon -->
              <div class="list-icon__desc">
                <a href="">4 способа проверить сайт на фильтры поисковых систем</a>
              </div><!-- /.list-icon__desc -->
            </div><!-- /.list-icon__box -->
          </div><!-- /.list-icon__item -->

          <div class="list-icon__item">
            <div class="list-icon__box">
              <div class="list-icon__icon">
                <span class="list-icon__icon-box">
                  <i class="ico ico-book"></i>
                </span>
              </div><!-- /.list-icon__icon -->
              <div class="list-icon__desc">
                <div class="list-icon__desc--text">Маркетинг-менеджмент</div>
                <div class="list-icon__desc--info">Филип Котлер, Кевин Лейн Келлер</div>
              </div><!-- /.list-icon__desc -->
            </div><!-- /.list-icon__box -->
          </div><!-- /.list-icon__item -->

        </div><!-- /.list-icon -->

    </div><!-- /.page__aside -->

  </div><!-- /.page -->
</div><!-- /.container -->
