<div class="container">
  <div class="page page-sidebar outline">

    <div class="page__content content">
      <h2>Курс 3. Базовый курс интернет технологии</h2>
      <p>По окончании курса вы будете уметь:</p>

      <ul class="list">
        <li class="list__item">изучать и уметь использовать основные маркетинговые модели и концепции на практике;</li>
        <li class="list__item">разрабатывать маркетинговую стратегию;</li>
        <li class="list__item">сегментировать рынок, выбирать целевые сегменты и разрабатывать позиционирование;</li>
        <li class="list__item">проводить маркетинговые исследования;</li>
        <li class="list__item">знать и использовать SWOT-анализ;</li>
        <li class="list__item">понимать и использовать особенности средств рекламы;</li>
        <li class="list__item">уметь оценивать эффективность и результативность рекламной кампании/маркетингового плана/плана брендинга</li>
      </ul>

      <div class=""></div>

    </div><!-- /.page__content -->

    <div class="page__aside aside">

      @@include('blocks/page/aside.html')

    </div><!-- /.page__aside -->

  </div><!-- /.page -->
</div><!-- /.container -->
