.page {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: stretch;
  align-content: flex-start;

  &__content {
    padding: 40px;
    flex: 1 100%;
  }

  &__aside {
    flex-basis: 378px;
    min-width: 378px;
    border-left: 1px solid rgb(214, 217, 220);
  }
}

.curriculum {
  padding: 25px 0 25px 0;

  &--active {
    background-color: rgb(247, 247, 248);

    .curriculum-status {

      &:before {
        background-color: rgb(99, 168, 36);
      }

      &__box {

        &:before {
          @include pseudo;
          width: 56px;
          height: 56px;
          border: 2px solid rgb(99, 168, 36);
          border-radius: 50%;
          clip: rect(40px, auto, auto, 40px);
          transform: rotate(-108deg);
          top: -11px;
          left: 0;
        }
      }
    }

    .curriculum__desc {
      color: rgb(0, 0, 0);
    }
  }

  &--end {

    .curriculum-status {
      border-color: rgb(99, 168, 36);

      &:before,
      &:after {
        background-color: rgb(99, 168, 36);
      }

      &__text {
        color: rgb(99, 168, 36);
        font-weight: 700;
      }
    }
  }

  &__box {
    display: flex;
    align-content: space-between;
    align-items: center;
  }

  &__item {
    padding: 20px 40px;
    transition: all .3s ease;

    &:hover {
      background-color: rgb(247, 247, 248);
      cursor: pointer;
    }
  }

  &__status {
    flex-basis: 60px;
    margin-right: 20px;

    span {
      position: relative;
      left: 1px;
    }
  }

  &__desc {
    color: rgb(99, 168, 36);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    flex: 1 100%;
  }
}

.curriculum-status {
  width: 60px;
  height: 60px;
  border: 2px solid rgb(214, 217, 220);
  border-radius: 50%;
  text-align: center;
  position: relative;

  &.no-top:before {
    display: none;
  }

  &.no-bottom:after {
    display: none;
  }

  &__box {
    position: absolute;
    top: 9px;
    left: -2px;
    text-align: center;
    width: 60px;
    height: 60px;
  }

  &__course {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
  }

  &__text {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }

  &:before,
  &:after {
    @include pseudo;
    width: 2px;
    height: 20px;
    background-color: rgb(214, 217, 220);
    left: 50%;
  }

  &:before {
    top: -22px;
  }

  &:after {
    bottom: -22px;
  }
}

// Ссылки на интересные материалы
.list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 11px;
    padding-left: 35px;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;

    &:before {
      position: absolute;
      content: '';
      @include size(10px, 8px);
      top: 8px;
      left: 10px;
      background-image: svg-load('check-small.svg', fill=#63a824);
    }
  }
}

.course-module {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 2px;

  &__box {
    padding: 26px 39px;
  }

  &__name {
    margin-bottom: 5px;
  }

  &__desc {
    color: rgb(120, 122, 128);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    align-content: space-between;
    align-items: flex-end;
  }
}

.course-speaker {
  display: flex;
  align-content: space-between;
  align-items: center;
  flex: 1 100%;

  &__photka {
    flex-basis: 40px;

    span {
      display: block;
      background-color: #f7f7f8;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }

  &__who {
    margin-left: 19px;
    flex: 1 100%;
  }

  &__name {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }

  &__position {
    color: rgb(120, 122, 128);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
}

.course-more {
  flex: 1 30%;
  text-align: right;
}
