.page {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: stretch;
  align-content: flex-start;

  &__content {
    padding: 20px;
    flex: 1 100%;
  }

  &__aside {
    flex-basis: 378px;
    border-left: 1px solid rgb(214, 217, 220);
  }
}
