<div class="container">
  <div class="page page-sidebar outline">

    <div class="page__content content">
      <h2>Курс 3. Базовый курс интернет технологии</h2>
      <p>По окончании курса вы будете уметь:</p>

      <ul class="list">
        <li class="list__item">изучать и уметь использовать основные маркетинговые модели и концепции на практике;</li>
        <li class="list__item">разрабатывать маркетинговую стратегию;</li>
        <li class="list__item">сегментировать рынок, выбирать целевые сегменты и разрабатывать позиционирование;</li>
        <li class="list__item">проводить маркетинговые исследования;</li>
        <li class="list__item">знать и использовать SWOT-анализ;</li>
        <li class="list__item">понимать и использовать особенности средств рекламы;</li>
        <li class="list__item">уметь оценивать эффективность и результативность рекламной кампании/маркетингового плана/плана брендинга</li>
      </ul>

      <div class="course-module">
        <div class="course-module__box">
          <div class="course-module__name"><h3>Модуль 1. Работа с хостингом</h3></div><!-- /.course-module__name -->
          <div class="course-module__desc">Мы расскажем вам что такое хостинг и основных проблемах, а так же вариантах их решения.</div><!-- /.course-module__desc -->
          <div class="course-module__footer">

            <div class="course-speaker">
              <div class="course-speaker__photka"><span><img src="assets/images/dmitry-klimchukov.png" alt=""></span></div><!-- /.course-speaker__photka -->
              <div class="course-speaker__who">
                <div class="course-speaker__name">Дмитрий Климчуков</div><!-- /.course-speaker__name -->
                <div class="course-speaker__position">Ген еральный директор агентства Click.ru</div><!-- /.course-speaker__position -->
              </div><!-- /.course-speaker__who -->
            </div><!-- /.course-speaker -->

            <div class="course-more">
              <a href="#" class="more-link">Показать занятия</a>
            </div>

          </div><!-- /.course-module__footer -->
        </div><!-- /.course-module__box -->
        <div class="course-module__item">
          <div class="module-i">
            <div class="">
              <div class="">Промежуточное тестирование: 5.0</div>
              <div class="">Экзаминационная работа: 5.0</div>
            </div>
            <div class="">5.0</div>
          </div>
        </div>
      </div><!-- /.course-module -->

      <div class="course-module">
        <div class="course-module__box">
          <div class="course-module__name"><h3>Модуль 3.Современное сайтостроение</h3></div><!-- /.course-module__name -->
          <div class="course-module__desc">Мы расскажем вам что такое хостинг и основных проблемах, а так же вариантах их решения.</div><!-- /.course-module__desc -->
          <div class="course-module__footer">

            <div class="course-speaker">
              <div class="course-speaker__photka"><span><img src="assets/images/dmitry-klimchukov.png" alt=""></span></div><!-- /.course-speaker__photka -->
              <div class="course-speaker__who">
                <div class="course-speaker__name">Дмитрий Климчуков</div><!-- /.course-speaker__name -->
                <div class="course-speaker__position">Генеральный директор агентства Click.ru</div><!-- /.course-speaker__position -->
              </div><!-- /.course-speaker__who -->
            </div><!-- /.course-speaker -->

            <div class="course-more">
              <a href="#" class="more-link">Показать занятия</a>
            </div>

          </div><!-- /.course-module__footer -->
        </div><!-- /.course-module__box -->
      </div><!-- /.course-module -->

      <div class="page-navigation">
        <div class="navigation">
          <div class="navigation__item">
            <a href="" class="btn btn-outline navigation-link"><i class="ico ico-chevron gray left"></i>2 курс</a>
          </div><!-- /.navigation__item -->
          <div class="navigation__item">
            <a href="" class="btn btn-outline navigation-link">4 курс<i class="ico ico-chevron gray right"></i></a>
          </div><!-- /.navigation__item -->
        </div><!-- /.navigation -->
      </div><!-- /.page-navigation -->

    </div><!-- /.page__content -->

    <div class="page__aside aside">

      @@include('blocks/page/aside.html')

    </div><!-- /.page__aside -->

  </div><!-- /.page -->
</div><!-- /.container -->
