.ico {
  position: relative;
  display: inline-block;
  transition: all .3s ease;

  &-cross {
    @include size(16px, 16px);
    background-image: svg-load('cross.svg', fill=#adb1b9);
  }

  &-loupe {
    @include size(20px);
    background-image: svg-load('loupe.svg', fill=#adb1b9);
  }

  &-calendar {
    @include size(18px, 20px);
    background-image: svg-load('calendar.svg', fill=#adb1b9);
  }

  &-portfl {
    @include size(18px, 20px);
    background-image: svg-load('portfl.svg', fill=#adb1b9);
  }

  &-microphone {
    @include size(16px, 20px);
    background-image: svg-load('microphone.svg', fill=#adb1b9);
  }

  &-webcam {
    @include size(16px, 20px);
    background-image: svg-load('webcam.svg', fill=#adb1b9);
  }

  &-pencil {
    @include size(10px, 20px);
    background-image: svg-load('pencil.svg', fill=#adb1b9);
  }

  &-academic-cap {
    @include size(20px, 18px);
    background-image: svg-load('academic-cap.svg', fill=#adb1b9);
  }

  &-play-in-circle {
    @include size(20px);
    background-image: svg-load('play-in-circle.svg', fill=#adb1b9);
  }

  &-like {
    @include size(18px, 20px);
    background-image: svg-load('like.svg', fill=#adb1b9);
  }

  &-user {
    @include size(18px, 18px);
    background-image: svg-load('user.svg', fill=#adb1b9);
  }

  &-star {
    @include size(20px);
    background-image: svg-load('star.svg', fill=#adb1b9);
  }

  &-geotag {
    @include size(18px, 20px);
    background-image: svg-load('geotag.svg', fill=#adb1b9);
  }

  &-mail {
    @include size(20px, 16px);
    background-image: svg-load('mail.svg', fill=#adb1b9);
  }

  &-phone {
    @include size(14px, 20px);
    background-image: svg-load('phone.svg', fill=#adb1b9);
  }

  &-computer {
    @include size(18px, 18px);
    background-image: svg-load('computer.svg', fill=#adb1b9);
  }

  &-hamburger {
    @include size(18px, 16px);
    background-image: svg-load('hamburger.svg', fill=#adb1b9);
  }

  &-bell {
    @include size(18px, 20px);
    background-image: svg-load('bell.svg', fill=#adb1b9);
  }

  &-chevron {
    @include size(10px, 7px);
    background-image: svg-load('chevron.svg', fill=#00b402);

    &.gray {
      background-image: svg-load('chevron.svg', fill=rgb(173, 177, 185));
    }

    &.left {
      transform: rotate(90deg);
    }

    &.right {
      transform: rotate(-90deg);
    }
  }
}
