<div class="container">
  <div class="page outline">

    <div class="page__content content">

      <div class="content__box">

@@include('blocks/_progress/list/list.html')

@@loop("blocks/_progress/list/item.html", [
  { "href": "desktop/main.html", "name": "Главная страница", "design": "100", "html": "52" },
  { "href": "desktop/seminar.html", "name": "Страница семинара", "design": "100", "html": "29" },
  { "href": "desktop/course.html", "name": "Страница курса", "design": "100", "html": "100" }
])

<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Урок</div>
  </li>
  <ul>
  @@loop("blocks/_progress/list/item.html", [
    { "href": "desktop/lesson.html", "name": "Страница урока", "design": "100", "html": "100" },
    { "href": "desktop/lesson-video.html", "name": "Страница урока с видео", "design": "100", "html": "100" }
  ])
  </ul>
</li>

<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Тестирование</div>
  </li>
  <ul>
  @@loop("blocks/_progress/list/item.html", [
    { "href": "desktop/test-alert.html", "name": "Предупреждение", "design": "100", "html": "100" },
    { "href": "desktop/test-result.html", "name": "Результат теста", "design": "100", "html": "100" },
    { "href": "desktop/test-fail.html", "name": "Не сдал тест", "design": "100", "html": "100" },
    { "href": "desktop/test.html", "name": "Тест", "design": "100", "html": "100" },
    { "href": "desktop/lesson-test.html", "name": "Заглушка перед тестом", "design": "100", "html": "100" }
  ])
  </ul>
</li>

<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Вход/регистрация</div>
  </li>
  <ul>
    @@loop("blocks/_progress/list/item.html", [
      { "href": "desktop/auth.html", "name": "Вход", "design": "100", "html": "0" },
      { "href": "desktop/registration.html", "name": "Регистрация", "design": "100", "html": "0" },
      { "href": "desktop/restore.html", "name": "Восстановление пароля", "design": "100", "html": "0" },
      { "href": "desktop/restore2.html", "name": "Восстановление пароля, ок", "design": "100", "html": "0" }
    ])
  </ul>
</li>

<li>
  <li class="navigation__header">
    <div class="progress navigation-name"><span>Мобильный вид</span></div>
  </li>
  <ul>
    @@loop("blocks/_progress/list/item.html", [
      { "href": "mobile/lesson.html", "name": "Страница урока", "design": "100", "html": "0" },
      { "href": "mobile/menu.html", "name": "Меню", "design": "100", "html": "0" },
      { "href": "mobile/question.html", "name": "Задать вопрос", "design": "100", "html": "0" }
    ])
  </ul>
</li>

@@loop("blocks/_progress/list/item.html", [
  { "href": "ui.html", "name": "UI: Контролы и компоненты", "design": "100", "html": "100" }
])

@@include('blocks/_progress/structure/structure.html", {
  "git": "github.com/4enki/cm",
  "version": "1.0.0"
})
      </div><!-- /.content__box -->

    </div><!-- /.page__content -->
  </div><!-- /.page -->
</div><!-- /.container -->
