<div class="container">
  <div class="page outline">

    <div class="page__content content">

      <div class="content__box">

@@include('blocks/_progress/list/list.html')

@@loop("blocks/_progress/list/item.html", [
  { "href": "desktop/main.html", "name": "Главная страница", "design": "100", "html": "98" },
  { "href": "desktop/seminar.html", "name": "Страница семинара", "design": "100", "html": "98" },
  { "href": "desktop/course.html", "name": "Страница курса", "design": "100", "html": "100" },
  { "href": "desktop/institute.html", "name": "Страница института", "design": "100", "html": "98" },
  { "href": "desktop/institute-auth.html", "name": "Страница института с авторизацией", "design": "100", "html": "0" },
  { "href": "desktop/page-content.html", "name": "Страница внутренностей", "design": "100", "html": "100" }
])

<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Урок</div>
  </li>
  <ul>
  @@loop("blocks/_progress/list/item.html", [
    { "href": "desktop/lesson.html", "name": "Страница урока", "design": "100", "html": "100" },
    { "href": "desktop/lesson-video.html", "name": "Страница урока с видео", "design": "100", "html": "100" }
  ])
  </ul>
</li>

<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Тестирование</div>
  </li>
  <ul>
  @@loop("blocks/_progress/list/item.html", [
    { "href": "desktop/test-alert.html", "name": "Предупреждение", "design": "100", "html": "100" },
    { "href": "desktop/test-result.html", "name": "Результат теста", "design": "100", "html": "100" },
    { "href": "desktop/test-fail.html", "name": "Не сдал тест", "design": "100", "html": "100" },
    { "href": "desktop/test.html", "name": "Тест", "design": "100", "html": "100" },
    { "href": "desktop/lesson-test.html", "name": "Заглушка перед тестом", "design": "100", "html": "100" }
  ])
  </ul>
</li>

<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Вход/регистрация</div>
  </li>
  <ul>
    @@loop("blocks/_progress/list/item.html", [
      { "href": "desktop/auth.html", "name": "Вход", "design": "100", "html": "100" },
      { "href": "desktop/registration.html", "name": "Регистрация", "design": "100", "html": "100" },
      { "href": "desktop/restore.html", "name": "Восстановление пароля", "design": "100", "html": "100" },
      { "href": "desktop/restore2.html", "name": "Восстановление пароля, ok", "design": "100", "html": "100" },
      { "href": "desktop/registration2.html", "name": "Регистрация студента", "design": "100", "html": "100" },
      { "href": "desktop/payment-method.html", "name": "Выберите способ оплаты", "design": "100", "html": "100" },
      { "href": "desktop/registration3.html", "name": "Регистрация участника", "design": "100", "html": "100" }
    ])
  </ul>
</li>

<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Пользователь</div>
  </li>
  <ul>
    @@loop("blocks/_progress/list/item.html", [
      { "href": "desktop/profile-demo.html", "name": "Страница пользователя, демо-урок", "design": "100", "html": "99" },
      { "href": "desktop/profile-lesson.html", "name": "Страница пользователя, урок", "design": "100", "html": "99" },
      { "href": "desktop/profile-lesson.html", "name": "Страница пользователя, экзамен", "design": "100", "html": "0" },
      { "href": "desktop/profile-lesson.html", "name": "Страница пользователя, демо-курс", "design": "100", "html": "0" }
    ])
  </ul>
</li>

<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Мобильный вид</div>
  </li>
  <ul>
    @@loop("blocks/_progress/list/item.html", [
      { "href": "mobile/menu.html", "name": "Меню", "design": "100", "html": "98" },
      { "href": "mobile/auth.html", "name": "Мобильная авторизация", "design": "100", "html": "0" },
      { "href": "mobile/registration.html", "name": "Мобильная регистрация", "design": "100", "html": "0" },
      { "href": "mobile/restore.html", "name": "Мобильное напоминание пароля", "design": "100", "html": "0" },
      { "href": "mobile/talk.html", "name": "Страница чата", "design": "100", "html": "0" },
      { "href": "mobile/lesson.html", "name": "Страница урока", "design": "100", "html": "77" },
      { "href": "mobile/institute.html", "name": "Страница института", "design": "100", "html": "0" }
    ])
  </ul>
</li>

@@loop("blocks/_progress/list/item.html", [
  { "href": "desktop/video-list.html", "name": "Список видео", "design": "100", "html": "100" }
])

@@loop("blocks/_progress/list/item.html", [
  { "href": "ui.html", "name": "UI: Контролы и компоненты", "design": "100", "html": "100" }
])

@@include('blocks/_progress/structure/structure.html", {
  "git": "github.com/4enki/cm",
  "version": "1.0.0"
})
      </div><!-- /.content__box -->

    </div><!-- /.page__content -->
  </div><!-- /.page -->
</div><!-- /.container -->
