<div class="panel-wrapper">
  <div class="panel-logo">
    <a href=""><i class="ico ico-logo-dark"></i></a>
  </div><!-- /.panel-logo -->
  <div class="feature-panel"></div><!-- /.feature-panel -->
  <div class="main-panel">
    <div class="main-panel__switch">
      <a href="">У вас нет аккаунта?</a>
      <a href="" class="btn btn-outline">Регистрация</a>
    </div><!-- /.main-panel__switch -->
    <div class="main-panel__box">
      <form action="" class="form form-user">
        <div class="form-name">
          <h3>Вход в личный кабинет</h3>
        </div>
        <div class="form-group">
          <label for="" class="hide">Ваш email</label>
          <input type="text" class="form-control" placeholder="Email">
        </div><!-- /.form-group -->
        <div class="form-group">
          <label for="" class="hide">Ваш email</label>
          <input type="text" class="form-control" placeholder="Пароль">
        </div><!-- /.form-group -->
        <div class="form-group">
          <a href="">Напомнить пароль</a>
        </div><!-- /.form-group -->
        <div class="form-actions full">
          <button class="btn btn-green" id="submit"><span class="mee-ink"></span>Войти</button>
        </div><!-- /.form-actions -->
        <div class="form-social">
          <p>Войти, используя аккаунт</p>

          <div class="social-auth">
            <div class="social-auth__item">
              <div class="social-auth__box social-auth-vk">
                <div class="social-auth-ico"><span><i class="ico ico-vk"></i></span></div>
              </div>
            </div><!-- /.social-auth__item -->
            <div class="social-auth__item">
              <div class="social-auth__box social-auth-fb">
                <div class="social-auth-ico"><span><i class="ico ico-fb"></i></span></div>
              </div>
            </div><!-- /.social-auth__item -->
            <div class="social-auth__item">
              <div class="social-auth__box social-auth-gp">
                <div class="social-auth-ico"><span><i class="ico ico-google-plus"></i></span></div>
              </div>
            </div><!-- /.social-auth__item -->

          </div><!-- /.social-auth -->

        </div><!-- /.form-social -->
      </form><!-- /form.form -->
    </div><!-- /.main-panel__box -->
    <div class="main-panel__footer">
      <p>При входе в систему вы подтверждаете, что принимаете условия <a href="">пользовательского соглашения</a>.</p>
    </div>
  </div><!-- /.main-panel -->
</div><!-- /.panel-wrapper -->
