<div class="panel-wrapper">
  <div class="panel-logo">
    <a href=""></a>
  </div><!-- /.panel-logo -->
  <div class="feature-panel"></div><!-- /.feature-panel -->
  <div class="main-panel">
    <div class="main-panel__switch">
      <a href="">У вас нет аккаунта?</a>
      <a href="" class="btn btn-outline">Регистрация</a>
    </div><!-- /.main-panel__switch -->
    <div class="main-panel__box">
      <form action="" class="form form-user">
        <div class="form-group">
          <label for="" class="hide">Ваш email</label>
          <input type="text" class="form-control">
        </div><!-- /.form-group -->
        <div class="form-group">
          <label for="" class="hide">Ваш email</label>
          <input type="text" class="form-control">
        </div><!-- /.form-group -->
        <div class="form-actions">
          <button class="btn btn-green" id="submit"><span class="mee-ink"></span>Войти</button>
        </div><!-- /.form-actions -->
      </form><!-- /form.form -->
    </div><!-- /.main-panel__box -->
  </div><!-- /.main-panel -->
</div><!-- /.panel-wrapper -->
