<div class="panel-wrapper">
  <div class="panel-logo">
    <a href="../"><i class="ico ico-logo-dark"></i></a>
  </div><!-- /.panel-logo -->
  <div class="feature-panel panel-bg" style="background-image: url('../assets/images/panel-bg.png');"></div><!-- /.feature-panel -->
  <div class="main-panel">
    @@if (reg === true) {
    <div class="main-panel__switch">
      <a href="">У вас нет аккаунта?</a>
      <a href="registration.html" class="btn btn-outline">Регистрация</a>
    </div><!-- /.main-panel__switch -->
    }
    @@if (login === true) {
    <div class="main-panel__switch">
      <a href="">У вас есть аккаунт?</a>
      <a href="auth.html" class="btn btn-outline">Вход</a>
    </div><!-- /.main-panel__switch -->
    }
    @@if (steps === true) {
    }
    <div class="main-panel__box">
      @@if (auth === true) {
      <form action="" class="form form-user">
        <div class="form-name">
          <h3>Вход в личный кабинет</h3>
        </div>
        <div class="form-group">
          <label for="aemail" class="form-control-label hide">Ваш email</label>
          <input type="text" id="aemail" class="form-control" placeholder="Email" autofocus>
        </div><!-- /.form-group -->
        <div class="form-group status-right">
          <label for="apass" class="form-control-label hide">Ваш пароль</label>
          <input type="password" id="apass" class="form-control" placeholder="Пароль">
          <span class="form-control-feedback"><i class="ico ico-eyes"></i></span>
          <span class="restore-link"><a href="restore.html">Напомнить пароль</a></span>
        </div><!-- /.form-group -->
        <div class="form-actions full">
          <button class="btn btn-green" id="submit"><span class="mee-ink"></span>Войти</button>
        </div><!-- /.form-actions -->
        <div class="form-social">
          <p>Войти, используя аккаунт</p>

          <div class="social-auth">
            <div class="social-auth__item">
              <div class="social-auth__box social-auth-vk">
                <div class="social-auth-ico"><span><i class="ico ico-vk"></i></span></div>
              </div>
            </div><!-- /.social-auth__item -->
            <div class="social-auth__item">
              <div class="social-auth__box social-auth-fb">
                <div class="social-auth-ico"><span><i class="ico ico-fb"></i></span></div>
              </div>
            </div><!-- /.social-auth__item -->
            <div class="social-auth__item">
              <div class="social-auth__box social-auth-gp">
                <div class="social-auth-ico"><span><i class="ico ico-google-plus"></i></span></div>
              </div>
            </div><!-- /.social-auth__item -->

          </div><!-- /.social-auth -->

        </div><!-- /.form-social -->
      </form><!-- /form.form -->
      }
      @@if (registration === true) {
      <form action="" class="form form-user">
        <div class="form-name">
          <h3>Регистрация участника</h3>
        </div>
        <div class="form-group">
          <label for="name" class="form-control-label hide">Ваше имя</label>
          <input type="text" id="name" class="form-control" placeholder="Ваше имя" autofocus>
        </div><!-- /.form-group -->
        <div class="form-group">
          <label for="email" class="form-control-label hide">Рабочий email</label>
          <input type="text" id="email" class="form-control" placeholder="Рабочий email">
        </div><!-- /.form-group -->
        <div class="form-group status-right">
          <label for="pass" class="form-control-label hide">Придумайте пароль</label>
          <input type="password" id="pass" class="form-control" placeholder="Придумайте пароль">
          <span class="form-control-feedback"><i class="ico ico-eyes"></i></span>
        </div><!-- /.form-group -->
        <div class="form-actions full">
          <button class="btn btn-green" id="submit"><span class="mee-ink"></span>Зарегистрироваться</button>
        </div><!-- /.form-actions -->
        <div class="form-social">
          <p>Войти, используя аккаунт</p>

          <div class="social-auth">
            <div class="social-auth__item">
              <div class="social-auth__box social-auth-vk">
                <div class="social-auth-ico"><span><i class="ico ico-vk"></i></span></div>
              </div>
            </div><!-- /.social-auth__item -->
            <div class="social-auth__item">
              <div class="social-auth__box social-auth-fb">
                <div class="social-auth-ico"><span><i class="ico ico-fb"></i></span></div>
              </div>
            </div><!-- /.social-auth__item -->
            <div class="social-auth__item">
              <div class="social-auth__box social-auth-gp">
                <div class="social-auth-ico"><span><i class="ico ico-google-plus"></i></span></div>
              </div>
            </div><!-- /.social-auth__item -->

          </div><!-- /.social-auth -->

        </div><!-- /.form-social -->
      </form><!-- /form.form -->
      }
      @@if (restore === true) {
      <form action="" class="form form-user">
        <div class="form-name">
          <h3>Восстановление пароля</h3>
        </div>
        <div class="form-group">
          <label for="email" class="form-control-label hide">Рабочий email</label>
          <input type="text" id="email" class="form-control" placeholder="Рабочий email" autofocus>
        </div><!-- /.form-group -->
        <div class="form-actions full">
          <button class="btn btn-green" id="submit">Выслать</button>
        </div><!-- /.form-actions -->
        <div class="form-group">
          <a href="auth.html">Вернуться к авторизации</a>
        </div>
      </form><!-- /form.form -->
      }
      @@if (restoreok === true) {
      <div class="restore-send">
        <div class="about__icon">
          <div class="about__icon-box">
            <span><i class="ico ico-check green"></i></span>
          </div>
        </div>
        <h3>Проверте почту</h3>
        <p>Там вы найдёте инструкцию по восстановлению пароля</p>
      </div><!-- /.restore-send -->
      }
      @@if (registration2 === true) {
      <form action="" class="form form-user">
        <div class="form-name">
          <h3>Регистрация студента</h3>
        </div>
        <div class="form-group">
          <label for="name" class="form-control-label hide">Ваше имя</label>
          <input type="text" id="name" class="form-control" placeholder="Ваше имя" autofocus value="Дмитрий">
        </div><!-- /.form-group -->
        <div class="form-group">
          <label for="fname" class="form-control-label hide">Ваша фамилия</label>
          <input type="text" id="fname" class="form-control" placeholder="Фамилия">
        </div><!-- /.form-group -->
        <div class="form-group">
          <label for="email" class="form-control-label hide">Личный email</label>
          <input type="text" id="email" class="form-control" placeholder="Личный email">
        </div><!-- /.form-group -->
        <div class="form-group status-right">
          <label for="pass" class="form-control-label hide">Придумайте пароль</label>
          <input type="password" id="pass" class="form-control" placeholder="Придумайте пароль">
          <span class="form-control-feedback"><i class="ico ico-eyes"></i></span>
        </div><!-- /.form-group -->
        <div class="form-actions full">
          <button class="btn btn-green" id="submit"><span class="mee-ink"></span>Далее</button>
        </div><!-- /.form-actions -->
      </form><!-- /form.form -->
      }
      @@if (payment === true) {
      }
      @@if (registration3 === true) {
      }
    </div><!-- /.main-panel__box -->
    <div class="main-panel__footer">
      <p>При входе в систему вы подтверждаете, что принимаете условия <a href="">пользовательского соглашения</a>.</p>
    </div>
  </div><!-- /.main-panel -->
</div><!-- /.panel-wrapper -->
