.panel-wrapper {
  display: block;
  width: 100%;
  position: relative;
  height: 100vh;
}

.feature-panel {
  position: fixed;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 460px;
  min-height: 600px;
  height: 100%;
  overflow: hidden;
  background: #21aa00;
}
