<div class="container">
  <div class="headline outline">

    <div class="headline__box">

      <div class="headline__desc">
        <div class="headline__text">Расписание семинаров</div><!-- /.headline__text -->
        <div class="headline__name">
          <div class="course-name"><h1>Контекстная реклама от А до Я: с чего начать новичку?</h1></div>
        </div><!-- /.headline__name -->
      </div><!-- /.headline__text -->

      <div class="headline__action">
        <a href="" class="btn btn-green">Записаться</a>
      </div><!-- /.headline__action -->
    </div><!-- /.headline__box -->

  </div><!-- /.headline -->
</div><!-- /.container -->
