<div class="container">
  <div class="headline headline-white outline">

    <div class="headline__box">
      <div class="headline__status">
        <div class="you-status">
          <span><i class="ico ico-question green"></i></span>
        </div><!-- /.you-status -->
      </div><!-- /.headline__status -->

      <div class="headline__desc">
        <div class="headline__text">Преподаватель ответил на ваш вопрос к уроку:</div><!-- /.headline__text -->
        <div class="headline__name">
          <div class="course-name"><h2>Что такое кодировки текста и как с ними работать</h2></div>
        </div><!-- /.headline__name -->
      </div><!-- /.headline__text -->

      <div class="headline__action">
        <a href="" class="btn btn-outline">Прочитать</a>
      </div><!-- /.headline__action -->
    </div><!-- /.headline__box -->

  </div><!-- /.headline -->
</div><!-- /.container -->
