.headline {
  background-color: rgb(247, 247, 248);

  &-white {
    background-color: #fff;
  }

  &-green {
    background-color: rgb(33, 170, 0);

    .headline__status .you-status {
      border-color: #fff;
    }

    .headline__text {
      color: #fff;
    }

    .headline__name .course-name h2 {
      color: #fff;
    }
  }

  &--big {

    .headline__box {
      padding: 29px 39px;
    }
  }

  &__box {
    display: flex;
    align-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }

  &__status {
    flex-basis: 60px;
    margin-right: 40px;

    .you-status {
      width: 60px;
      height: 60px;
      border: 2px solid rgb(173, 177, 185);
      border-radius: 50%;
      text-align: center;
      position: relative;

      span {
        position: relative;
        top: 18px;
      }
    }
  }

  &__desc {
    flex: 1 100%;
  }

  &__text {
    color: rgb(131, 133, 138);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;

    &-link {
      position: relative;

      .ico {
        position: absolute;
        left: -18px;
        top: 5px;
      }
    }
  }

  &__name {
    display: flex;
    align-items: center;
  }

  .course-name {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

    h1 {
      color: rgb(0, 0, 0);
      font-family: Arial;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 0;
    }

    h2 {
      color: rgb(0, 0, 0);
      font-family: Arial;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 0;
    }
  }

  &__action {
    display: flex;

    .btn {
      margin-right: 20px;
      min-width: 140px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.course-time {
  margin-left: 20px;
  color: rgb(120, 122, 128);
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  line-height: 1;

  &__icon {
    margin-right: 8px;

    .ico-watch {
      position: relative;
      top: 1px;
    }
  }
}
