<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', { "title": "Мобильный вид: Страница урока" })
  <body>
    @@include('blocks/header/header2.html')
    @@include('blocks/subnav/subnav.html')
    @@include('blocks/headline/headline.html')

    <div class="video">
      <div class="video_cover">
        <div class="video_cover-box photo" style="background-image: url('../assets/images/lessong.png');">
          <img src="../assets/images/lessong.png" alt="Урок мобильный тут" width="385" height="217">
        </div><!-- /.video__cover-box -->
        <div class="video_cover-bg">
          <div class="video_play">
            <div class="play-icon">
              <span><i class="ico ico-play-in-circle-big"></i></span>
            </div><!-- /.play-icon -->
          </div><!-- /.video_play -->
          <div class="video_time">
            <div class="time">
              <div class="time_icon"><i class="ico ico-watch white" aria-hidden="”true”"></i></div><!-- /.time_icon -->
              <div class="time_text"><strong>17</strong> минут</div><!-- /.time_text -->
            </div>
          </div><!-- /.video-time -->
        </div><!-- /.video_cover-bg -->
      </div><!-- /.video_cover -->

    </div><!-- /.video -->

    <div class="manuals">

      <h2>Дополнительные материалы</h2>

      <div class="list-icon">

        <div class="list-icon__item">
          <a href="">
            <div class="list-icon__box">
              <div class="list-icon__icon">
                <div class="list-icon__icon-box">
                  <i class="ico ico-microphone"></i>
                </div><!-- /.list-icon__icon-box -->
              </div><!-- /.list-icon__icon -->
              <div class="list-icon__desc">
                <div class="list-icon__desc--info">Семинар, 15 мая 13:00</div>
                Как сократить в 2-5 раз стоимость клиента в таргетированной рекламе
              </div><!-- /.list-icon__desc -->
            </div><!-- /.list-icon__box -->
          </a>
        </div><!-- /.list-icon__item -->

        <div class="list-icon__item">
          <a href="">
            <div class="list-icon__box">
              <div class="list-icon__icon">
                <div class="list-icon__icon-box">
                  <i class="ico ico-play-in-circle"></i>
                </div><!-- /.list-icon__icon-box -->
              </div><!-- /.list-icon__icon -->
              <div class="list-icon__desc">
                <div class="list-icon__desc--info">Запись вебинара</div>
                Конверсия. Секреты продвижения в высококонкурентных тематиках при ограниченном бюджете
              </div><!-- /.list-icon__desc -->
            </div><!-- /.list-icon__box -->
          </a>
        </div><!-- /.list-icon__item -->

        <div class="list-icon__item">
          <a href="">
            <div class="list-icon__box">
              <div class="list-icon__icon">
                <div class="list-icon__icon-box">
                  <i class="ico ico-article"></i>
                </div><!-- /.list-icon__icon-box -->
              </div><!-- /.list-icon__icon -->
              <div class="list-icon__desc">
                <div class="list-icon__desc--info">Статья</div>
                4 способа проверить сайт на фильтры поисковых систем
              </div><!-- /.list-icon__desc -->
            </div><!-- /.list-icon__box -->
          </a>
        </div><!-- /.list-icon__item -->

        <div class="list-icon__item">
          <div class="list-icon__box">
            <div class="list-icon__icon">
              <div class="list-icon__icon-box">
                <i class="ico ico-book"></i>
              </div><!-- /.list-icon__icon-box -->
            </div><!-- /.list-icon__icon -->
            <div class="list-icon__desc">
              <div class="list-icon__desc--info">Книга</div>
              <div class="list-icon__desc--text">Маркетинг-менеджмент</div>
              <div class="list-icon__desc--info">Филип Котлер, Кевин Лейн Келлер</div>
            </div><!-- /.list-icon__desc -->
          </div><!-- /.list-icon__box -->
        </div><!-- /.list-icon__item -->

      </div><!-- /.list-icon -->

    </div><!-- /.manuals -->

    <div class="comments">

      <h2>Ответы на вопросы студентов</h2>

      <div class="comments-list">
        <div class="comments_item">
          <div class="comment">
            <div class="comment_box">
              <div class="comment_user">
                <div class="comment_user-photka">
                  <span><img src="assets/images/valentina.png" alt="Валентина" height="40" width="40"></span>
                </div><!-- /.comment_user-photka -->
                <div class="comment_user-name"><span>Валентина</span></div><!-- /.comment_user-name -->
              </div><!-- /.comment_user -->

              <div class="comment_descr">
                <div class="comment_descr--text">Какое приблизительно время уходит на индексацию ссылок яндексом?</div>
                <div class="comment_more"><a href="#" class="more-link _more-comment"><span>Показать ответ</span></a></div><!-- /.comment_more -->
              </div><!-- /.comment_descr -->
            </div><!-- /.comment_box -->
          </div><!-- /.comment -->
        </div><!-- /.comments_item -->
        <div class="comments_item">
          <div class="comment">
            <div class="comment_box">
              <div class="comment_user">
                <div class="comment_user-photka">
                  <span><img src="assets/images/evgeniy.png" alt="Валентина" height="40" width="40"></span>
                </div><!-- /.comment_user-photka -->
                <div class="comment_user-name"><span>Евгений</span></div><!-- /.comment_user-name -->
              </div><!-- /.comment_user -->

              <div class="comment_descr">
                <div class="comment_descr--text">Будет ли система продолжать покупать ссылки по достижению установленного ТОПа в одной из поисковых систем?</div>
                <div class="comment_more"><a href="#" class="more-link _more-comment"><span>Показать ответ</span></a></div><!-- /.comment_more -->
              </div><!-- /.comment_descr -->
            </div><!-- /.comment_box -->
          </div><!-- /.comment -->
        </div><!-- /.comments_item -->
      </div><!-- /.comments-list -->
      <div class="comments-add">
        <a href="" class="btn btn-outline btn-big">Задайте свой вопрос</a>
      </div>
    </div><!-- /.comments -->

    @@include('blocks/footer/footer.html')
  </body>
</html>
