<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', { "title": "Мобильный вид: Страница урока" })
  <body>
    @@include('blocks/header/header2.html')
    @@include('blocks/subnav/subnav.html')
    @@include('blocks/headline/headline.html')
    <div class="video">

      <div class="video_cover">
        <div class="video_cover-box">
          <img src="../assets/images/lessong.png" alt="Урок мобильный тут" width="385" height="217">
        </div><!-- /.video__cover-box -->
        <div class="video_cover-bg">
          <div class="video_play">
            <div class="play-icon">
              <span><i class="ico ico-play-in-circle-big"></i></span>
            </div><!-- /.play-icon -->
          </div><!-- /.video_play -->
          <div class="video_time">
            <div class="time">
              <div class="time_icon"><i class="ico ico-watch white" aria-hidden="”true”"></i></div><!-- /.time_icon -->
              <div class="time_text"><strong>17</strong> минут</div><!-- /.time_text -->
            </div>
          </div><!-- /.video-time -->
        </div><!-- /.video_cover-bg -->
      </div><!-- /.video_cover -->

    </div><!-- /.video -->
    @@include('blocks/footer/footer.html')
  </body>
</html>
