<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Курс 3. Базовый курс интернет технологии",
    "description": "Курс 3. Базовый курс интернет технологии"
  })
  <body>
    <main>
      @@include('blocks/header/header.html', { "nologin": true, "login": false })
      @@include('blocks/menu/menu.html')
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
      <div class="ui-page">
        <div class="container">
          <div class="page outline">

            <div class="page__content content">

              <div class="content__box">

                <h2>Компоненты и элементы</h2>

                <div class="row">

                  <div class="col-xs-4">

                    <div class="ui-demo">
                      <div class="ui-demo-element"><button type="button" class="btn btn-green disabled">Записаться</button></div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-green disabled"&gt;Записаться&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->

                  </div>
                  <div class="col-xs-4">

                    <div class="ui-demo">
                      <div class="ui-demo-element"><button type="button" class="btn btn-outline disabled">Записаться</button></div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-outline disabled"&gt;Записаться&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->

                  </div>
                  <div class="col-xs-4">
                    <div class="ui-demo">
                      <div class="ui-demo-element">
                        <div class="form-group">
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваш email" disabled>
                          <small class="form-text text-muted"></small>
                        </div>
                      </div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code">

                        <pre><code class="html">&lt;div class="form-group"&gt;<br />  &lt;input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваш email" disabled&gt;<br />  &lt;small class="form-text text-muted"&gt;&lt;/small&gt;<br />&lt;/div&gt;</code></pre>

                      </div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>

                </div>

                <div class="row">
                  <div class="col-xs-4">
                    <div class="ui-demo">
                      <div class="ui-demo-element"><button type="button" class="btn btn-green">Записаться</button></div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-green"&gt;Записаться&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>
                  <div class="col-xs-4">
                    <div class="ui-demo">
                      <div class="ui-demo-element"><button type="button" class="btn btn-outline">Записаться</button></div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-outline"&gt;Записаться&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>
                  <div class="col-xs-4">
                    <div class="ui-demo">
                      <div class="ui-demo-element">
                        <div class="form-group">
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваш email">
                          <small class="form-text text-muted"></small>
                        </div>
                      </div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code"><pre><code class="html">&lt;div class="form-group"&gt;<br />  &lt;input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваш email"&gt;<br />  &lt;small class="form-text text-muted"&gt;&lt;/small&gt;<br />&lt;/div&gt;</code></pre></div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-3">

                    <div class="ui-demo">
                      <div class="ui-demo-element">
                        <label class="switch">
                          <input type="checkbox" class="switch__control" checked disabled>
                          <span class="switch__slider"></span>
                          <span class="switch__text">Семинары</span>
                        </label>
                      </div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code">
                        <pre><code class="html">&lt;label class=&quot;switch&quot;&gt;<br />&nbsp; &lt;input type=&quot;checkbox&quot; class=&quot;switch__control&quot; checked&gt;<br />&nbsp; &lt;span class=&quot;switch__slider&quot;&gt;&lt;/span&gt;<br />&nbsp; &lt;span class=&quot;switch__text&quot;&gt;Семинары&lt;/span&gt;<br />&lt;/label&gt;</code></pre>
                      </div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->

                    <div class="ui-demo">
                      <div class="ui-demo-element">
                        <label class="switch">
                          <input type="checkbox" class="switch__control" checked>
                          <span class="switch__slider"></span>
                          <span class="switch__text">Семинары</span>
                        </label>
                      </div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code">
                        <pre><code class="html">&lt;label class=&quot;switch&quot;&gt;<br />&nbsp; &lt;input type=&quot;checkbox&quot; class=&quot;switch__control&quot; checked disabled&gt;<br />&nbsp; &lt;span class=&quot;switch__slider&quot;&gt;&lt;/span&gt;<br />&nbsp; &lt;span class=&quot;switch__text&quot;&gt;Семинары&lt;/span&gt;<br />&lt;/label&gt;</code></pre>
                      </div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>
                  <div class="col-xs-3">

                    <div class="ui-demo">
                      <div class="ui-demo-element">
                        <label class="switch">
                          <input type="checkbox" class="switch__control" disabled>
                          <span class="switch__slider"></span>
                          <span class="switch__text">Семинары</span>
                        </label>
                      </div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code">
                        <pre><code class="html">&lt;label class=&quot;switch&quot;&gt;<br />&nbsp; &lt;input type=&quot;checkbox&quot; class=&quot;switch__control&quot; disabled&gt;<br />&nbsp; &lt;span class=&quot;switch__slider&quot;&gt;&lt;/span&gt;<br />&nbsp; &lt;span class=&quot;switch__text&quot;&gt;Семинары&lt;/span&gt;<br />&lt;/label&gt;</code></pre>
                      </div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->

                    <div class="ui-demo">
                      <div class="ui-demo-element">
                        <label class="switch">
                          <input type="checkbox" class="switch__control">
                          <span class="switch__slider"></span>
                          <span class="switch__text">Семинары</span>
                        </label>
                      </div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code">
                        <pre><code class="html">&lt;label class=&quot;switch&quot;&gt;<br />&nbsp; &lt;input type=&quot;checkbox&quot; class=&quot;switch__control&quot;&gt;<br />&nbsp; &lt;span class=&quot;switch__slider&quot;&gt;&lt;/span&gt;<br />&nbsp; &lt;span class=&quot;switch__text&quot;&gt;Семинары&lt;/span&gt;<br />&lt;/label&gt;</code></pre>
                      </div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>
                  <div class="col-xs-4 col-xs-offset-2">
                    <div class="ui-demo">
                      <div class="ui-demo-element">
                        <div class="form-group">
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваш email" value="moof37@yandex.ru">
                          <small class="form-text text-muted"></small>
                        </div>
                      </div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code">

                        <pre><code class="html">&lt;div class="form-group"&gt;<br />  &lt;input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваш email"&gt;<br />  &lt;small class="form-text text-muted"&gt;&lt;/small&gt;<br />&lt;/div&gt;</code></pre>

                      </div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->

                    <div class="ui-demo">
                      <div class="ui-demo-element">
                        <div class="form-group form-group--error">
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваш email" value="moof37@yandex">
                          <small class="form-text text-muted"></small>
                        </div>
                      </div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code">

                        <pre><code class="html">&lt;div class="form-group form-group--error"&gt;<br />  &lt;input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ваш email" disabled&gt;<br />  &lt;small class="form-text text-muted"&gt;&lt;/small&gt;<br />&lt;/div&gt;</code></pre>

                      </div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>
                </div>



              </div><!-- /.content__box -->

              <div class="content__box content__box-icon">
                <h2>Иконки и графика</h2>
                <p>Все иконки есть в CSS. Работают через тег <code>&lt;i class="ico" aria-hidden=”true”&gt;</code>. Цвета иконок меняются классами цветов: <code>white</code> — белый, <code>gray</code> — серый, <code>green</code> — зелёный. Исходник файла с иконками расположен в <code>app/styles/base/icons.pcss</code>. Название иконки соответствует названию файла в дирректории <code>app/images/svg</code>.</p>
                <div class="row">
                  <div class="col-xs-3">
                    <div class="ui-demo ui-demo--icon">
                      <div class="ui-demo-element"><i class="ico ico-loupe" aria-hidden=”true”></i></div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code"><pre><code class="html">&lt;i class="ico ico-loupe" aria-hidden=”true”&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>
                  <div class="col-xs-3">
                    <div class="ui-demo ui-demo--icon">
                      <div class="ui-demo-element"><i class="ico ico-play-in-circle" aria-hidden=”true”></i></div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code"><pre><code class="html">&lt;i class="ico ico-play-in-circle" aria-hidden=”true”&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>
                  <div class="col-xs-3">
                    <div class="ui-demo ui-demo--icon">
                      <div class="ui-demo-element"><i class="ico ico-bell" aria-hidden=”true”></i></div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code"><pre><code class="html">&lt;i class="ico ico-bell" aria-hidden=”true”&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>
                  <div class="col-xs-3">
                    <div class="ui-demo ui-demo--icon">
                      <div class="ui-demo-element"><i class="ico ico-geotag" aria-hidden=”true”></i></div><!-- /.ui-demo-element -->
                      <div class="ui-demo-code"><pre><code class="html">&lt;i class="ico ico-geotag" aria-hidden=”true”&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
                    </div><!-- /.ui-demo -->
                  </div>
                </div>
              </div>

              <div class="content__box">
                <h2>Типографика и текстовые элементы</h2>

                <h3>Оформление текста</h3>
                <p>Наиболее простыми способами выделения информации являются <strong>полужирное</strong> и&nbsp;<em>курсивное</em> начертания. Подробнее: <a class="external" href="http://www.artlebedev.ru/kovodstvo/sections/79/" target="_blank">§&nbsp;79. Делать фонт болдом или италиком?</a></p>
                <p>На&nbsp;этом сайте есть дополнительный способ выделения при помощи подсвечивания, для чего используется элемент <span class="highlighted">«Подсвеченный»</span> (класс <code>.highlighted</code>).</p>

                <h3>Ссылки</h3>
                <p>На сайте может встречаться несколько видов ссылок. Например, ссылка на <a href="https://yandex.ru/" class="external link" target="_blank">Яндекс</a> является внешней. Внутренние ссылки могут открываться по умолчанию в текущем окне (например, переход на <a href="/" class="link">главную страницу</a>) или в <a target="_blank" href="/" class="link">новом окне</a> (например, для показа изображений в оригинальном размере). Подробнее: §&nbsp;171. <a href="https://www.artlebedev.ru/kovodstvo/sections/171/" class="external" target="_blank">Правила оформления ссылок</a>.</p>
                <p>Стиль <span class="link pseudo">псевдоссылки</span> обеспечивается добавлением к нужному элементу класса <code>.pseudo</code>.</p>

                <h3>Цитата</h3>
                <blockquote>
                  <p>Я увидел всю сущность нашей правящей системы. Там было много очень послушных дураков и неучей.</p>
                  <footer>— Л. Н. Толстой. <cite title="Из письма к Л. Андрееву от 02.09.1902">Из письма к Л. Андрееву от 02.09.1902</cite></footer>
                </blockquote>
              </div>

            </div><!-- /.page__content -->
          </div><!-- /.page -->
        </div><!-- /.container -->
      </div><!-- /.ui-page -->
    </main>
    @@include('blocks/footer/footer.html')
  </body>
</html>
