<div class="container">
  <div class="learning outline">

    <div class="box-header">
      <h2>Как стать востребованным специолистом</h2>
    </div><!-- /.box-header -->

    <div class="learning-steps">
      <div class="learning-step">
        <div class="learning-step__box">
          <div class="learning-step__icon">
            <span><i class="ico ico-cyber-play"></i></span>
          </div><!-- /.learning-step__icon -->
          <div class="learning-step__info">
            <div class="learning-step__name">Подача документов</div>
            <div class="learning-step__desc"><p>Начать обучение может любой желающий, а для получения диплома необходимо высшее или средне-специальное образование</p></div>
          </div><!-- /.learning-step__info -->
          <div class="learning-step__actions"><a href="" class="btn btn-outline">Как поступить</a></div>
        </div><!-- /.learning-step__box -->
      </div><!-- /.learning-step -->

      <div class="learning-step">
        <div class="learning-step__box">
          <div class="learning-step__icon">
            <span><i class="ico ico-cyber-play"></i></span>
          </div><!-- /.learning-step__icon -->
          <div class="learning-step__info">
            <div class="learning-step__name">Обучение</div>
            <div class="learning-step__desc"><p>Процес обучения состоит из коротких видео-уроков и тести- рования, для оценки полученных знаний</p></div>
          </div><!-- /.learning-step__info -->
          <div class="learning-step__actions"><a href="" class="btn btn-green">Попробовать бесплатно</a></div>
        </div><!-- /.learning-step__box -->
      </div><!-- /.learning-step -->

      <div class="learning-step">
        <div class="learning-step__box">
          <div class="learning-step__icon">
            <span><i class="ico ico-diplom"></i></span>
          </div><!-- /.learning-step__icon -->
          <div class="learning-step__info">
            <div class="learning-step__name">Аттестация</div>
            <div class="learning-step__desc"><p>В конце обучения вы получаете диплом государственного образца по профессиональной переподготовке</p></div>
          </div><!-- /.learning-step__info -->
          <div class="learning-step__actions"><a href="" class="btn btn-outline">Документы выпускника</a></div>
        </div><!-- /.learning-step__box -->
      </div><!-- /.learning-step -->

      <div class="learning-step gray">
        <div class="learning-step__box">
          <div class="learning-step__icon">
            <span><i class="ico ico-cv gray"></i></span>
          </div><!-- /.learning-step__icon -->
          <div class="learning-step__info">
            <div class="learning-step__name">Трудоустройство</div>
            <div class="learning-step__desc"><p>Вы можете оставить резюме в нашей базе, которую посещают работодатели для поиска интернет-маркетологов</p></div>
          </div><!-- /.learning-step__info -->
          <div class="learning-step__actions">
            <div class="coming-soon"><span>В ближайшее время</span></div>
          </div>
        </div><!-- /.learning-step__box -->
      </div><!-- /.learning-step -->
    </div><!-- /.learning-steps -->

    <div class="learning-map">
      <div class="learning-map__bg"></div><!-- /.learning-map__bg -->
      <div class="learning-map__item map__item1">
        <div class="learning-map__name">Процесс обучения</div><!-- /.learning-map__name -->
        <div class="learning-map__desc">
          <p>Обучение рассчитано на последовательное прохождение уроков, модулей и курсов в рамках <a href="page-content.html">учебного плана</a>.</p>
        </div><!-- /.learning-map__desc -->
      </div><!-- /.learning-map__item -->
      <div class="learning-map__item map__item2">
        <div class="learning-map__name">Видео-урок</div><!-- /.learning-map__name -->
        <div class="learning-map__desc">
          <p>Короткое видео средней продолжительностью 20 минут с разбором одной темы и тестом в конце урока.</p>
        </div><!-- /.learning-map__desc -->
      </div><!-- /.learning-map__item -->
      <div class="learning-map__item map__item3">
        <div class="learning-map__name">Модуль</div><!-- /.learning-map__name -->
        <div class="learning-map__desc">
          <p>Тематический блок, в каждом от 3 до 7 уроков. После прохождения всех уроков, вы сдаёте экзамен в виде теста.</p>
        </div><!-- /.learning-map__desc -->
      </div><!-- /.learning-map__item -->
      <div class="learning-map__item map__item4">
        <div class="learning-map__name">Курс</div><!-- /.learning-map__name -->
        <div class="learning-map__desc">
          <p>Разбор маркетингово инструмента. В конце каждого курса вы сдаёте курсовую работу и выполняете практическое задание.</p>
        </div><!-- /.learning-map__desc -->
      </div><!-- /.learning-map__item -->
      <div class="learning-map__item map__item5">
        <div class="learning-map__name">Оценки и аттестация</div><!-- /.learning-map__name -->
        <div class="learning-map__desc">
          <p>Мы оцениваем знания после прохождения каждого элемента: урока, модуля и курса.</p>
          <p><a href="">Подробнее</a></p>
        </div><!-- /.learning-map__desc -->
      </div><!-- /.learning-map__item -->
      <div class="learning-map__item map__item6">
        <div class="learning-map__name">Работа над ошибками</div><!-- /.learning-map__name -->
        <div class="learning-map__desc">
          <p>Перед сдачей курсовой работы у вас будет возможность пересдать 3 любых теста или экзамена, для повышения среднего бала в аттестате.</p>
        </div><!-- /.learning-map__desc -->
      </div><!-- /.learning-map__item -->
    </div><!-- /.learning-map -->

  </div><!-- /.learning -->
</div><!-- /.container -->
