.ico {
  position: relative;
  display: inline-block;
  transition: all .3s ease;

  &-logo {
    @include size(300px, 30px);
    background-image: svg-load('logo.svg');
  }

  &-logo-dark {
    @include size(300px, 30px);
    background-image: svg-load('logo-dark.svg');
  }

  &-check {
    @include size(20px, 13px);
    background-image: svg-load('check.svg', fill=#adb2b9);
  }

  &-loupe {
    @include size(20px);
    background-image: svg-load('loupe.svg', fill=#adb1b9);
  }

  &-bell {
    @include size(18px, 20px);
    background-image: svg-load('bell.svg', fill=#adb1b9);

    &:hover {
      background-image: svg-load('bell.svg', fill=#21aa00);
    }
  }

  &-watch {
    @include size(20px);
    background-image: svg-load('watch.svg', fill=#adb1b9);
  }

  &-pause {
    @include size(18px);
    background-image: svg-load('pause.svg', fill=#00b402);
  }

  &-chevron {
    @include size(10px, 7px);
    background-image: svg-load('chevron.svg', fill=#00b402);

    &.gray {
      background-image: svg-load('chevron.svg', fill=rgb(173, 177, 185));
    }

    &.left {
      transform: rotate(90deg);
    }

    &.right {
      transform: rotate(-90deg);
    }
  }

  &-star {
    @include size(20px);
    background-image: svg-load('star.svg', fill=#adb1b9);

    &.white {
      background-image: svg-load('star.svg', fill=#fff);
    }

    &.green {
      background-image: svg-load('star.svg', fill=#21aa00);
    }
  }

  &-play-in-circle {
    @include size(20px);
    background-image: svg-load('play-in-circle.svg', fill=#adb1b9);
  }

  &-article {
    @include size(16px, 20px);
    background-image: svg-load('article.svg', fill=#adb1b9);
  }

  &-book {
    @include size(16px, 20px);
    background-image: svg-load('book.svg', fill=#adb1b9);
  }

  &-presentation {
    @include size(60px, 50px);
    background-image: svg-load('presentation.svg', fill=#adb1b9);
  }

  &-manual {
    @include size(60px, 50px);
    background-image: svg-load('manual.svg', fill=#adb1b9);
  }

  &-mail {
    @include size(20px, 16px);
    background-image: svg-load('mail.svg', fill=#adb1b9);
  }

  &-phone {
    @include size(14px, 20px);
    background-image: svg-load('phone.svg', fill=#adb1b9);
  }

  &-geotag {
    @include size(18px, 20px);
    background-image: svg-load('geotag.svg', fill=#adb1b9);
  }

  &-microphone {
    @include size(16px, 20px);
    background-image: svg-load('microphone.svg', fill=#adb1b9);

    &.green {
      background-image: svg-load('microphone.svg', fill=#21aa00);
    }
  }

  &-stop {
    @include size(60px, 60px);
    background-image: svg-load('stop.svg', fill=#ff0000);
  }

  &-attention {
    @include size(20px, 18px);
    background-image: svg-load('attention.svg', fill=#adb3bb);
  }

  &-star-big {
    @include size(120px, 120px);
    background-image: svg-load('star-big.svg', fill=#21aa00);

    &.red {
      background-image: svg-load('star-big.svg', fill=#ff0000);
    }
  }

  &-university {
    @include size(180px, 124px);
    background-image: svg-load('university.svg', fill=#fff);
  }

  &-reload {
    @include size(18px, 18px);
    background-image: svg-load('reload.svg', fill=#adb1b9);
  }

  &-wallet {
    @include size(18px, 18px);
    background-image: svg-load('wallet.svg', fill=#adb1b9);
  }

  &-webcam {
    @include size(16px, 20px);
    background-image: svg-load('webcam.svg', fill=#adb1b9);

    &.green {
      background-image: svg-load('webcam.svg', fill=#21aa00);
    }
  }

  &-academic-cap {
    @include size(20px, 18px);
    background-image: svg-load('academic-cap.svg', fill=#adb1b9);
  }

  &-edu-sign {
    @include size(20px, 18px);
    background-image: svg-load('edu-sign.svg', fill=#adb1b9);
  }

  &-edu-sign {
    @include size(20px, 18px);
    background-image: svg-load('edu-sign.svg', fill=#adb1b9);
  }

  &-calendar {
    @include size(18px, 20px);
    background-image: svg-load('calendar.svg', fill=#adb1b9);
  }

  &-timetable {
    @include size(20px, 16px);
    background-image: svg-load('timetable.svg', fill=#adb1b9);
  }

  &-stripe1 {
    @include size(16px, 20px);
    background-image: svg-load('stripe1.svg', fill=#adb1b9);
  }

  &-stripe2 {
    @include size(16px, 20px);
    background-image: svg-load('stripe2.svg', fill=#adb1b9);
  }

  &-officer {
    @include size(16px, 20px);
    background-image: svg-load('officer.svg', fill=#adb1b9);
  }

  &-send {
    @include size(18px, 20px);
    background-image: svg-load('send.svg', fill=#adb1b9);
  }

  &-pencil {
    @include size(10px, 20px);
    background-image: svg-load('pencil.svg', fill=#adb1b9);

    &.green {
      background-image: svg-load('pencil.svg', fill=#21aa00);
    }
  }

  &-cross {
    @include size(16px, 16px);
    background-image: svg-load('cross.svg', fill=#adb1b9);
  }

  &-question {
    @include size(12px, 18px);
    background-image: svg-load('question.svg', fill=#adb1b9);
  }

  &-rub {
    @include size(14px, 18px);
    background-image: svg-load('rub.svg', fill=#adb1b9);
  }

  &-like {
    @include size(18px, 20px);
    background-image: svg-load('like.svg', fill=#adb1b9);
  }

  &-computer {
    @include size(18px, 18px);
    background-image: svg-load('computer.svg', fill=#adb1b9);
  }

  &-user {
    @include size(18px, 18px);
    background-image: svg-load('user.svg', fill=#adb1b9);
  }

  &-tag {
    @include size(20px, 20px);
    background-image: svg-load('tag.svg', fill=#adb1b9);
  }

  &-portfl {
    @include size(18px, 20px);
    background-image: svg-load('portfl.svg', fill=#adb1b9);
  }

  &-eyes {
    @include size(20px, 18px);
    background-image: svg-load('eyes.svg', fill=#adb1b9);
  }

  &-eyes-cross {
    @include size(20px, 18px);
    background-image: svg-load('eyes-cross.svg', fill=#adb1b9);
  }

  &-brain {
    @include size(100px, 100px);
    background-image: svg-load('brain.svg', fill=#21aa00);
  }

  &-books {
    @include size(100px, 120px);
    background-image: svg-load('books.svg', fill=#21aa00);
  }

  &-institute {
    @include size(120px, 110px);
    background-image: svg-load('institute.svg', fill=#21aa00);
  }

  &-flag {
    @include size(120px, 110px);
    background-image: svg-load('flag.svg', fill=#21aa00);
  }

  &-site-create {
    @include size(120px, 100px);
    background-image: svg-load('site-create.svg', fill=#21aa00);
  }

  &-content {
    @include size(120px, 100px);
    background-image: svg-load('content.svg', fill=#21aa00);
  }

  &-analytics {
    @include size(120px, 100px);
    background-image: svg-load('analytics.svg', fill=#21aa00);
  }

  &-optimization {
    @include size(120px, 100px);
    background-image: svg-load('optimization.svg', fill=#21aa00);
  }

  &-seo {
    @include size(112px, 120px);
    background-image: svg-load('seo.svg', fill=#21aa00);
  }

  &-context-adv {
    @include size(120px, 120px);
    background-image: svg-load('context-adv.svg', fill=#21aa00);
  }

  &-smm {
    @include size(108px, 108px);
    background-image: svg-load('smm.svg', fill=#21aa00);
  }

  &-online-marketing {
    @include size(120px, 100px);
    background-image: svg-load('online-marketing.svg', fill=#21aa00);
  }

  &-vk {
    @include size(21px, 12px);
    background-image: svg-load('social/vk.svg', fill=#fff);
  }

  &-fb {
    @include size(10px, 20px);
    background-image: svg-load('social/facebook.svg', fill=#fff);
  }

  &-google-plus {
    @include size(20px, 20px);
    background-image: svg-load('social/google-plus.svg');
  }
}

.spinner svg {
  stroke: #21aa00;
  fill: #21aa00;
  width: 16px;
  height: 16px;

  .stop1 {
    stop-color: #21aa00;
    stop-opacity: 0;
  }

  .stop2 {
    stop-color: #21aa00;
  }
}
