<!-- в случае тестирования разбейте стекло комментариев
  <div class="px2px"></div>
-->
<div class="container">
  <header class="header outline">
    <div class="header__box">

      <div class="logo header__logo">
        <a href="../index.html" title="Вернуться на главную страницу CyberMarketing">
          <span class="logo-box"><i class="ico ico-logo"></i></span>
        </a>
      </div><!-- /.header__logo -->
      <div class="search header__search">

        <div class="search__box">

          <div class="form-group">
            <label for="search" class="form-control-label hide">Поиск по сайту</label>
            <div class="form-group status-left">
              <div class="form-control-feedback">
                <span><i class="ico ico-loupe" aria-hidden=”true”></i></span>
              </div><!-- /.form-group-status-type -->
              <input id="search" type="text" class="form-control" placeholder="Что хотите найти?">
              <div class="search-bubble">
                <div class="search-bubble__results">
                  <div class="search-bubble__row">

                    <div class="list-icon list-icon--search">
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">
                              <i class="ico ico-hashtag"></i>
                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--text"><span class="mark">Кон</span>текстная реклама, <span class="mark">кон</span>тент, <span class="mark">кон</span>тент-маркетинг</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                    </div><!-- /.list-icon -->

                  </div><!-- /.search-bubble__row -->
                  <div class="search-bubble__row">

                    <div class="list-icon list-icon--search">
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">
                              <i class="ico ico-pencil"></i>
                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--info">Интенсивный курс, 14 июля - 24 августа, 8 занятий</div>
                            <div class="list-icon__desc--text"><span class="mark">Кон</span>текстная реклама: локомотив для бизнеса</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                    </div><!-- /.list-icon -->

                  </div><!-- /.search-bubble__row -->
                  <div class="search-bubble__row">

                    <div class="list-icon list-icon--search">
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">
                              <i class="ico ico-microphone"></i>
                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--info">Семинар, 15 июля, 11:00-13:00</div>
                            <div class="list-icon__desc--text">Настройка <span class="mark">кон</span>текстной рекламной кампании для новичков</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">
                              <i class="ico ico-microphone"></i>
                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--info">Семинар, 18 июля, 11:00-13:00</div>
                            <div class="list-icon__desc--text"><span class="mark">Кон</span>текстная реклама: продвинутый курс</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                    </div><!-- /.list-icon -->

                  </div><!-- /.search-bubble__row -->
                  <div class="search-bubble__row">

                    <div class="list-icon list-icon--search">
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">
                              <i class="ico ico-webcam"></i>
                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--info">Вебинар, 14 июля, 13:00-17:00</div>
                            <div class="list-icon__desc--text">Автоматизированное управление <span class="mark">кон</span>текстной рекламой</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                    </div><!-- /.list-icon -->

                  </div><!-- /.search-bubble__row -->
                  <div class="search-bubble__row">

                    <div class="list-icon list-icon--search">
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">
                              <i class="ico ico-play-in-circle"></i>
                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--text"><span class="mark">Кон</span>тент для SEO: как добиться совершенства?</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">
                              <i class="ico ico-play-in-circle"></i>
                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--text">Правильный анализ <span class="mark">кон</span>курентов: что нужно делать?</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">
                              <i class="ico ico-play-in-circle"></i>
                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--text"><span class="mark">Кон</span>текстно-медийная сеть Google как способ привлечь новых клиентов</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">

                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--text">ещё <strong>48</strong> видео</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                    </div><!-- /.list-icon -->

                  </div><!-- /.search-bubble__row -->
                  <div class="search-bubble__row">

                    <div class="list-icon list-icon--search">
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">
                              <img src="../assets/images/igor-konovalchuk-22.png" alt="Игорь Коновальчук" width="22" height="22">
                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--text">Игорь <span class="mark">Кон</span>овальчук</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                      <div class="list-icon__item">
                        <div class="list-icon__box">
                          <div class="list-icon__icon">
                            <div class="list-icon__icon-box">
                              <img src="../assets/images/nikolaj-konoplyannikov-22.png" alt="Николай Коноплянников" width="22" height="22">
                            </div><!-- /.list-icon__icon-box -->
                          </div><!-- /.list-icon__icon -->
                          <div class="list-icon__desc">
                            <div class="list-icon__desc--text">Николай <span>Кон</span>оплянников</div>
                          </div><!-- /.list-icon__desc -->
                        </div><!-- /.list-icon__box -->
                      </div><!-- /.list-icon__item -->
                    </div><!-- /.list-icon -->

                  </div><!-- /.search-bubble__row -->
                </div><!-- /.search-bubble__results -->
                <div class="search-bubble__text center">
                  <h3>одной буквы недостаточно для поиска</h3>
                  <p>Проверте написание или попробуйте другой запрос </p>
                </div><!-- /.search-bubble__text -->
              </div><!-- /.search-bubble -->
            </div><!-- /.form-group-status -->
          </div><!-- /.form-group -->

        </div><!-- /.search__box -->

      </div><!-- /.header__search -->
      <div class="contacts header__contacts">
        <div class="contacts__tel">
          <a href="tel:+74956628758" class="contacts__link">+7 (495) 662-87-58</a>
        </div>
        <div class="contacts__mail">
          <a href="mailto:info@cybermarketing.ru" class="contacts__link">info@cybermarketing.ru</a>
        </div>
      </div><!-- /.header__contacts -->

      @@if (nologin === true) {
      <div class="user header__user">
        <div class="user-box user-box--auth">
          <a href="auth.html" class="btn btn-green">Вход</a>
        </div><!-- /.user-box -->
      </div><!-- /.header__user -->
      }
      @@if (login === true) {
      <div class="user header__user">
        <div class="user-box">
          <div class="user__notify"><a href=""><i class="ico ico-bell" aria-hidden=”true”></i><span class="label"></span></a></div>
          <div class="user__avatar"><a href=""><span><img src="../assets/images/chak-norris.png" alt="Имя пользователя" width="40" height="40"></span></a></div>
        </div><!-- /.user-box -->
      </div><!-- /.header__user -->
      }

    </div><!-- /.header__box -->
  </header>
</div><!-- /.container -->
