<!-- в случае тестирования разбейте стекло комментариев
  <div class="px2px"></div>
-->
<div class="container">
  <header class="header outline">
    <div class="header__box">

      <div class="logo header__logo">
        <a href="/index.html" title="Вернуться на главную страницу CyberMarketing">
          <span class="logo-box"><i class="ico ico-logo"></i></span>
        </a>
      </div><!-- /.header__logo -->
      <div class="search header__search">

        <div class="search__box">
          <div class="form-group">
            <label for="search" class="form-control-label hide">Поиск по сайту</label>
            <div class="form-group-status">
              <div class="form-group-status-type">
                <span><i class="ico ico-loupe" aria-hidden=”true”></i></span>
              </div><!-- /.form-group-status-type -->
              <input id="search" type="text" class="form-control" placeholder="Что хотите найти?">
            </div><!-- /.form-group-status -->
          </div><!-- /.form-group -->
        </div><!-- /.search__box -->

      </div><!-- /.header__search -->
      <div class="contacts header__contacts">
        <div class="contacts__tel">
          <a href="tel:+74956628758" class="contacts__link">+7 (495) 662-87-58</a>
        </div>
        <div class="contacts__mail">
          <a href="mailto:info@cybermarketing.ru" class="contacts__link">info@cybermarketing.ru</a>
        </div>
      </div><!-- /.header__contacts -->

      @@if (nologin === true) {
      <div class="user header__user">
        <div class="user-box user-box--auth">
          <a href="" class="btn btn-green">Вход</a>
        </div><!-- /.user-box -->
      </div><!-- /.header__user -->
      }
      @@if (login === true) {
      <div class="user header__user">
        <div class="user-box">
          <div class="user__notify"><a href=""><i class="ico ico-bell" aria-hidden=”true”></i><span class="label"></span></a></div>
          <div class="user__avatar"><a href=""><span><img src="../assets/images/chak-norris.png" alt="Имя пользователя" width="40" height="40"></span></a></div>
        </div><!-- /.user-box -->
      </div><!-- /.header__user -->
      }

    </div><!-- /.header__box -->
  </header>
</div><!-- /.container -->
