<div class="menu_wrap">
  <ul class="menu">
    <li class="menu_item"><a href="" class="menu_link">
      <div class="menu_link-box">
        <div class="menu-base">
          <div class="menu_icon">
            <div class="menu_icon-box"><span><i class="ico ico-calendar"></i></span></div>
          </div><!-- /.menu_icon -->
          <div class="menu_text">Всё расписание</div><!-- /.menu_text -->
        </div><!-- /.menu-base -->
        <div class="menu-status"></div><!-- /.menu-status-->
      </div><!-- /.menu_link-box -->
    </a></li>
    <li class="menu_item"><a href="" class="menu_link">
      <div class="menu_link-box">
        <div class="menu-base">
          <div class="menu_icon">
            <div class="menu_icon-box"><span><i class="ico ico-calendar"></i></span></div>
          </div><!-- /.menu_icon -->
          <div class="menu_text">Всё расписание</div><!-- /.menu_text -->
        </div><!-- /.menu-base -->
        <div class="menu-status"></div><!-- /.menu-status-->
      </div><!-- /.menu_link-box -->
    </a></li>
    <li class="menu_item active"><a href="" class="menu_link">
      <div class="menu_link-box">
        <div class="menu-base">
          <div class="menu_icon">
            <div class="menu_icon-box"><span><i class="ico ico-calendar"></i></span></div>
          </div><!-- /.menu_icon -->
          <div class="menu_text">Всё расписание</div><!-- /.menu_text -->
        </div><!-- /.menu-base -->
        <div class="menu-status"></div><!-- /.menu-status-->
      </div><!-- /.menu_link-box -->
    </a></li>
  </ul>
</div>
