.menu_wrap {
  background-color: rgb(255, 255, 255);
}

.menu {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;

  &_item {
    border-bottom: 1px solid #d6d9dc;

    &.active {

      .menu_link-box {
        border-left-color: #21aa00;
      }

      .menu_text {
        color: #21aa00;
      }
    }
  }

  &_link-box {
    padding: 24px 20px 23px 17px;
    border-left: 3px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }

  &-base {
    display: flex;
    align-content: center;
    align-items: center;
  }

  &_icon {
    margin-right: 21px;

    &-box {
      position: relative;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &_text {
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.dot {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background-color: #fff;

  &-red {
    background-color: #ef0d0d;
  }
}
