<div class="container">
  <div class="license outline">

    <div class="box-header">
      <h2>Документы выпускника</h2>
      <p>Обучаем студентов при поддержке министерства образования, и выдаём дипломы государственного образца</p>
    </div><!-- /.box-header -->

    <div class="diplom-list">
      <div class="diplom__item">
        <div class="diplom__box">
          <div class="diplom__img"><img src="../assets/images/diplom-cyber.png" alt="Фирменный диплом «CyberMarketing»" width="330" height="240"></div><!-- /.diplom__img -->
          <div class="diplom__info">
            <div class="license-name">Фирменный диплом <br> «CyberMarketing»</div><!-- /.license-name -->
            <div class="license-desc"><p>Получают все выпускники. Диплом можно повесить на стену, как повод гордиться собой за старания и быть уверенным в знаниях и навыках</p></div><!-- /.license-desc -->
          </div><!-- /.diplom__info -->
        </div><!-- /.diplom__box -->
      </div><!-- /.diplom__item -->
      <div class="diplom__item">
        <div class="diplom__box">
          <div class="diplom__img"><img src="../assets/images/diplom.png" alt="Диплом о профессиональной переподготовке" width="310" height="219"></div><!-- /.diplom__img -->
          <div class="diplom__info">
            <div class="license-name">Диплом <br>о профессиональной переподготовке</div><!-- /.license-name -->
            <div class="license-desc"><p>Официальный документ. Выдаётся тем кто имеет высшее или средне-специальное образование</p></div><!-- /.license-desc -->
          </div><!-- /.diplom__info -->
        </div><!-- /.diplom__box -->
      </div><!-- /.diplom__item -->
      <div class="diplom__item">
        <div class="diplom__box">
          <div class="diplom__img"><img src="../assets/images/diplom-app.png" alt="Приложение к диплому о профессиональной переподготовке" height="331" height="220"></div><!-- /.diplom__img -->
          <div class="diplom__info">
            <div class="license-name">Приложение к диплому <br> о профессиональной переподготовке</div><!-- /.license-name -->
            <div class="license-desc"><p>Аттестат который показывает уровень знаний.</p></div><!-- /.license-desc -->
          </div><!-- /.diplom__info -->
        </div><!-- /.diplom__box -->
      </div><!-- /.diplom__item -->
    </div><!-- /.diplom-list -->

    <div class="license-module">
      <div class="license-module__item">
        <div class="license-module__box">
          <div class="license-img">
            <img src="../assets/images/license_1.png" alt="Лицензии обучающего центра" width="155" height="220">
            <img src="../assets/images/license_2.png" alt="Лицензии обучающего центра" width="155" height="220">
            <img src="../assets/images/license_3.png" alt="Лицензии обучающего центра" width="155" height="220">
          </div><!-- /.license-img -->
        </div><!-- /.license-module__box -->
      </div><!-- /.license-module__item -->
      <div class="license-module__item">
        <div class="license-module__box">
          <div class="license-name">Лицензии обучающего центра</div><!-- /.license-name -->
          <div class="license-desc"><p>Образовательная деятельность в университете «CyberMarketing» ведется на основании государственной лицензии №037356 от 06 апреля 2016 г.</p></div><!-- /.license-desc -->
        </div><!-- /.license-module__box -->
      </div><!-- /.license-module__item -->
    </div><!-- /.license-module -->

  </div><!-- /.license outline -->
</div><!-- /.container -->
