<div class="container">
  <div class="page page-sidebar outline">
    <div class="page__content content">
      <div class="content__box">

        <div class="videos-list big-videos">

          <div class="video__item">
            <a href="" class="video-link">
              <div class="video__box">
                <div class="video__cover">
                  <div class="video__cover-box">
                    <img src="../assets/images/video-1-big.png" alt="Здоровая реклама, или как продвигать медицинскую тематику в соцсетях" width="385" height="217">
                  </div><!-- /.video__cover-box -->
                  <div class="video__cover-bg">
                    <div class="video__play">
                      <div class="play-icon">
                        <span><i class="ico ico-play-in-circle-big"></i></span>
                      </div><!-- /.play-icon -->
                    </div><!-- /.video__play -->
                  </div><!-- /.video__cover-bg -->
                </div><!-- /.video__cover -->
                <div class="video__desc">
                  <div class="video__desc-box">
                    <div class="video-name">Здоровая реклама, или как продвигать медицинскую тематику в соцсетях</div><!-- /.video-name -->
                    <div class="video-info">
                      <div class="info"><i class="ico ico-calendar"></i><span>6 июля 2017</span></div>
                      <div class="info"><i class="ico ico-watch"></i><span>1:27:25</span></div>
                    </div><!-- /.video-info -->
                  </div><!-- /.video__desc-box -->
                </div><!-- /.video__desc -->
              </div><!-- /.video__box -->
            </a>
          </div><!-- /.video__item -->

          <div class="video__item">
            <a href="" class="video-link">
              <div class="video__box">
                <div class="video__cover">
                  <div class="video__cover-box">
                    <img src="../assets/images/video-2-big.png" alt="Бесконечно допродовать то, что нужно пользователю" width="385" height="217">
                  </div><!-- /.video__cover-box -->
                  <div class="video__cover-bg">
                    <div class="video__play">
                      <div class="play-icon">
                        <span><i class="ico ico-play-in-circle-big"></i></span>
                      </div><!-- /.play-icon -->
                    </div><!-- /.video__play -->
                  </div><!-- /.video__cover-bg -->
                </div><!-- /.video__cover -->
                <div class="video__desc">
                  <div class="video__desc-box">
                    <div class="video-name">Бесконечно допродовать то, что нужно пользователю</div><!-- /.video-name -->
                    <div class="video-info">
                      <div class="info"><i class="ico ico-calendar"></i><span>6 июля 2017</span></div>
                      <div class="info"><i class="ico ico-watch"></i><span>1:27:25</span></div>
                    </div><!-- /.video-info -->
                  </div><!-- /.video__desc-box -->
                </div><!-- /.video__desc -->
              </div><!-- /.video__box -->
            </a>
          </div><!-- /.video__item -->

          <div class="video__item">
            <a href="" class="video-link">
              <div class="video__box">
                <div class="video__cover">
                  <div class="video__cover-box">
                    <img src="../assets/images/video-3-big.png" alt="Аналитический мир Google или как сделать свою рекламу более эффективной" width="385" height="217">
                  </div><!-- /.video__cover-box -->
                  <div class="video__cover-bg">
                    <div class="video__play">
                      <div class="play-icon">
                        <span><i class="ico ico-play-in-circle-big"></i></span>
                      </div><!-- /.play-icon -->
                    </div><!-- /.video__play -->
                  </div><!-- /.video__cover-bg -->
                </div><!-- /.video__cover -->
                <div class="video__desc">
                  <div class="video__desc-box">
                    <div class="video-name">Аналитический мир Google или как сделать свою рекламу более эффективной</div><!-- /.video-name -->
                    <div class="video-info">
                      <div class="info"><i class="ico ico-calendar"></i><span>6 июля 2017</span></div>
                      <div class="info"><i class="ico ico-watch"></i><span>1:27:25</span></div>
                    </div><!-- /.video-info -->
                  </div><!-- /.video__desc-box -->
                </div><!-- /.video__desc -->
              </div><!-- /.video__box -->
            </a>
          </div><!-- /.video__item -->

        </div><!-- /.videos-list  -->

        <div class="videos-list">

          <div class="video__item">
            <a href="" class="video-link">
              <div class="video__box">
                <div class="video__cover">
                  <div class="video__cover-box">
                    <img src="../assets/images/video-1.png" alt="Здоровая реклама, или как продвигать медицинскую тематику в соцсетях" width="283" height="160">
                  </div><!-- /.video__cover-box -->
                  <div class="video__cover-bg">
                    <div class="video__play">
                      <div class="play-icon">
                        <span><i class="ico ico-play-in-circle-big"></i></span>
                      </div><!-- /.play-icon -->
                    </div><!-- /.video__play -->
                  </div><!-- /.video__cover-bg -->
                </div><!-- /.video__cover -->
                <div class="video__desc">
                  <div class="video__desc-box">
                    <div class="video-name">Здоровая реклама, или как продвигать медицинскую тематику в соцсетях</div><!-- /.video-name -->
                    <div class="video-info">
                      <div class="info"><i class="ico ico-calendar"></i><span>6 июля 2017</span></div>
                      <div class="info"><i class="ico ico-watch"></i><span>1:27:25</span></div>
                    </div><!-- /.video-info -->
                  </div><!-- /.video__desc-box -->
                </div><!-- /.video__desc -->
              </div><!-- /.video__box -->
            </a>
          </div><!-- /.video__item -->

          <div class="video__item">
            <a href="" class="video-link">
              <div class="video__box">
                <div class="video__cover">
                  <div class="video__cover-box">
                    <img src="../assets/images/video-2.png" alt="Бесконечно допрадовать то, что нужно пользователю" width="283" height="160">
                  </div><!-- /.video__cover-box -->
                  <div class="video__cover-bg">
                    <div class="video__play">
                      <div class="play-icon">
                        <span><i class="ico ico-play-in-circle-big"></i></span>
                      </div><!-- /.play-icon -->
                    </div><!-- /.video__play -->
                  </div><!-- /.video__cover-bg -->
                </div><!-- /.video__cover -->
                <div class="video__desc">
                  <div class="video__desc-box">
                    <div class="video-name">Бесконечно допрадовать то, что нужно пользователю</div><!-- /.video-name -->
                    <div class="video-info">
                      <div class="info"><i class="ico ico-calendar"></i><span>6 июля 2017</span></div>
                      <div class="info"><i class="ico ico-watch"></i><span>1:27:25</span></div>
                    </div><!-- /.video-info -->
                  </div><!-- /.video__desc-box -->
                </div><!-- /.video__desc -->
              </div><!-- /.video__box -->
            </a>
          </div><!-- /.video__item -->

          <div class="video__item">
            <a href="" class="video-link">
              <div class="video__box">
                <div class="video__cover">
                  <div class="video__cover-box">
                    <img src="../assets/images/video-3.png" alt="Аналитический мир Google или как сделать свою рекламу более эффективной" width="283" height="160">
                  </div><!-- /.video__cover-box -->
                  <div class="video__cover-bg">
                    <div class="video__play">
                      <div class="play-icon">
                        <span><i class="ico ico-play-in-circle-big"></i></span>
                      </div><!-- /.play-icon -->
                    </div><!-- /.video__play -->
                  </div><!-- /.video__cover-bg -->
                </div><!-- /.video__cover -->
                <div class="video__desc">
                  <div class="video__desc-box">
                    <div class="video-name">Аналитический мир Google или как сделать свою рекламу более эффективной</div><!-- /.video-name -->
                    <div class="video-info">
                      <div class="info"><i class="ico ico-calendar"></i><span>6 июля 2017</span></div>
                      <div class="info"><i class="ico ico-watch"></i><span>1:27:25</span></div>
                    </div><!-- /.video-info -->
                  </div><!-- /.video__desc-box -->
                </div><!-- /.video__desc -->
              </div><!-- /.video__box -->
            </a>
          </div><!-- /.video__item -->

          <div class="video__item">
            <a href="" class="video-link">
              <div class="video__box">
                <div class="video__cover">
                  <div class="video__cover-box">
                    <img src="../assets/images/video-4.png" alt="Антиодиночка: Старт карьеры в арбитраже трафика" width="283" height="160">
                  </div><!-- /.video__cover-box -->
                  <div class="video__cover-bg">
                    <div class="video__play">
                      <div class="play-icon">
                        <span><i class="ico ico-play-in-circle-big"></i></span>
                      </div><!-- /.play-icon -->
                    </div><!-- /.video__play -->
                  </div><!-- /.video__cover-bg -->
                </div><!-- /.video__cover -->
                <div class="video__desc">
                  <div class="video__desc-box">
                    <div class="video-name">Антиодиночка: Старт карьеры в арбитраже трафика</div><!-- /.video-name -->
                    <div class="video-info">
                      <div class="info"><i class="ico ico-calendar"></i><span>6 июля 2017</span></div>
                      <div class="info"><i class="ico ico-watch"></i><span>1:27:25</span></div>
                    </div><!-- /.video-info -->
                  </div><!-- /.video__desc-box -->
                </div><!-- /.video__desc -->
              </div><!-- /.video__box -->
            </a>
          </div><!-- /.video__item -->

        </div><!-- /.videos-list  -->

      </div><!-- /.content__box -->
    </div><!-- /.page__content -->
  </div><!-- /.page -->
</div><!-- /.container -->
