.videos-list {
  display: flex;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &.big-videos {

    .video__item {
      min-width: 387px;
      flex: 1 33%;
    }

    .video__cover {
      min-height: 215px;
    }
  }
}

.video {

  &__item {
    width: 285px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(50, 61, 75, 0.2);
    border-radius: 2px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    position: relative;
  }

  &__desc {
    position: relative;
    height: 100%;
    border-top: 1px solid rgba(50, 61, 75, 0.2);
    padding: 20px 20px;

    &-box {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__cover {
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;

    &-bg {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(33, 170, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }

    img {
      display: block;
      vertical-align: bottom;
    }
  }

  &-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .info {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__play {
    display: block;
    width: 60px;
    height: 60px;
    transition: all .35s ease-in-out;
    transform: scale(0.89);
  }

  &-link:hover {

    .video__cover-bg {
      opacity: 1;
      visibility: visible;
    }

    .video__play {
      transform: scale(1.1);
    }
  }
}
