<div class="container">
  <div class="half-lead outline" style="background-image: url('../assets/images/half-lead-bg.png');">
    <div class="half-lead__bg" style="background-image: url('../assets/images/half-lead-bg-bottom.png');"></div><!-- /.half-lead__bg -->
    <div class="half-lead__img">
      <div class="half-lead__img-position">
        <img src="../assets/images/half-lead-people.png" alt="">
      </div><!-- /.half-lead__img-position -->
    </div><!-- /.half-lead__img -->
    <div class="half-lead__info">
      <h3>Приходи учиться с другом</h3>
      <div class="half-lead__name">Каждый получит скидку!</div>
      <div class="lead-info lead-info--big">
        <div class="lead-info__item">
          <div class="lead-info__price">
            <div class="price-cross">25 000</div><!-- /.price-cross -->
            <div class="price-ok">22 000 <span>руб</span></div><!-- /.price-ok -->
          </div><!-- /.lead-info__price -->
        </div><!-- /.lead-info__item -->
      </div><!-- /.lead-info -->
      <div class="half-lead__actions">
        <a href="" class="btn btn-white">Выслать приглашение</a>
      </div><!-- /.half-lead__actions -->
    </div><!-- /.half-lead__info -->
  </div><!-- /.half-lead -->
</div><!-- /.container -->
