<div class="container">
  <div class="half-lead outline emerge" style="background-image: url('/assets/images/half-lead-bg.png');">
    <div class="half-lead__bg" style="background-image: url('/assets/images/half-lead-bg-bottom.png');"></div><!-- /.half-lead__bg -->
    <div class="half-lead__img">
      <div class="half-lead__img-position">
        <img src="/assets/images/half-lead-people.png" alt="">
      </div><!-- /.half-lead__img-position -->
    </div><!-- /.half-lead__img -->
    <div class="half-lead__info">
      <h3>Приходи учиться с другом</h3>
      <div class="half-lead__name">Каждый получит скидку!</div>
      <div class="lead-info">
        <div class="lead-info__item">
          <div class="lead-info__name"><span>Обучение в институте</span></div>
          <div class="lead-info__price">
            <div class="price-cross">25 000</div><!-- /.price-cross -->
            <div class="price-ok">20 000<i class="ico ico-rub white"></i></div><!-- /.price-ok -->
          </div><!-- /.lead-info__price -->
        </div><!-- /.lead-info__item -->
        <div class="lead-info__item">
          <div class="lead-info__name"><span>Интенсивные курсы</span></div>
          <div class="lead-info__price">
            <div class="price-cross">10 000</div><!-- /.price-cross -->
            <div class="price-ok">8 000<i class="ico ico-rub white"></i></div><!-- /.price-ok -->
          </div><!-- /.lead-info__price -->
        </div><!-- /.lead-info__item -->
        <div class="lead-info__item">
          <div class="lead-info__name"><span>Платные семинары</span></div>
          <div class="lead-info__price">
            <div class="price-cross">3 000</div><!-- /.price-cross -->
            <div class="price-ok">2 500<i class="ico ico-rub white"></i></div><!-- /.price-ok -->
          </div><!-- /.lead-info__price -->
        </div><!-- /.lead-info__item -->
      </div><!-- /.lead-info -->
      <div class="half-lead__actions">
        <a href="" class="btn btn-white">Выслать приглашение</a>
        <a href="">Подробнее о программе</a>
      </div><!-- /.half-lead__actions -->
    </div><!-- /.half-lead__info -->
  </div><!-- /.half-lead -->
</div><!-- /.container -->
