<div class="container">
  <div class="lead photo outline" style="background-image: url('../assets/images/institute-lead-bg.png');">
    <div class="lead__box">
      <div class="lead__center">
        <div class="lead__icon"><i class="ico ico-institute white"></i></div>
        <h1>Online-институт</h1>
        <p>Выпускаем дипломированных интернет-маркетологов</p>
        <div class="lead__actions">
          <a href="" class="btn btn-white">Начать обучение</a>
          <a href="" class="btn">Попробовать бесплатно</a>
        </div><!-- /.lead__actions -->
      </div><!-- /.lead__center -->
    </div><!-- /.lead__box -->
    <div class="bage">
      <a href=""><div class="bage__box">
        <div class="bage-img"><span><i class="ico ico-calendar"></i></span></div><!-- /.bage-img -->
        <div class="bage-text">Расписание занятий</div><!-- /.bage-text -->
      </div><!-- /.bage__box --></a>
    </div><!-- /.bage -->
  </div><!-- /.lead -->
</div><!-- /.container -->
