<div class="container">
  <div class="lead photo lead-mini outline" style="background-image: url('/assets/images/institute-lead-bg.png');">
    <div class="lead__box">
      <div class="lead__center">
        <h1>Ещё не решили?</h1>
        <p>Попробуйте, что бы понять подходит ли вам формат online-обучения</p>
        <div class="lead-actions">
          <div class="lead-actions__item">
            <a href="" class="btn btn-white">Начать бесплатно</a>
          </div><!-- /.lead-actions__item -->
        </div><!-- /.lead-actions -->
      </div><!-- /.lead__center -->
    </div><!-- /.lead__box -->
  </div><!-- /.lead -->
</div><!-- /.container -->
