<div class="container">
  <div class="lead-share outline">
    <div class="lead-share__bg">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
    </div><!-- /.lead-share__bg -->
    <div class="lead-share__box">
      <div class="lead-share__content"></div><!-- /.lead-share__content -->
    </div><!-- /.lead-share__box -->
  </div><!-- /.lead-share -->
</div><!-- /.container -->
