<div class="container">
  <div class="lead-share outline">
    <div class="lead-share__bg">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-1.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-2.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
      <img src="../assets/images/share_bg-3.png" alt="Фото с хэштегом #cybermarketing" width="160" height="160">
    </div><!-- /.lead-share__bg -->
    <div class="lead-share__box">
      <div class="lead-share__content">
        <div class="share-content">
          <h2>Поделитесь достижением!</h2>
          <h3>Cтавте к фото хэштег #cybermarketing</h3>
          <p>Мы просматриваем социальные сети и выкладываем на стену гордости</p>
          <div class="social-box">
            <ul class="social white">
              <li class="social__item"><a href="" class="social__link social__link--vk" target="_blank" title="Откроется в новом окне"><span>VK</span></a></li>
              <li class="social__item"><a href="" class="social__link social__link--instagram" target="_blank" title="Откроется в новом окне"><span>Instagram</span></a></li>
            </ul>
          </div><!-- /.social-box -->
        </div>
      </div><!-- /.lead-share__content -->
    </div><!-- /.lead-share__box -->
  </div><!-- /.lead-share -->
</div><!-- /.container -->
