.lead {
  background-color: #21aa00;
  height: 440px;
  background-image: url('../../../assets/images/lead-bg.png');
  margin: 0;
  background-attachment: fixed;
  background-position: 50% -50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__box {
    display: flex;
    height: 440px;
    justify-content: center;
  }

  &__center {
    display: block;
    text-align: center;
    margin-top: 49px;
  }

  &__icon {
    margin-bottom: 35px;
  }

  h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    color: #fff;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }

  &__btn {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
  }
}
