<div class="container">
  <div class="where-you outline">

    <div class="where-you__box">
      <div class="where-you__status">
        <div class="you-status">
          <span></span>
        </div><!-- /.you-status -->
      </div><!-- /.where-you__icon -->
      <div class="where-you__desc">
        <div class="where-you__text"><a href="">Тема 3. Маркетинговые исследования</a></div><!-- /.where-you__text -->
        <div class="where-you__name">
          <div class="course-name">Методы сбора и анализа данных</div>
          <div class="course-time">
            <div class="course-time__icon"><i class="ico ico-watch"></i></div><!-- /.course-time__icon -->
            <div class="course-time-t"><strong>32</strong> минуты</div><!-- /.course-time-t -->
          </div><!-- /.course-time -->
        </div><!-- /.where-you__name -->
      </div><!-- /.where-you__text -->
      <div class="where-you__action">
        <a href="" class="btn btn-green">Пройти тест</a>
      </div><!-- /.where-you__action -->
    </div><!-- /.where-you__box -->

  </div>
</div><!-- /.container -->
