<div class="container">
  <div class="headline headline--lesson outline">

    <div class="headline__box">
      <div class="headline__status">
        <div class="you-status">
          <span><i class="ico ico-pause"></i></span>
        </div><!-- /.you-status -->
      </div><!-- /.headline__icon -->

      <div class="headline__desc">
        <div class="headline__text">
          <a class="headline__text-link">Тема 3. Маркетинговые исследования</a>
        </div><!-- /.headline__text -->
        <div class="headline__name">
          <div class="course-name"><h1>Методы сбора и анализа данных</h1></div>
          <div class="course-time">
            <div class="course-time__icon"><i class="ico ico-watch"></i></div><!-- /.course-time__icon -->
            <div class="course-time-t"><strong>35</strong> минут</div><!-- /.course-time-t -->
          </div><!-- /.course-time -->
        </div><!-- /.headline__name -->
      </div><!-- /.headline__text -->

      <div class="headline__action">
        <a href="" class="btn btn-green">Пройти тест</a>
      </div><!-- /.headline__action -->
    </div><!-- /.headline__box -->

  </div><!-- /.headline -->
</div><!-- /.container -->
