.headline {
  background-color: rgb(247, 247, 248);

  &__box {
    display: flex;
    align-content: space-between;
    align-items: center;
    padding: 19px 39px;
  }

  &__status {
    flex-basis: 60px;
    margin-right: 40px;

    .you-status {
      width: 60px;
      height: 60px;
      border: 2px solid rgb(173, 177, 185);
      border-radius: 50%;
      text-align: center;
      position: relative;

      span {
        position: relative;
        top: 18px;
      }
    }
  }

  &__desc {
    flex: 1 100%;
  }

  &__text {
    color: rgb(131, 133, 138);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
  }

  &__name {
    display: flex;
    align-items: center;
  }

  .course-name {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}

.course-time {
  margin-left: 20px;
  color: rgb(120, 122, 128);
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 8px;

    .ico-watch {
      position: relative;
      top: 1px;
    }
  }
}
