<div class="container">
  <div class="page outline">

    <div class="page__content content">

      <div class="content__box">

@@include('blocks/_progress/list/list.html')

@@loop("blocks/_progress/list/item.html", [
  { "href": "course.html", "name": "Страница курса", "design": "100", "html": "98" }
])
<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Урок</div>
  </li>
  <ul>
    @@loop("blocks/_progress/list/item.html", [
      { "href": "lesson.html", "name": "Страница урока", "design": "100", "html": "99" },
      { "href": "lesson-video.html", "name": "Страница урока с видео", "design": "100", "html": "99" }
    ])

  </ul>
</li>
@@loop("blocks/_progress/list/item.html", [
  { "href": "_ui.html", "name": "UI: Контролы и компоненты", "design": "100", "html": "100" }
])


@@include('blocks/_progress/structure/structure.html", {
  "git": "github.com/4enki/cm",
  "version": "1.0.0"
})
      </div><!-- /.content__box -->

    </div><!-- /.page__content -->
  </div><!-- /.page -->
</div><!-- /.container -->
