<div class="container">
  <div class="page outline">

    <div class="page__content content">

      <div class="content__box">

@@include('blocks/_progress/list/list.html')

@@loop("blocks/_progress/list/item.html", [
  { "href": "course.html", "name": "Страница курса", "design": "100", "html": "99" }
])
<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Урок</div>
  </li>
  <ul>
    @@loop("blocks/_progress/list/item.html", [
      { "href": "lesson.html", "name": "Страница урока", "design": "100", "html": "99" },
      { "href": "lesson-video.html", "name": "Страница урока с видео", "design": "100", "html": "99" }
    ])
  </ul>
</li>
<li>
  <li class="navigation__header">
    <div class="progress navigation-name">Тестирование</div>
  </li>
  <ul>
  @@loop("blocks/_progress/list/item.html", [
    { "href": "test-alert.html", "name": "Предупреждение", "design": "100", "html": "97" },
    { "href": "test-result.html", "name": "Результат теста", "design": "100", "html": "100" },
    { "href": "test.html", "name": "Тест", "design": "100", "html": "97" },
    { "href": "lesson-test.html", "name": "Заглушка перед тестом", "design": "100", "html": "100" }
  ])
  </ul>
</li>
<li>
  <li class="navigation__header">
    <div class="progress navigation-name"><span style="opacity: .3;">Мобильный вид</span> <sup>скоро</sup></div>
  </li>
  <ul style="opacity: .3;">
    @@loop("blocks/_progress/list/item.html", [
      { "href": "mobile-lesson.html", "name": "Страница урока", "design": "100", "html": "0" }
    ])
  </ul>
</li>
@@loop("blocks/_progress/list/item.html", [
  { "href": "ui.html", "name": "UI: Контролы и компоненты", "design": "100", "html": "100" }
])


@@include('blocks/_progress/structure/structure.html", {
  "git": "github.com/4enki/cm",
  "version": "1.0.0"
})
      </div><!-- /.content__box -->

    </div><!-- /.page__content -->
  </div><!-- /.page -->
</div><!-- /.container -->
