<div class="container">
  <div class="reviews outline">

    <div class="box-header">
      <h2>Отзывы от учеников</h2>
      <p>Это практикующие профессионалы представляющие компании-лидеры в своей отрасли</p>
    </div><!-- /.box-header -->

    <div class="reviews-list">

      <div class="reviews__item">

        <div class="reviews__box">

          <div class="reviews__header">
            <div class="rating-box"><i class="ico ico-like"></i><span>4.7</span></div><!-- /.rating-box -->
          </div><!-- /.reviews__header -->

          <div class="reviews__name">
            <h3>«Контент-маркетинг для бизнеса: как привлечь целевой трафик?»</h3>
          </div><!-- /.reviews__name -->

          <div class="reviews__text">
            <p>Компания CyberMarketing успешно развивается и предлагает самые современные методы продвижения. Благодаря многолетнему опыту работы на рынке и квалифицированным сотрудникам...</p>
          </div>

          <div class="reviews__footer">

            <div class="reviews__more">
              <a href="#" class="more-link more-link--right _more-comment"><span>Показать полностью</span></a>
            </div>

            <div class="reviews__user">
              <div class="course-speaker">
                <div class="course-speaker__photka"><span><img src="assets/images/dmitry-klimchukov.png" alt="Дмитрий Климчуков" width="40" height="40"></span></div><!-- /.course-speaker__photka -->
                <div class="course-speaker__who">
                  <div class="course-speaker__name">Валентина Криворотова</div><!-- /.course-speaker__name -->
                  <div class="course-speaker__position">Директор по маркетингу Airbnb</div><!-- /.course-speaker__position -->
                </div><!-- /.course-speaker__who -->
              </div><!-- /.course-speaker -->
            </div><!-- /.reviews__user -->

          </div><!-- /.reviews__footer -->
        </div><!-- /.reviews__box -->

      </div><!-- /.reviews__item -->
      <div class="reviews__item">

        <div class="reviews__box">

          <div class="reviews__header">
            <div class="rating-box"><i class="ico ico-like"></i><span>5.0</span></div><!-- /.rating-box -->
          </div><!-- /.reviews__header -->

          <div class="reviews__name">
            <h3>«Интернет-маркетинг: базовый курс»</h3>
          </div><!-- /.reviews__name -->

          <div class="reviews__text">
            <p>Огромное спасибо компании CyberMarketing за столь интересные конференции и за то, что начала развивать образовательное направление в такой области, как интернет-реклама. На...</p>
          </div>

          <div class="reviews__footer">

            <div class="reviews__more">
              <a href="#" class="more-link more-link--right _more-comment"><span>Показать полностью</span></a>
            </div>

            <div class="reviews__user">
              <div class="course-speaker">
                <div class="course-speaker__photka"><span><img src="assets/images/dmitry-klimchukov.png" alt="Дмитрий Климчуков" width="40" height="40"></span></div><!-- /.course-speaker__photka -->
                <div class="course-speaker__who">
                  <div class="course-speaker__name">Николай Панкратов</div><!-- /.course-speaker__name -->
                  <div class="course-speaker__position">Начальник отдела информационных...</div><!-- /.course-speaker__position -->
                </div><!-- /.course-speaker__who -->
              </div><!-- /.course-speaker -->
            </div><!-- /.reviews__user -->

          </div><!-- /.reviews__footer -->
        </div><!-- /.reviews__box -->

      </div><!-- /.reviews__item -->
      <div class="reviews__item">

        <div class="reviews__box">

          <div class="reviews__header">
            <div class="rating-box"><i class="ico ico-like"></i><span>5.0</span></div><!-- /.rating-box -->
          </div><!-- /.reviews__header -->

          <div class="reviews__name">
            <h3>«Реклама в социальных сетях для вашего бизнеса»</h3>
          </div><!-- /.reviews__name -->

          <div class="reviews__text">
            <p>С некоторым недоверием отнесся к идее посетить бесплатные курсы CyberMarketing. В наше время делиться ценной информацией даром обычно не принято. Эти курсы приятное...</p>
          </div>

          <div class="reviews__footer">

            <div class="reviews__more">
              <a href="#" class="more-link more-link--right _more-comment"><span>Показать полностью</span></a>
            </div>

            <div class="reviews__user">
              <div class="course-speaker">
                <div class="course-speaker__photka"><span><img src="assets/images/dmitry-klimchukov.png" alt="Александр Кудряшов" width="40" height="40"></span></div><!-- /.course-speaker__photka -->
                <div class="course-speaker__who">
                  <div class="course-speaker__name">Александр Кудряшов</div><!-- /.course-speaker__name -->
                  <div class="course-speaker__position">Генеральный директор «Удачный день»</div><!-- /.course-speaker__position -->
                </div><!-- /.course-speaker__who -->
              </div><!-- /.course-speaker -->
            </div><!-- /.reviews__user -->

          </div><!-- /.reviews__footer -->
        </div><!-- /.reviews__box -->

      </div><!-- /.reviews__item -->

    </div><!-- /.reviews-list -->

    <div class="slider-nav">
      <div class="slider-nav__box">
        <div class="slider-nav__left left">
          <div class="slider-nav__link"><span><i class="ico ico-nav-left"></i></span></div><!-- /.slider-nav__link -->
        </div><!-- /.left -->

        <div class="slider-nav__dots dots">
          <div class="dot-list">
            <div class="dot"><span>1</span></div>
            <div class="dot dot-active"><span>2</span></div>
            <div class="dot"><span>3</span></div>
            <div class="dot"><span>4</span></div>
            <div class="dot"><span>5</span></div>
          </div><!-- /.dot-list -->
        </div><!-- /.dots -->

        <div class="slider-nav__right right">
          <div class="slider-nav__link"><span><i class="ico ico-nav-right"></i></span></div><!-- /.slider-nav__link -->
        </div><!-- /.right -->
      </div><!-- /.slider-nav__box -->
    </div><!-- /.slider-nav -->

  </div><!-- /.reviews -->
</div><!-- /.container -->
