<div class="container">
  <div class="testimonial outline">

    <div class="box-header">
      <h2>Отзывы от учеников</h2>
      <p>Это практикующие профессионалы представляющие компании-лидеры в своей отрасли</p>
    </div><!-- /.box-header -->

    <div class="box-tabs">

    </div>

    <div class="slider-nav">
      <div class="slider-nav__box">
        <div class="slider-nav__left left">
          <div class="slider-nav__link"><span><i class="ico ico-nav-left"></i></span></div><!-- /.slider-nav__link -->
        </div><!-- /.left -->

        <div class="slider-nav__dots dots">
          <div class="dot-list">
            <div class="dot"><span>1</span></div>
            <div class="dot dot-active"><span>2</span></div>
            <div class="dot"><span>3</span></div>
            <div class="dot"><span>4</span></div>
            <div class="dot"><span>5</span></div>
          </div><!-- /.dot-list -->
        </div><!-- /.dots -->

        <div class="slider-nav__right right">
          <div class="slider-nav__link"><span><i class="ico ico-nav-right"></i></span></div><!-- /.slider-nav__link -->
        </div><!-- /.right -->
      </div><!-- /.slider-nav__box -->
    </div><!-- /.slider-nav -->

  </div><!-- /.testimonial -->
</div><!-- /.container -->
