<div class="container">
  <div class="lecturers outline">

    <div class="box-header">
      <h2>Преподаватели и гости CyberMarketing</h2>
      <p>Это практикующие профессионалы представляющие компании-лидеры в своей отрасли</p>
    </div><!-- /.box-header -->

    <div class="logo-list">

      <div class="logo-list__item">
        <div class="logo__box"><img src="/assets/images/logo-seopult.png" alt=""></div>
      </div><!-- /.logo-list__item -->

      <div class="logo-list__item">
        <div class="logo__box"><img src="/assets/images/logo-google.png" alt=""></div>
      </div><!-- /.logo-list__item -->

      <div class="logo-list__item">
        <div class="logo__box"><img src="/assets/images/logo-click.png" alt=""></div>
      </div><!-- /.logo-list__item -->

      <div class="logo-list__item">
        <div class="logo__box"><img src="/assets/images/logo-yandex.png" alt=""></div>
      </div><!-- /.logo-list__item -->

      <div class="logo-list__item">
        <div class="logo__box"><img src="/assets/images/logo-mail.png" alt=""></div>
      </div><!-- /.logo-list__item -->

    </div>

    <div class="lecturers-list lecturers-institute">

      <div class="lecturers__item">
        <div class="lecturers__box">
          <div class="lecturers__header">

            <div class="lecturer-card">
              <div class="lecturer-card__photo">
                <div class="lecturer-card__photo-box">
                  <span><img src="/assets/images/dmitry-klimchukov-120.png" alt="Дмитрий Климчуков" width="120" height="120"></span>
                </div><!-- /.lecturer-card__photo-box -->
              </div><!-- /.lecturer-card__photo -->
              <div class="lecturer-card__desc">
                <div class="lecturer-card__name">
                  <h3>Дмитрий Климчуков</h3>
                </div><!-- /.lecturer-card__name -->
                <div class="lecturer-card__position">Генеральный директор агентства Click.ru</div><!-- /.lecturer-card__position -->
              </div><!-- /.lecturer-card__desc -->
            </div><!-- /.lecturer-card -->

          </div><!-- /.lecturers__header -->
          <div class="lecturers__footer">
            <div class="lecturers-text">
              <div class="lecturer-card__info"><i class="ico ico-officer"></i><span><strong>16 лет</strong> практики</span></div><!-- /.lecturer-card__info -->
              <p>Образование МГУП, инженер.С 2011 года в составе команды агентства Click.ru. За время своей карьеры вел крупнейшие клиентские кампании.</p>
            </div><!-- /.lecturers-text -->
          </div><!-- /.lecturers__footer -->
        </div><!-- /.lecturers__box -->
      </div><!-- /.lecturers__item -->
      <div class="lecturers__item">
        <div class="lecturers__box">
          <div class="lecturers__header">

            <div class="lecturer-card">
              <div class="lecturer-card__photo">
                <div class="lecturer-card__photo-box">
                  <span><img src="/assets/images/dmitrij-shuchalin-120.png" alt="Дмитрий Шучалин" width="120" height="120"></span>
                </div><!-- /.lecturer-card__photo-box -->
              </div><!-- /.lecturer-card__photo -->
              <div class="lecturer-card__desc">
                <div class="lecturer-card__name">
                  <h3>Дмитрий Шучалин</h3>
                </div><!-- /.lecturer-card__name -->
                <div class="lecturer-card__position">Руководитель технической поддержки Trustlink</div><!-- /.lecturer-card__position -->
              </div><!-- /.lecturer-card__desc -->
            </div><!-- /.lecturer-card -->

          </div><!-- /.lecturers__header -->
          <div class="lecturers__footer">
            <div class="lecturers-text">
              <div class="lecturer-card__info"><i class="ico ico-stripe1"></i><span><strong>5 лет</strong> практики</span></div><!-- /.lecturer-card__info -->
              <p>За это время был ведущим специалистом по работе с клиентами холдинга Unmedia, ведущим специалистом SMM отдела. Более 50 реализованных проектов по созданию и продвижению сайтов.</p>
            </div><!-- /.lecturers-text -->
          </div><!-- /.lecturers__footer -->
        </div><!-- /.lecturers__box -->
      </div><!-- /.lecturers__item -->
      <div class="lecturers__item">
        <div class="lecturers__box">
          <div class="lecturers__header">

            <div class="lecturer-card">
              <div class="lecturer-card__photo">
                <div class="lecturer-card__photo-box">
                  <span><img src="/assets/images/ruslan-bajbekov-120.png" alt="Руслан Байбеков" width="120" height="120"></span>
                </div><!-- /.lecturer-card__photo-box -->
              </div><!-- /.lecturer-card__photo -->
              <div class="lecturer-card__desc">
                <div class="lecturer-card__name">
                  <h3>Руслан Байбеков</h3>
                </div><!-- /.lecturer-card__name -->
                <div class="lecturer-card__position">Pуководитель отдела аналитики SeoPult.ru</div><!-- /.lecturer-card__position -->
              </div><!-- /.lecturer-card__desc -->
            </div><!-- /.lecturer-card -->

          </div><!-- /.lecturers__header -->
          <div class="lecturers__footer">

            <div class="lecturers-text">
              <div class="lecturer-card__info"><i class="ico ico-stripe2"></i><span><strong>9 лет</strong> практики</span></div><!-- /.lecturer-card__info -->
              <p>Преподаватель обучающего центра Cybermarketing, спикер онлайн телеканала SeoPult.tv. Принимал участие во множестве крупнейших тематических конференциях в России и зарубежом.</p>
            </div><!-- /.lecturers-text -->

          </div><!-- /.lecturers__footer -->
        </div><!-- /.lecturers__box -->
      </div><!-- /.lecturers__item -->

    </div><!-- /.lecturers-list -->

    <div class="slider-nav">
      <div class="slider-nav__box">
        <div class="slider-nav__left left">
          <div class="slider-nav__link"><span><i class="ico ico-nav-left"></i></span></div><!-- /.slider-nav__link -->
        </div><!-- /.left -->

        <div class="slider-nav__dots dots">
          <div class="dot-list">
            <div class="dot"><span>1</span></div>
            <div class="dot dot-active"><span>2</span></div>
            <div class="dot"><span>3</span></div>
            <div class="dot"><span>4</span></div>
            <div class="dot"><span>5</span></div>
          </div><!-- /.dot-list -->
        </div><!-- /.dots -->

        <div class="slider-nav__right right">
          <div class="slider-nav__link"><span><i class="ico ico-nav-right"></i></span></div><!-- /.slider-nav__link -->
        </div><!-- /.right -->
      </div><!-- /.slider-nav__box -->
    </div><!-- /.slider-nav -->

  </div><!-- /.lecturers -->
</div><!-- /.container -->

