<div class="container">
  <div class="lecturers outline">

    <div class="box-header">
      <h2>Преподаватели и гости CyberMarketing</h2>
      <p>Это практикующие профессионалы представляющие компании-лидеры в своей отрасли</p>
    </div><!-- /.box-header -->

    <div class="logo-list">

      <div class="logo-list__item">
        <div class="logo__box"><img src="../assets/images/logo-seopult.png" alt=""></div>
      </div><!-- /.logo-list__item -->

      <div class="logo-list__item">
        <div class="logo__box"><img src="../assets/images/logo-google.png" alt=""></div>
      </div><!-- /.logo-list__item -->

      <div class="logo-list__item">
        <div class="logo__box"><img src="../assets/images/logo-click.png" alt=""></div>
      </div><!-- /.logo-list__item -->

      <div class="logo-list__item">
        <div class="logo__box"><img src="../assets/images/logo-yandex.png" alt=""></div>
      </div><!-- /.logo-list__item -->

      <div class="logo-list__item">
        <div class="logo__box"><img src="../assets/images/logo-mail.png" alt=""></div>
      </div><!-- /.logo-list__item -->

    </div>

    <div class="lecturers-list">

      <div class="lecturers__item">
        <div class="lecturers__box">
          <div class="lecturers__header">

          </div><!-- /.lecturers__header -->
          <div class="lecturers__footer"></div><!-- /.lecturers__footer -->
        </div><!-- /.lecturers__box -->
      </div><!-- /.lecturers__item -->

      <div class="lecturers__item">
        <div class="lecturers__box">
          <div class="lecturers__header">

          </div><!-- /.lecturers__header -->
          <div class="lecturers__footer"></div><!-- /.lecturers__footer -->
        </div><!-- /.lecturers__box -->
      </div><!-- /.lecturers__item -->

      <div class="lecturers__item">
        <div class="lecturers__box">
          <div class="lecturers__header">

          </div><!-- /.lecturers__header -->
          <div class="lecturers__footer"></div><!-- /.lecturers__footer -->
        </div><!-- /.lecturers__box -->
      </div><!-- /.lecturers__item -->

    </div><!-- /.lecturers-list -->

    <div class="slider-nav">
      <div class="slider-nav__box">
        <div class="slider-nav__left left">
          <div class="slider-nav__link"><span><i class="ico ico-nav-left"></i></span></div><!-- /.slider-nav__link -->
        </div><!-- /.left -->

        <div class="slider-nav__dots dots">
          <div class="dot-list">
            <div class="dot"><span>1</span></div>
            <div class="dot dot-active"><span>2</span></div>
            <div class="dot"><span>3</span></div>
            <div class="dot"><span>4</span></div>
            <div class="dot"><span>5</span></div>
          </div><!-- /.dot-list -->
        </div><!-- /.dots -->

        <div class="slider-nav__right right">
          <div class="slider-nav__link"><span><i class="ico ico-nav-right"></i></span></div><!-- /.slider-nav__link -->
        </div><!-- /.right -->
      </div><!-- /.slider-nav__box -->
    </div><!-- /.slider-nav -->

  </div><!-- /.lecturers -->
</div><!-- /.container -->

