<div class="container">
  <div class="numbers-wrap outline">
    <div class="numbers-list">

      <div class="numbers__item">
        <div class="numbers__box">
          <div class="numbers__icon">
            <div class="numbers__icon-box">
              <span><i class="ico ico-academic-cap green"></i></span>
            </div><!-- /.numbers__icon-box -->
          </div><!-- /.numbers__icon -->
          <div class="numbers__desc">
            <div class="numbers__quantity">5 638</div><!-- /.about.scss -->
            <div class="numbers__info"><span>Студентов</span></div><!-- /.numbers__info -->
          </div><!-- /.numbers__desc -->
        </div><!-- /.numbers__box -->
      </div><!-- /.numbers__item -->

      <div class="numbers__item">
        <div class="numbers__box">
          <div class="numbers__icon">
            <div class="numbers__icon-box">
              <span><i class="ico ico-webcam green"></i></span>
            </div><!-- /.numbers__icon-box -->
          </div><!-- /.numbers__icon -->
          <div class="numbers__desc">
            <div class="numbers__quantity">17 395</div><!-- /.about.scss -->
            <div class="numbers__info"><span>Выпускников</span></div><!-- /.numbers__info -->
          </div><!-- /.numbers__desc -->
        </div><!-- /.numbers__box -->
      </div><!-- /.numbers__item -->

      <div class="numbers__item">
        <div class="numbers__box">
          <div class="numbers__icon">
            <div class="numbers__icon-box">
              <span><i class="ico ico-star green"></i></span>
            </div><!-- /.numbers__icon-box -->
          </div><!-- /.numbers__icon -->
          <div class="numbers__desc">
            <div class="numbers__quantity">4.8</div><!-- /.about.scss -->
            <div class="numbers__info"><span>Средний бал</span></div><!-- /.numbers__info -->
          </div><!-- /.numbers__desc -->
        </div><!-- /.numbers__box -->
      </div><!-- /.numbers__item -->

      <div class="numbers__item">
        <div class="numbers__box">
          <div class="numbers__icon">
            <div class="numbers__icon-box">
              <span><i class="ico ico-user green"></i></span>
            </div><!-- /.numbers__icon-box -->
          </div><!-- /.numbers__icon -->
          <div class="numbers__desc">
            <div class="numbers__quantity">45</div><!-- /.about.scss -->
            <div class="numbers__info"><span>Преподавателей</span></div><!-- /.numbers__info -->
          </div><!-- /.numbers__desc -->
        </div><!-- /.numbers__box -->
      </div><!-- /.numbers__item -->

    </div><!-- /.numbers-list -->
  </div><!-- /.numbers-wrap outline -->
</div><!-- /.container -->
