<div class="container">
  <div class="timetable ">

    <div class="timetable__item">
      <div class="timetable__box">
123123
      </div><!-- /.timetable__box -->
    </div><!-- /.timetable__item -->

    <div class="timetable__item">
      <div class="timetable__box">
        123123
      </div><!-- /.timetable__box -->
    </div><!-- /.timetable__item -->

    <div class="timetable__item">
      <div class="timetable__box">
        123123
      </div><!-- /.timetable__box -->
    </div><!-- /.timetable__item -->

    <div class="timetable__item">
      <div class="timetable__box">
        123123
      </div><!-- /.timetable__box -->
    </div><!-- /.timetable__item -->

    <div class="timetable__item">
      <div class="timetable__box">
        123123
      </div><!-- /.timetable__box -->
    </div><!-- /.timetable__item -->


  </div><!-- /.timetable -->
</div><!-- /.container -->
