<div class="container">
  <div class="timetable">

    <div class="timetable__item">
      <div class="timetable__box">

        <div class="timetable__type">
          <div class="info level"><i class="ico ico-microphone"></i><span>семинар</span></div>
        </div><!-- /.timetable__type -->

        <div class="timetable__calendar">
          <div class="calendar__day">
            <div class="calendar__info"><span>17 мая</span></div><!-- /.calendar__info -->
            <div class="calendar__text"><span>среда</span></div><!-- /.calendar__text -->
          </div><!-- /.calendar__day -->

          <div class="calendar__time">
            <div class="calendar__info"><span>11:00 - 13:00</span></div><!-- /.calendar__info -->
            <div class="calendar__text"><span>бесплатно</span></div><!-- /.calendar__text -->
          </div><!-- /.calendar__time -->
        </div><!-- /.timetable__calendar -->

        <div class="timetable__name">
          <h3>Базовый курс по созданию сайтов</h3>
        </div><!-- /.timetable__name -->

        <div class="timetable__footer">

          <div class="timetable__lecturer">
            <div class="course-speaker">
              <div class="course-speaker__photka"><span><img src="/assets/images/dmitry-klimchukov.png" alt="Дмитрий Шучалин" width="40" height="40"></span></div><!-- /.course-speaker__photka -->
              <div class="course-speaker__who">
                <div class="course-speaker__name">Дмитрий Шучалин</div><!-- /.course-speaker__name -->
                <div class="course-speaker__position"></div><!-- /.course-speaker__position -->
              </div><!-- /.course-speaker__who -->
            </div><!-- /.course-speaker -->
          </div><!-- /.timetable__lecturer -->

          <div class="timetable__info">
            <div class="info level"><i class="ico ico-edu-sign"></i><span>новичку</span></div>
            <div class="rating-box"><i class="ico ico-like"></i><span>4.8</span></div>
          </div><!-- /.timetable__info -->

        </div><!-- /.timetable__footer -->

      </div><!-- /.timetable__box -->
    </div><!-- /.timetable__item -->

    <div class="timetable__item">
      <div class="timetable__box">

        <div class="timetable__type">
          <div class="info level"><i class="ico ico-webcam"></i><span>вебинар</span></div>
        </div><!-- /.timetable__type -->

        <div class="timetable__calendar">
          <div class="calendar__day">
            <div class="calendar__info"><span>18 мая</span></div><!-- /.calendar__info -->
            <div class="calendar__text"><span>четверг</span></div><!-- /.calendar__text -->
          </div><!-- /.calendar__day -->

          <div class="calendar__time">
            <div class="calendar__info"><span>11:00 - 13:00</span></div><!-- /.calendar__info -->
            <div class="calendar__text"><span>бесплатно</span></div><!-- /.calendar__text -->
          </div><!-- /.calendar__time -->
        </div><!-- /.timetable__calendar -->

        <div class="timetable__name">
          <h3>Сайт без мобильной версии не сайт!</h3>
        </div><!-- /.timetable__name -->

        <div class="timetable__footer">

          <div class="timetable__lecturer">
            <div class="course-speaker">
              <div class="course-speaker__photka"><span><img src="/assets/images/dmitry-klimchukov.png" alt="Руслан Байбеков" width="40" height="40"></span></div><!-- /.course-speaker__photka -->
              <div class="course-speaker__who">
                <div class="course-speaker__name">Руслан Байбеков</div><!-- /.course-speaker__name -->
                <div class="course-speaker__position"></div><!-- /.course-speaker__position -->
              </div><!-- /.course-speaker__who -->
            </div><!-- /.course-speaker -->
          </div><!-- /.timetable__lecturer -->

          <div class="timetable__info">
            <div class="info level"><i class="ico ico-edu-sign"></i><span>новичку</span></div>
          </div><!-- /.timetable__info -->

        </div><!-- /.timetable__footer -->

      </div><!-- /.timetable__box -->
    </div><!-- /.timetable__item -->

    <div class="timetable__item">
      <div class="ribbon">
        <div class="ribbon__text"><span>новинка</span></div>
      </div>
      <div class="timetable__box">

        <div class="timetable__type">
          <div class="info level"><i class="ico ico-microphone"></i><span>интенсивный курс, 8 занятий</span></div>
        </div><!-- /.timetable__type -->

        <div class="timetable__calendar">
          <div class="calendar__day">
            <div class="calendar__info"><span>с 19 мая</span></div><!-- /.calendar__info -->
            <div class="calendar__text"><span>вторник, четверг</span></div><!-- /.calendar__text -->
          </div><!-- /.calendar__day -->

          <div class="calendar__time">
            <div class="calendar__info"><span>11:00 - 13:00</span></div><!-- /.calendar__info -->
            <div class="calendar__text"><span>25 000 <svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid' width='14' height='12' viewBox='0 0 14 18' fill='#adb1b9'><path d='M8 12H4v2h6v2H4v2H2v-2H0v-2h2v-2H0v-2h2V0h6a6 6 0 1 1 0 12zM8 2H4v8h4a4 4 0 0 0 0-8z' class='rub'/></svg></span></div><!-- /.calendar__text -->
          </div><!-- /.calendar__time -->
        </div><!-- /.timetable__calendar -->

        <div class="timetable__name">
          <h3>Контекстная реклама: локомотив для бизнеса</h3>
        </div><!-- /.timetable__name -->

        <div class="timetable__footer">

          <div class="timetable__lecturer">
            <div class="course-speaker">
              <div class="course-speaker__photka"><span><img src="/assets/images/dmitry-klimchukov.png" alt="Николай Смирнов" width="40" height="40"></span></div><!-- /.course-speaker__photka -->
              <div class="course-speaker__who">
                <div class="course-speaker__name">Дмитрий Климчуков</div><!-- /.course-speaker__name -->
                <div class="course-speaker__position"></div><!-- /.course-speaker__position -->
              </div><!-- /.course-speaker__who -->
            </div><!-- /.course-speaker -->
          </div><!-- /.timetable__lecturer -->

          <div class="timetable__info">
            <div class="info level"><i class="ico ico-edu-sign"></i><span>новичку</span></div>
          </div><!-- /.timetable__info -->

        </div><!-- /.timetable__footer -->

      </div><!-- /.timetable__box -->
    </div><!-- /.timetable__item -->

    <div class="timetable__item">
      <div class="timetable__box">

        <div class="timetable__type">
          <div class="info level"><i class="ico ico-microphone"></i><span>семинар</span></div>
        </div><!-- /.timetable__type -->

        <div class="timetable__calendar">
          <div class="calendar__day">
            <div class="calendar__info"><span>20 мая</span></div><!-- /.calendar__info -->
            <div class="calendar__text"><span>суббота</span></div><!-- /.calendar__text -->
          </div><!-- /.calendar__day -->

          <div class="calendar__time">
            <div class="calendar__info"><span>11:00 - 13:00</span></div><!-- /.calendar__info -->
            <div class="calendar__text"><span>1 500 <svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid' width='14' height='12' viewBox='0 0 14 18' fill='#adb1b9'><path d='M8 12H4v2h6v2H4v2H2v-2H0v-2h2v-2H0v-2h2V0h6a6 6 0 1 1 0 12zM8 2H4v8h4a4 4 0 0 0 0-8z' class='rub'/></svg></span></div><!-- /.calendar__text -->
          </div><!-- /.calendar__time -->
        </div><!-- /.timetable__calendar -->

        <div class="timetable__name">
          <h3>Контекстная реклама: локомотив для бизнеса</h3>
        </div><!-- /.timetable__name -->

        <div class="timetable__footer">

          <div class="timetable__lecturer">
            <div class="course-speaker">
              <div class="course-speaker__photka"><span><img src="/assets/images/dmitry-klimchukov.png" alt="Николай Смирнов" width="40" height="40"></span></div><!-- /.course-speaker__photka -->
              <div class="course-speaker__who">
                <div class="course-speaker__name">Дмитрий Климчуков</div><!-- /.course-speaker__name -->
                <div class="course-speaker__position"></div><!-- /.course-speaker__position -->
              </div><!-- /.course-speaker__who -->
            </div><!-- /.course-speaker -->
          </div><!-- /.timetable__lecturer -->

          <div class="timetable__info">
            <div class="info level"><i class="ico ico-edu-sign"></i><span>новичку</span></div>
          </div><!-- /.timetable__info -->

        </div><!-- /.timetable__footer -->

      </div><!-- /.timetable__box -->
    </div><!-- /.timetable__item -->

  </div><!-- /.timetable -->
</div><!-- /.container -->
