<div class="container">
  <div class="main-menu outline">
    <ul class="menu">
      <li class="menu__item @@link1"><a href="course.html" class="menu__link">Институт</a></li>
      <li class="menu__item @@link2"><a href="" class="menu__link">Интенсивные курсы</a></li>
      <li class="menu__item @@link3"><a href="" class="menu__link">Конференции</a></li>
      <li class="menu__item @@link4"><a href="seminar.html" class="menu__link">Семинары</a></li>
      <li class="menu__item @@link5"><a href="" class="menu__link">Вебинары</a></li>
      <li class="menu__item @@link6"><a href="" class="menu__link">Видео</a></li>
      <li class="menu__item @@link7"><a href="" class="menu__link">Учебные материалы</a></li>
      <li class="menu__item @@link8"><a href="" class="menu__link">Контакты</a></li>
    </ul>
  </div><!-- /.menu -->
</div><!-- /.container -->
