<div class="container">
  <div class="skills outline">

    <div class="box-header">
      <h2>Что умеют наши выпускники</h2>
      <p>К нам приходят люди, которые видят будущее за технологиями и не бояться новых открытий. <br> Учебная программа охватывает все грани интернет-маркетинга, что бы студенты могли выбрать подходяшую им специализацию</p>
    </div><!-- /.box-header -->

    <div class="check-lists">

      <div class="check-lists__item">
        <div class="check-lists__box">

          <div class="check-list">

            <div class="check-list__item">
              <div class="check-list__box">

                <div class="check-list__icon">
                  <div class="check-list__icon-box"><span><i class="ico ico-check-small green"></i></span></div><!-- /.check-list__icon-box -->
                </div><!-- /.check-list__icon -->

                <div class="check-list__desc"><span>Как с помощью маркетинга увеличить продажи</span></div><!-- /.check-list__desc -->

              </div><!-- /.check-list__box -->
            </div><!-- /.check-list__item -->

            <div class="check-list__item">
              <div class="check-list__box">

                <div class="check-list__icon">
                  <div class="check-list__icon-box"><span><i class="ico ico-check-small green"></i></span></div><!-- /.check-list__icon-box -->
                </div><!-- /.check-list__icon -->

                <div class="check-list__desc"><span>Как создавать и анализировать маркетинговые стратегии</span></div><!-- /.check-list__desc -->

              </div><!-- /.check-list__box -->
            </div><!-- /.check-list__item -->

            <div class="check-list__item">
              <div class="check-list__box">

                <div class="check-list__icon">
                  <div class="check-list__icon-box"><span><i class="ico ico-check-small green"></i></span></div><!-- /.check-list__icon-box -->
                </div><!-- /.check-list__icon -->

                <div class="check-list__desc"><span>Как интернет-технологии применяются в бизнесе</span></div><!-- /.check-list__desc -->

              </div><!-- /.check-list__box -->
            </div><!-- /.check-list__item -->

          </div><!-- /.check-list -->

        </div><!-- /.check-lists__box -->
      </div><!-- /.check-lists__item -->

      <div class="check-lists__item">
        <div class="check-lists__box">

          <div class="check-list">

            <div class="check-list__item">
              <div class="check-list__box">

                <div class="check-list__icon">
                  <div class="check-list__icon-box"><span><i class="ico ico-check-small green"></i></span></div><!-- /.check-list__icon-box -->
                </div><!-- /.check-list__icon -->

                <div class="check-list__desc"><span>Как привлекать аудиторию на сайт</span></div><!-- /.check-list__desc -->

              </div><!-- /.check-list__box -->
            </div><!-- /.check-list__item -->

            <div class="check-list__item">
              <div class="check-list__box">

                <div class="check-list__icon">
                  <div class="check-list__icon-box"><span><i class="ico ico-check-small green"></i></span></div><!-- /.check-list__icon-box -->
                </div><!-- /.check-list__icon -->

                <div class="check-list__desc"><span>Как превращать аудиторию сайта в клиентов</span></div><!-- /.check-list__desc -->

              </div><!-- /.check-list__box -->
            </div><!-- /.check-list__item -->

            <div class="check-list__item">
              <div class="check-list__box">

                <div class="check-list__icon">
                  <div class="check-list__icon-box"><span><i class="ico ico-check-small green"></i></span></div><!-- /.check-list__icon-box -->
                </div><!-- /.check-list__icon -->

                <div class="check-list__desc"><span>Как работать с клиентами используя интернет-технологии</span></div><!-- /.check-list__desc -->

              </div><!-- /.check-list__box -->
            </div><!-- /.check-list__item -->

          </div><!-- /.check-list -->

        </div><!-- /.check-lists__box -->
      </div><!-- /.check-lists__item -->

    </div><!-- /.check-lists__wrap -->

    <div class="skills__actions">
      <a href="" class="btn btn-outline">Учебный план</a>
    </div><!-- /.skills__actions -->

  </div><!-- /.skills -->
</div><!-- /.container -->
