<div class="footer-wrap">

  <div class="footer">

    <div class="address">

      <div class="address__item">
        <a href="#">
          <div class="address-box">
            <div class="address__icon">
              <span class="address__icon-box"><i class="ico ico-geotag" aria-hidden=”true”></i></span>
            </div><!-- /.address__icon -->
            <div class="address__desc">
              <div class="address__desc--text">г. Москва, ул. Марксистская, д. 34к7</div>
              <div class="address__desc--info">вход в Институт МИРБИС</div>
              <div class="address__desc--info"><span class="metro-line lyublinskaya"></span>Крестьянская Застава</div>
              <div class="address__desc--info"><span class="metro-line kalininskaya"></span>Марксистская</div>
              <div class="address__desc--info"><span class="metro-line tagansko-krasnopresnenskaya"></span>Пролетарская</div>
            </div><!-- /.address__desc -->
          </div><!-- /.address-box -->
        </a>
      </div><!-- /.address__item -->

      <div class="address__item">
        <a href="tel:+74956628758">
          <div class="address-box">
            <div class="address__icon">
              <span class="address__icon-box"><i class="ico ico-phone" aria-hidden=”true”></i></span>
            </div><!-- /.address__icon -->
            <div class="address__desc"><span>+7 (495) 662-87-58</span></div><!-- /.address__desc -->
          </div><!-- /.address-box -->
        </a>
      </div><!-- /.address__item -->

      <div class="address__item">
        <a href="mailto:info@cybermarketing.ru">
          <div class="address-box">
            <div class="address__icon">
              <span class="address__icon-box"><i class="ico ico-mail" aria-hidden=”true”></i></span>
            </div><!-- /.address__icon -->
            <div class="address__desc"><span>info@cybermarketing.ru</span></div><!-- /.address__desc -->
          </div><!-- /.address-box -->
        </a>
      </div><!-- /.address__item -->

    </div><!-- /.address -->

    <div class="social-box">
      <ul class="social">
        <li class="social__item"><a href="" class="social__link social__link--vk" target="_blank" title="Откроется в новом окне"><span>VK</span></a></li>
        <li class="social__item"><a href="" class="social__link social__link--facebook" target="_blank" title="Откроется в новом окне"><span>FaceBook</span></a></li>
        <li class="social__item"><a href="" class="social__link social__link--youtube" target="_blank" title="Откроется в новом окне"><span>YouTube</span></a></li>
        <li class="social__item"><a href="" class="social__link social__link--twitter" target="_blank" title="Откроется в новом окне"><span>Twitter</span></a></li>
        <li class="social__item"><a href="" class="social__link social__link--instagram" target="_blank" title="Откроется в новом окне"><span>Instagram</span></a></li>
      </ul>
    </div><!-- /.social-box -->

    <div class="apps-list">
      <a href="" class="apps-list_link appstore" target="_blank"><img src="../assets/images/appstore.png" alt=""></a>
      <a href="" class="apps-list_link google-play" target="_blank"><img src="../assets/images/google-play.png" alt=""></a>
      </div>
    </div>

  </div>

  <div class="footer-copy">

    <div class="company-links"></div>

    <div class="company-links__copy">
      <span class="copy__item copy__text">© 2012 CyberMarketing</span>
      <a href="" class="copy__item">Информационное соглашение</a>
      <a href="" class="copy__item">Пользовательское соглашение</a>
    </div>
  </div>
</div>
