<div class="footer-wrap">

  <div class="footer">

    <div class="footer-info">

      <div class="footer-info__item">
        <a href="#">
          <div class="footer-info-box">
            <div class="footer-info__icon">
              <span class="footer-info__icon-box"><i class="ico ico-geotag" aria-hidden=”true”></i></span>
            </div><!-- /.footer-info__icon -->
            <div class="footer-info__desc">
              <div class="footer-info__desc--text">г. Москва, ул. Марксистская, д. 34к7</div>
              <div class="footer-info__desc--info">вход в Институт МИРБИС</div>
              <div class="footer-info__desc--info"><span class="metro-line lyublinskaya"></span>Крестьянская Застава</div>
              <div class="footer-info__desc--info"><span class="metro-line kalininskaya"></span>Марксистская</div>
              <div class="footer-info__desc--info"><span class="metro-line tagansko-krasnopresnenskaya"></span>Пролетарская</div>
            </div><!-- /.footer-info__desc -->
          </div><!-- /.footer-info-box -->
        </a>
      </div><!-- /.footer-info__item -->

      <div class="footer-info__item">
        <a href="tel:+74956628758">
          <div class="footer-info-box">
            <div class="footer-info__icon">
              <span class="footer-info__icon-box"><i class="ico ico-phone" aria-hidden=”true”></i></span>
            </div><!-- /.footer-info__icon -->
            <div class="footer-info__desc"><span>+7 (495) 662-87-58</span></div><!-- /.footer-info__desc -->
          </div><!-- /.footer-info-box -->
        </a>
      </div><!-- /.footer-info__item -->

      <div class="footer-info__item">
        <a href="mailto:info@cybermarketing.ru">
          <div class="footer-info-box">
            <div class="footer-info__icon">
              <span class="footer-info__icon-box"><i class="ico ico-mail" aria-hidden=”true”></i></span>
            </div><!-- /.footer-info__icon -->
            <div class="footer-info__desc"><span>info@cybermarketing.ru</span></div><!-- /.footer-info__desc -->
          </div><!-- /.footer-info-box -->
        </a>
      </div><!-- /.footer-info__item -->

    </div><!-- /.footer-info -->

    <div class="social-box">
      <ul class="social">
        <li class="social__item"><a href="" class="social__link social__link--vk" target="_blank" title="Откроется в новом окне"><span>VK</span></a></li>
        <li class="social__item"><a href="" class="social__link social__link--facebook" target="_blank" title="Откроется в новом окне"><span>FaceBook</span></a></li>
        <li class="social__item"><a href="" class="social__link social__link--youtube" target="_blank" title="Откроется в новом окне"><span>YouTube</span></a></li>
        <li class="social__item"><a href="" class="social__link social__link--twitter" target="_blank" title="Откроется в новом окне"><span>Twitter</span></a></li>
        <li class="social__item"><a href="" class="social__link social__link--instagram" target="_blank" title="Откроется в новом окне"><span>Instagram</span></a></li>
      </ul>
    </div><!-- /.social-box -->

    <div class="apps-list">
      <a href="" class="apps-list_link appstore" target="_blank"><img src="../assets/images/appstore.png" alt=""></a>
      <a href="" class="apps-list_link google-play" target="_blank"><img src="../assets/images/google-play.png" alt=""></a>
    </div><!-- /.apps-list -->

    <div class="footer-info">

      <div class="footer-info__item">
        <a href="">
          <div class="footer-info-box">
            <div class="footer-info__icon">
              <span class="footer-info__icon-box"><i class="ico ico-computer" aria-hidden=”true”></i></span>
            </div><!-- /.footer-info__icon -->
            <div class="footer-info__desc"><span>Полная версия сайта</span></div><!-- /.footer-info__desc -->
          </div><!-- /.footer-info-box -->
        </a>
      </div><!-- /.footer-info__item -->

    </div><!-- /.footer-info -->

  </div><!-- /.footer -->

  <div class="company-links">

    <div class="company-links_item company-links_gray"><span class="copy__item copy__text">© 2012 CyberMarketing</span></div>
    <div class="company-links_item"><a href="" class="copy__item">Информационное соглашение</a></div>
    <div class="company-links_item"><a href="" class="copy__item">Пользовательское соглашение</a></div>
  </div><!-- /.company-links -->

</div><!-- /.footer-wrap -->
