// Слой для сравнения дизайна и вёрстки
.px2px {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9999;
  display: block;
  width: width('_debug/px2px.png');
  height: height('_debug/px2px.png');
  margin: 0 0 0 width('_debug/px2px.png', -2);
  pointer-events: none;
  transition: all .3s;
  opacity: .4;
  background-image: resolve('_debug/px2px.png');
  background-attachment: scroll;
  filter: invert(100%);
}

.px2px-controls {
  display: block;
  position: absolute;
  width: 200px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #d6d9dc;
  border-radius: 2px 2px 0 0;
  left: 300px;
  top: 160px;
  z-index: 10000;

  &_inner {
    display: flex;
    align-items: center;
    align-content: center;
    height: 40px;
  }

  #marginleft {
    width: 55px;
  }
}
