<div class="test-page">
  <div class="test-page__header">
    <div class="logo">
      <!--<a href="index.html" title="Вернуться на главную страницу CyberMarketing">-->
        <span class="logo-box"><i class="ico ico-logo"></i></span>
      <!--</a>-->
    </div><!-- /.logo -->
  </div><!-- /.test-page__header -->
  <div class="test-page__body">
    <div class="test-content">

    @@if (test === true) {

      <div class="test-header">
        <div class="test-progress"><span>Вопрос 5 из 12</span></div><!-- /.test-progress -->
        <div class="test-time">
          <div class="time">
            <div class="time-watch"><span>12:32</span></div><!-- /.time-watch -->
            <div class="time-icon">
              <div class="circle"></div><!-- /.circle -->
            </div><!-- /.time-icon -->
          </div><!-- /.time -->
        </div><!-- /.test-time -->
      </div><!-- /.text-header -->

      <form action="" class="form form-test">
        <p>Сфера деятельности фирмы, включающая принятие решений о товарной номенклатуре, товарном ассортименте, использовании марочного названия, сервисном обслуживании, разработке нового товара и др., называется:</p>
        <div class="form-check">
          <input type="checkbox" name="group2" id="answer1">
          <label for="answer1">
            <span class="form-check-control">формированием ассортимента</span>
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" name="group2" id="answer2">
          <label for="answer2">
            <span class="form-check-control">товарной политикой</span>
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" name="group2" id="answer3">
          <label for="answer3">
            <span class="form-check-control">товарно-ценовой политикой</span>
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" name="group2" id="answer4">
          <label for="answer4">
            <span class="form-check-control">товарной стратегией</span>
          </label>
        </div>
      </form>

      <div class="test-actions">
        <div class="form-actions">
          <button class="btn btn-green" id="submit" disabled>Отправить</button>
        </div><!-- /.form-actions -->
      </div><!-- /.test-actions -->
    }

    @@if (alert == true) {
      <div class="test-header">
        <div class="test-progress"><span>Вопрос 5 из 12</span></div><!-- /.test-progress -->
        <div class="test-time">
          <div class="time">
            <div class="time-watch"><span>12:32</span></div><!-- /.time-watch -->
            <div class="time-icon">
              <div class="circle"></div><!-- /.circle -->
            </div><!-- /.time-icon -->
          </div><!-- /.time -->
        </div><!-- /.test-time -->
      </div><!-- /.text-header -->

      <div class="test-content__center">
        <div class="test-content__center-box">
          <div class="test-icon"><i class="ico ico-stop"></i></div>
          <h2 class="h2">Вопрос не будет засчитан</h2>
          <p>Вы покинули страницу, а это мы расцениваем как списывание</p>
        </div><!-- /.test-content__center-box -->
      </div><!-- /.test-content__center -->

      <div class="test-actions">
        <div class="form-actions">
          <button class="btn btn-green" id="submit">Далее</button>
        </div><!-- /.form-actions -->
      </div><!-- /.test-actions -->
    }

    @@if (fail == true) {
      <div class="test-content__center">
        <div class="test-content__center-box">
          <div class="test-icon">
            <i class="ico ico-star-big red"></i>
            <div class="test-rating red"><span>1.8</span></div>
          </div>
          <h2 class="h2">Вы не сдали!</h2>
          <p class="text">Очень плохо! Смотрите урок внимательнее и у вас всё получится.</p>
          <a href="#" class="reload-link"><span>Посмотреть урок ещё раз</span></a>
        </div><!-- /.test-content__center-box -->
      </div><!-- /.test-content__center -->
    }

    @@if (result == true) {
      <div class="test-content__center">
        <div class="test-content__center-box">
          <div class="test-icon">
            <i class="ico ico-star-big"></i>
            <div class="test-rating"><span>4.5</span></div>
          </div>
          <h2 class="h2">Хорошо!</h2>
          <p class="text">Ты красавчик и можешь учиться ещё лучше, продолжай в том же духе.</p>
          <a href="" class="btn btn-green">Следующий урок</a>
        </div><!-- /.test-content__center-box -->
      </div><!-- /.test-content__center -->
    }

    </div><!-- /.test-content -->
  </div><!-- /.test-page__body -->
  @@if (notify === true) {
    <div class="test-page__notify">

      <div class="attention">
        <div class="attention__box">
          <div class="attention__icon"><div class="attention__icon-box"><i class="ico ico-attention"></i></div></div><!-- /.attention__icon-box -->
          <div class="attention__desc">Внимание! Не покидайте данную страницу и не открывайте другие программы, вопрос на котором вы находитесь будет засчитан как неотвеченный</div><!-- /.attention__desc -->
        </div><!-- /.attention__box -->
      </div><!-- /.attention -->

    </div><!-- /.test-page__notify -->
  }
</div><!-- /.test-page -->
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="/assets/desktop/scripts/scripts.js"></script>
