<div class="container">
  <div class="qa outline">

    <div class="box-header">
      <h2>Вопрос-ответ</h2>
      <p>Это практикующие профессионалы представляющие компании-лидеры в своей отрасли</p>
    </div><!-- /.box-header -->

    <div class="qa-list">
      <div class="qa__item">
        <div class="qa__box">
          <div class="qa-title">
            <h3>Контент-маркетинг для бизнеса: как привлечь целевой трафик?</h3>
          </div><!-- /.qa-title -->
          <div class="qa-text">
            <p>Компания CyberMarketing успешно развивается и предлагает самые современные методы продвижения. Благодаря многолетнему опыту работы на рынке и квалифицированным сотрудникам... на рынке и квалифицированным сотрудникам...</p>
          </div><!-- /.qa-text -->
          <div class="qa-more">
            <a href="#" class="more-link more-link--right _more-comment"><span>Показать полностью</span></a>
          </div><!-- /.qa-more -->
        </div><!-- /.qa__box -->
      </div><!-- /.qa__item -->

      <div class="qa__item">
        <div class="qa__box">
          <div class="qa-title">
            <h3>Интернет-маркетинг: базовый курс</h3>
          </div><!-- /.qa-title -->
          <div class="qa-text">
            <p>Огромное спасибо компании CyberMarketing за столь интересные конференции и за то, что начала развивать образовательное направление в такой области, как интернет-реклама. На...</p>
          </div><!-- /.qa-text -->
          <div class="qa-more">
            <a href="#" class="more-link more-link--right _more-comment"><span>Показать полностью</span></a>
          </div><!-- /.qa-more -->
        </div><!-- /.qa__box -->
      </div><!-- /.qa__item -->

      <div class="qa__item">
        <div class="qa__box">
          <div class="qa-title">
            <h3>Реклама в социальных сетях для вашего бизнеса</h3>
          </div><!-- /.qa-title -->
          <div class="qa-text">
            <p>С некоторым недоверием отнесся к идее посетить бесплатные курсы CyberMarketing. В наше время делиться ценной информацией даром обычно не принято. С некоторым недоверием отнесся к идее посетить бесплатные курсы CyberMarketing.</p>
          </div><!-- /.qa-text -->
          <div class="qa-more">
            <a href="#" class="more-link more-link--right _more-comment"><span>Показать полностью</span></a>
          </div><!-- /.qa-more -->
        </div><!-- /.qa__box -->
      </div><!-- /.qa__item -->
    </div><!-- /.qa-list -->

    <div class="slider-nav">
      <div class="slider-nav__box">
        <div class="slider-nav__left left">
          <div class="slider-nav__link"><span><i class="ico ico-nav-left"></i></span></div><!-- /.slider-nav__link -->
        </div><!-- /.left -->

        <div class="slider-nav__dots dots">
          <div class="dot-list">
            <div class="dot"><span>1</span></div>
            <div class="dot dot-active"><span>2</span></div>
            <div class="dot"><span>3</span></div>
            <div class="dot"><span>4</span></div>
            <div class="dot"><span>5</span></div>
          </div><!-- /.dot-list -->
        </div><!-- /.dots -->

        <div class="slider-nav__right right">
          <div class="slider-nav__link"><span><i class="ico ico-nav-right"></i></span></div><!-- /.slider-nav__link -->
        </div><!-- /.right -->
      </div><!-- /.slider-nav__box -->
    </div><!-- /.slider-nav -->

  </div><!-- /.qa -->
</div><!-- /.container -->
