<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Online-институт",
    "description": "Online-институт",
    "dir": true, "root": false
  })
  <body>
    <main>
      @@include('blocks/header/header.html', { "nologin": true, "login": false })
      @@include('blocks/menu/menu.html', {
      "link1": "menu__item--active"
      })
      @@include('blocks/lead/lead-institute.html')
      @@include('blocks/about/about-institute.html')
      @@include('blocks/numbers/numbers.html')
      выпускники способы на

      документы
      стоимость
      @@include('blocks/lead/half-lead-institute.html')
      преподы
      отзывы
      @@include('blocks/lead/lead-share.html')
      q&a
      @@include('blocks/lead/lead-teaser.html')
    </main>
    @@include('blocks/footer/footer.html', { "dir": true, "root": false })
  </body>
</html>
