<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Вы закончили урок",
    "description": "Вы закончили урок"
  })
  <body>
    <main>
      @@include('blocks/header/header.html', { "nologin": false, "login": true })
      @@include('blocks/menu/menu.html', {
        "link1": "menu__item--active"
      })
      @@include('blocks/headline/headline-lesson.html', { "endvideo": true })
      @@include('blocks/content/lesson.html', { "video": false, "img": false, "endvideo": true })
    </main>
    @@include('blocks/footer/footer.html')
  </body>
</html>
