<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Главная страница",
    "description": "Главная страница"
  })
  <body>
    <main>
      @@include('blocks/header/header.html', { "nologin": true, "login": false })
      @@include('blocks/menu/menu.html')
      @@include('blocks/lead/lead.html')
      @@include('blocks/tower/tower.html')
      @@include('blocks/about/about.html')
      @@include('blocks/timetable/timetable.html')
      @@include('blocks/slider-nav/slider-nav.html')
      @@include('blocks/lead/half-lead.html')
      @@include('blocks/themes/themes.html')
      @@include('blocks/lecturers/lecturers.html')
      @@include('blocks/reviews/reviews.html')
    </main>
    @@include('blocks/footer/footer.html')
  </body>
</html>
