<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Страница внутренностей",
    "description": "Страница внутренностей"
  })
  <body>
  <div class="px2px" style="margin-left: -999px;"></div>
    <main>
      @@include('blocks/header/header.html', { "nologin": true, "login": false })
      @@include('blocks/menu/menu.html')
      @@include('blocks/headline/headline-page-content.html')
      @@include('blocks/content/page-content.html')
    </main>
    @@include('blocks/footer/footer.html')
  </body>
</html>
