<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Регистрация участника",
    "description": "Регистрация участника",
    "dir": true, "root": false
  })
  <body>
    <main>
      @@include('blocks/panel/panel.html', {
      "reg": false,
      "login": false,
      "auth": false,
      "registration": false,
      "restore": false,
      "restoreok": false,
      "steps": false,
      "registration2": false,
      "payment": true,
      "registration3": false
      })
    </main>
  </body>
</html>
