<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Урок в профиле",
    "description": "Урок в профиле"
  })
  <body>
    <main>
      @@include('blocks/header/header.html', { "nologin": false, "login": true })
      @@include('blocks/menu/menu.html')
      @@include('blocks/profile/profile.html')
      @@include('blocks/headline/headline-profile.html')
      @@include('blocks/headline/headline-profile2.html')
      @@include('blocks/content/course-profile2.html')
    </main>
    @@include('blocks/footer/footer.html')
  </body>
</html>
