<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Регистрация участника",
    "description": "Регистрация участника"
  })
  <body>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="/assets/desktop/scripts/scripts.js"></script>
    <div class="px2px"></div>
    <main>
      @@include('blocks/panel/panel.html', {
      "reg": false,
      "login": true,
      "auth": false,
      "registration": true,
      "restore": false,
      "restoreok": false,
      "steps": false,
      "stepspayment": false,
      "registration2": false,
      "payment": false,
      "registration3": false
      })
    </main>
  </body>
</html>
