<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Регистрация студента",
    "description": "Регистрация студента",
    "dir": true, "root": false
  })
  <body>
    <main>
      @@include('blocks/panel/panel.html', {
      "reg": false,
      "login": true,
      "auth": false,
      "registration": false,
      "restore": false,
      "restoreok": false,
      "student": false,
      "steps": true,
      "stepspayment": false,
      "registration2": true,
      "payment": false,
      "registration3": false
      })
    </main>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="../assets/desktop/scripts/scripts.js"></script>
  </body>
</html>
