<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Восстановление пароля, проверьте почту",
    "description": "Восстановление пароля, проверьте почту",
    "dir": true, "root": false
  })
  <body>
    <main>
      @@include('blocks/panel/panel.html', {
      "reg": true,
      "login": false,
      "auth": false,
      "registration": false,
      "restore": false,
      "restoreok": true,
      "steps": false,
      "stepspayment": false,
      "registration2": false,
      "payment": false,
      "registration3": false
      })
    </main>
  </body>
</html>
