<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Страница семинара",
    "description": "Страница семинара",
    "dir": true, "root": false
  })
  <body>
    <main>
      @@include('blocks/header/header.html', { "nologin": true, "login": false })
      @@include('blocks/menu/menu.html', { "link4": "menu__item--active" })
      @@include('blocks/headline/headline-seminar.html')
      @@include('blocks/content/seminar.html')
    </main>
    @@include('blocks/footer/footer.html', { "dir": true, "root": false })
  </body>
</html>
