<!DOCTYPE html>
<html lang="ru" class="no-js">
  @@include('blocks/_base/head.html', {
    "title": "Список видео",
    "description": "Список видео"
  })
  <body>
    <main>
      <div class="px2px"></div>
      @@include('blocks/header/header.html', { "nologin": true, "login": false })
      @@include('blocks/menu/menu.html')
      @@include('blocks/headline/headline-lesson.html', { "endvideo": false })
      @@include('blocks/video-list/video-list.html')
    </main>
    @@include('blocks/footer/footer.html')
  </body>
</html>
