<div class="container">
  <div class="profile-wrap outline">

    <div class="user-info">
      <div class="user-info__photo">
        <div class="user-info__photo-wrap">
          <span><img src="../assets/images/aleksej-shtaryov.png" alt="Алексей Штарёв"></span>
        </div><!-- /.user-info__photo-wrap -->
      </div><!-- /.user-info__photo -->
      <div class="user-info__info">
        <div class="user-info__name"><span>Алексей Штарёв</span></div><!-- /.user-info__name -->
        <div class="user-info__position"><span>Исполнительный директор SeoPult</span></div><!-- /.user-info__position -->
      </div><!-- /.user-info__info -->
    </div><!-- /.user-info -->

    <div class="profile-nav">
      <ul class="profile-menu">
        <li class="profile-menu__item active"><a href="" class="profile-menu__link">Зачётная книжка</a></li>
        <li class="profile-menu__item"><a href="" class="profile-menu__link">Календарь</a></li>
        <li class="profile-menu__item"><a href="" class="profile-menu__link">Уведомления <span class="label-circle green"></span></a></li>
        <li class="profile-menu__item"><a href="" class="profile-menu__link">Достижения</a></li>
        <li class="profile-menu__item"><a href="" class="profile-menu__link">Сертификаты</a></li>
        <li class="profile-menu__item"><a href="" class="profile-menu__link">Настройки</a></li>
        <li class="profile-menu__item"><a href="" class="profile-menu__link">Подписки <span
          class="label-mini">скоро</span></a></li>
      </ul><!-- /.profile-menu -->
      <div class="profile-actions">

      </div><!-- /.profile-actions -->
    </div><!-- /.profile-nav -->

  </div><!-- /.profile-wrap -->
</div><!-- /.container -->

