<div class="container">
  <div class="pricing-wrap outline">

    <div class="box-header">
      <h2>Стоимость обучения</h2>
    </div><!-- /.box-header -->

    <div class="pricing-list">
      <div class="pricing">
        <div class="pricing__box">
          <div class="pricing-title">Демо доступ</div><!-- /.pricing-title -->
          <div class="pricing-info">Почувствуйте себя в роли студента</div><!-- /.pricing-info -->
          <div class="pricing-descr">
            <p>Пройдите 5 уроков и сдайте экзамен. Попробуйте, что бы понять подходит ли вам формат online-обучения</p>
          </div><!-- /.pricing-descr -->
          <div class="pricing__footer">
            <div class="pricing-title">бесплатно</div><!-- /.pricing__value -->
            <div class="pricing__actions">
              <a href="" class="btn btn-outline">Попробовать</a>
            </div><!-- /.pricing__actions -->
          </div><!-- /.pricing__footer -->
        </div><!-- /.pricing__box -->
      </div><!-- /.pricing -->
      <div class="pricing">
        <div class="pricing__box">
          <div class="pricing-title">Расрочка</div><!-- /.pricing-title -->
          <div class="pricing-info">Оплата обучения по частям</div><!-- /.pricing-info -->
          <div class="pricing-descr">
            <p>После каждого взноса, ученику открывается доступ к ограниченному числу курсов</p>
          </div><!-- /.pricing-descr -->
          <div class="pricing__footer">
            <div class="pricing__value">3 <span>&times;</span> 9 000 <span>руб</span></div><!-- /.pricing__value -->
            <div class="pricing__actions">
              <a href="" class="btn btn-green">Оплатить</a>
            </div><!-- /.pricing__actions -->
          </div><!-- /.pricing__footer -->
        </div><!-- /.pricing__box -->
      </div><!-- /.pricing -->
      <div class="pricing">
        <div class="pricing__box">
          <div class="pricing-title">Всё вместе</div><!-- /.pricing-title -->
          <div class="pricing-info">Разовый платёж за всю программу</div><!-- /.pricing-info -->
          <div class="pricing-descr">
            <p>Отличный мотиватор закончить начатое</p>
          </div><!-- /.pricing-descr -->
          <div class="pricing__footer">
            <div class="horizontal-label">Экономия 2 000 руб</div><!-- /.horizontal-label -->
            <div class="pricing__value">25 000 <span>руб</span></div><!-- /.pricing__value -->
            <div class="pricing__actions">
              <a href="" class="btn btn-green">Оплатить</a>
            </div><!-- /.pricing__actions -->
          </div><!-- /.pricing__footer -->
        </div><!-- /.pricing__box -->
      </div><!-- /.pricing -->
    </div><!-- /.pricing-list -->

  </div><!-- /.pricing -->
</div><!-- /.container -->
