.donut {
  position: relative;
  width: 24px;
  height: 24px;
}

.donut__copy {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 0;
  top: 0;
  left: 0;
  position: absolute;
}

.donut__title,
.donut__secondary {
  display: block;
  margin: 0;
  padding: 0;
}

.donut__title,
.donut__spic {
  color: lighten(#7a5bcf, 5%);
  font-weight: 200;
}

.donut__title {
  font-size: 12px;
  position: relative;
  animation: donutTitleFadeLeft 200ms 200ms cubic-bezier(.99, .01, .22, .94) forwards;
  opacity: 0;
  transform: translateX(0);
}

.donut__spic {
  position: absolute;
  top: 20px;
  font-size: 30px;
  line-height: 1em;
  content: "%";
  animation: donutTitleFadeRight 200ms 200ms cubic-bezier(.99, .01, .22, .94) forwards;
  opacity: 0;
  transform: translateY(-20px);
}

@keyframes donutTitleFadeLeft {

  from {
    opacity: 0;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(-10px);
  }
}

@keyframes donutTitleFadeRight {

  from {
    opacity: .2;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

$radius: 90;
$circumference: (3.1415926535897932384626433832795028841971693993751 * (2 * $radius));

.donut__svg {
  transform: rotate(-90deg);
}

.donut__svg__circle--one {
  stroke-dasharray: $circumference;
  stroke-dashoffset: $circumference;
  transition: stroke-dashoffset 1200ms cubic-bezier(.99, .01, .62, .94);
}
