<div class="container">
  <div class="where-you outline">

    <div class="where-you__box">
      <div class="where-you__icon"></div><!-- /.where-you__icon -->
      <div class="where-you__desc">
        <div class="where-you__text"></div>
        <div class="where-you__name"></div>
      </div><!-- /.where-you__text -->
      <div class="where-you__action">
        <a href="" class="btn btn-green">Продолжить</a>
      </div><!-- /.where-you__action -->
    </div><!-- /.where-you__box -->

  </div>
</div><!-- /.container -->
